/* HEADERRAREN ESTILOA*/

/* boostrapen defektuzkoa aldatzeko */
.navbar {
	margin-bottom:0px !important;
}
/* boostrapen defektuzkoa aldatzeko */
.navbar-default {
	border-color: #f8f8f8 !important;
}

.navbar-brand-berria {
	float: left;
	font-size: 35px !important;
	height: 70px !important;
	line-height: 0;
	padding: 20px !important;
}


#new-logo img
{
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:12px;
}

.header-main-links-med
{
	margin-left:52px;
}

.header-main-links
{	
	/*font-weight: 900;*/
	
	font-family: walsheim-bold-web;
	font-color: #333333 !important;
	font-size: 12px !important;
    text-transform: uppercase;
}

a.header-custom-link-underline span{
	border-bottom: 2px solid #333333;
	padding-bottom:5px;
	font-size:12px;
}

.header-custom-link-underline::after{
    position: absolute; 
    left: 14px; 
    bottom: 0; 
    width: 71%; 
    height: 1px; 
    /*border-bottom: 2px solid #333333;*/ 
    content: "";
}

.navbar-default .navbar-nav > li > a {
	color: #333333 !important;
}

.navbar-nav > li > a {
    padding-bottom: 4px;
    padding-top: 35px;
}

#hizkuntza_aukeraketa_id {
	margin:0;
}
/* erabiltzaile profila eta menua */
#home_menu{
	font-size:12px;
	position:relative;
}

#profile-menu {
	position: absolute;
}

.dropdown:hover .dropdown-menu {
	display: block;	
	top: 59px; 
	/*69=35(padding-top)+4(padding-bottom)+20(line-height) - the link containing the menu
	BUT!!- the li.dropdown parent height is 59. Thus we use 59, otherways interaction is buggy */
	width: 250px;
	position: absolute;
	alignment-adjust: right;
	float: right;
	z-index: 1002;
	left: inherit;
}
/* END erabiltzaile profila eta menua*/

/*BILAKETA -KUTXA */

.bilatzailea-kutxa {
	padding: 21px;	
	border-radius: 0px !important;
	z-index:1003;	
}

#search_input{
	border-radius:0;
	border: 1px solid #999999;
}

#search_icons{
	position:absolute;
	right:2px;
	height:100%;
	z-index:1002;
	border-left: 1px solid #eeeeee;	
}

#search_icons button{
	padding:3px !important;
	position:relative;
	height:80%;
	top:10%;
	margin-left:2px;
}

@media screen and (max-width: 640px){
	#search_icons{
		right:45px;			
	}	

	#search_lang_div:after{
		margin-right: -34px;
	}
}


#search_icons button:hover{
	background:none;	
}
	
#search_lang_div{
	display:inline;
}

/* search options dropdown*/
#search_lang_div:after{
	content: '\e922';
    font: normal normal normal 12px/1 ob-icons;
    color: #333333;
    right: 10%;
    top: 25%;    
    position: absolute;
    pointer-events: none;
}

#search_lang{	
	border:none;
	border-radius:0;
	height:80%;
	top:10%;
	position:relative;
	-moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    outline-width: 0;
    margin-right:2px;
    min-width:25px;
}

#search_lang option{
	font-size: 12px;
	font-family:walsheim-bold-web;
}
/* INTERFAZEKO HIZKUNTZA AUKERATZEKO LINKAK*/

.interf-lang{
 	padding-right: 0px !important;
 	font-size: 10px !important ;
}

.header-interface-lang
{		
	color: #333333;
	font-size: 14px;
}


@media only screen and (min-width: 991px) and (max-width: 1086px){
	.nav > li > a {
		padding:10px;
	}
}


