html,body {
    padding:0px;
    margin:0px; 
    height:100%;
}
.bg {
    width: 100%;
    height:100%;
    padding:30px 0;
}


/**************************************************************
	 force the navigator to always appear in landscape mode
****************************************************************/
#landscapeBody { 
	display:block; 
}

@media only screen and (orientation:portrait){
	
	#landscapeBody {
		height: 100vw;
    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	-o-transform: rotate(90deg);
    	-ms-transform: rotate(90deg);
    	transform: rotate(90deg);
  	}
}
@media only screen and (orientation:landscape){

	#landscapeBody {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
  	}

}


/**********************
  main navigator window 
 **********************/
#back-image{
	height:100%;
	width:100%;
	position:absolute;
	z-index:1000;
}

img.navigator_bckgrnd {
	height:100%;
	width:100%;
	padding:30px;
}
.crop-80 {
	padding:3% 10% !important;
}

/* main window buttons */
#buttons{
	position:absolute;
	right:0;
	z-index:1001;
}

#buttons ul{
	list-style:none;
	float:right;
}

#buttons li{
	display:inline-block;
}

#buttons > ul > li {
	/*width: 50px;
	height:50px;*/
	text-align:center;
	vertical-align:middle;
}
/* END main window buttons */



/*** navigator content ***/
#navigator-content {	
	width:100%;
	height:100%;
	position:relative;
}

#item-view {
	width:54%;
	position:absolute;
	top:20%;
	left:6%;
	z-index:1001;	
	height:60%;
}


#item_preview-element {
	height:100%;
}

.no-irudi-item{	
	height:90%;
	overflow:none;
	
}
/* item preview image styling and scale */



#item_img {
	display:block;
	border:none;
	padding:0;
	max-height:100%;
}

#item_img img{
	width:100%;	
}


#license_info {
	margin: 5px;
	font-size:10px;
}
#license_info > ul {
	display:table;
	width:80%;
}

#license_info > ul > li {
	display:table-cell;
	padding: 0 5px;
}

#qr_code_create_link {
	color: #eeeeee !important;
}
/* END item preview image styling and scale */


#item-description{
	width:50%;
	position:absolute;
	bottom:95px;
	right:0;
	z-index:1001;
	padding: 60px 30px 20px 20px; /*originally 80 30 20 20 */
	height: 50%;
}

.item-info-description,.path-info-description {
	font-size: 18px;
	line-height: 22px;
	background:transparent;
	font-family:walsheim-light-web;
}

div.item-info-description a {
	color: #666;	
}

div.item-info-description a:hover {
	color: #999;	
}


.ul-mota {
	list-style:none;
	padding:0;
}

.ul-mota li{
	text-align:center;	
}
li.li-mota span{
	border-bottom: 3px solid #000000;
	padding: 5px;
}


#navigator-item-info {
	padding:10px 10px 0 10px;
	height:100%;
}

#navigator-item-info h2 {
	margin-bottom:10px;
}

/*** END navigator content ***/

/* END main navigator window */


/**********************
 control panel 
 **********************/
#control-panel {
	bottom:30px;
	width:100%;
	position:fixed;
	height:95px;
	z-index:1002;
}


#ctrlpanel-logo img{
	width:50px;
	
}

.ctrlpanel-line{
	margin-bottom:0;
	line-height:25px;
}

.ctrlpanel-title{
	font-size: 9px;
}

.ctrlpanel-path-title{
	font-size: 24px;
	font-family:walsheim-light-web;
}

#panel-elements, #fwrd-bckwrd, #ctrlpanel-info { 	 	
 	height:100%;
 	display:flex;
 	align-items:center;
 	margin:0;
}
 
#panel-elements li, #fwrd-bckwrd li, #ctrlpanel-info li{
 	display:inline-block;
 	padding:20px 20px;
}

#panel-elements {
	padding-left:25%; /*this is a hack because the li elements are not centered inside the ul*/
}
 
#panel-elements li{
 	display:inline-block;
 	padding:20px 20px;
 	font-size:48px;
}
 

 
#control-panel a{
	color: #f8f8f8 !important;	
}

#control-panel a:hover{
	color: #f8f8f8 !important;	
}

/* END control panel */

/**********************
  path map modal window 
 **********************/
#modaloverview .modal-dialog {
	width:80%;
}

/* END path map modal window */


/**********************
    Media Queries 
 **********************/

@media only screen and (max-width:991px){

	/* control panel */
	.ctrlpanel-path-title{
		font-size: 22px;		
	}
	
	 #fwrd-bckwrd{
	 	padding:0;
	 }
	 
	 #item-description{
	 	padding: 40px 20px 20px 20px;
	 }
	/* END control panel */
	
}


