/* HEADERRAREN ESTILOA*/

#new-logo img
{
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:12px;
}

.header-main-links
{
	
	font-weight: 900;
	color: #000;
    text-transform: uppercase;
}
/*
.header-custom-link-underline::after{
    position: absolute; 
    left: 14px; 
    bottom: 0; 
    width: 71%; 
    height: 1px; 
    border-bottom: 3px solid #000; 
    content: ""
}
*/
.navbar-default li {
	font-size: 14px;
	padding: 0 15px 0 0;
	color: #000;
	/*text-decoration: none;*/
}

.navbar-default .navbar-nav > li > a {
	/*color: #31708f !important;*/
}

.navbar-nav > li > a {
    padding-bottom: 4px;
    padding-top: 35px;
}

.bilatzailea-kutxa {
	padding: 20px;
	
}