/* HEADERRAREN ESTILOA*/

/* boostrapen defektuzkoa aldatzeko */
.navbar {
	margin-bottom:0px !important;
}
/* boostrapen defektuzkoa aldatzeko */
.navbar-default {
	border-color: #f8f8f8 !important;
}

#new-logo img
{
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:12px;
}

.header-main-links-med
{
	margin-left:52px;
}
.header-main-links
{	
	/*font-weight: 900;*/
	
	font-family: walsheim-bold-web;
	font-color: #333333 !important;
	font-size: 12px !important;
    text-transform: uppercase;
}


.header-custom-link-underline::after{
    position: absolute; 
    left: 14px; 
    bottom: 0; 
    width: 71%; 
    height: 1px; 
    border-bottom: 2px solid #333333; 
    content: ""
}

.navbar-default .navbar-nav > li > a {
	color: #333333 !important;
}

.navbar-nav > li > a {
    padding-bottom: 4px;
    padding-top: 35px;
}


#home_menu{
	font-size:12px;
}


/*BILAKETA -KUTXA */

.bilatzailea-kutxa {
	padding: 21px;
	margin-left:0px;
	border-radius: 0px !important;
	margin-left:50px;
}

#search_input{
	border-radius:0;
}

#search_icons{
	position:absolute;
	float:right;
	padding-right:50px;
}


/* INTERFAZEKO HIZKUNTZA AUKERATZEKO LINKAK*/

.interf-lang{
 	padding-right: 0px !important;
 	font-size: 10px !important ;
}

.header-interface-lang
{		
	color: #333333;
	font-size: 14px;
}





