/* LETRA TIPO BERRIAK*/
@font-face {
    font-family: "walsheim-web";
    src: url("../fonts/gt-walsheim-web.ttf") format("truetype");
}
@font-face {
    font-family: "walsheim-light-web";
    src: url("../fonts/gt-walsheim-light-web.ttf") format("truetype");
}
@font-face {
    font-family: "walsheim-bold-web";
    src: url("../fonts/gt-walsheim-bold-web.ttf") format("truetype");
}


/* KOLOREAK */

.kolore-video {
	color:#FF563D !important;
}
.kolore-video img{
	color:#FF563D !important;
}
.kolore-text {
	color:#FFDA3E !important;
}
.kolore-image {
	color:#40D7FF !important;
}
.kolore-sound {
	color:#5AED64 !important;
}

/* hasierako patailan: data, gehiago ikusiren gezia...*/
.kolore-txuria { 
	color:#FFFFFF !important;
}
.kolore-beltza { 
	color:#000000 !important;
}

/* FONDO KOLOREAK */

.backgrnd-video {
	background-color:#FF563D !important;
}
.backgrnd-video img{
	background-color:#FF563D !important;
}
.backgrnd-text {
	background-color:#FFDA3E !important;
}
.backgrnd-image {
	background-color:#40D7FF !important;
}
.backgrnd-sound {
	background-color:#5AED64 !important;
}

.backgrnd-gris-0 {
	background-color:#f8f8f8 !important;
}
.backgrnd-gris-bat {
	background-color:#eeeeee !important;
}
.backgrnd-gris-bi{
	background-color:#999999 !important;
}
.backgrnd-gris-hiru {
	background-color:#666666 !important;
}
.backgrnd-gris-lau {
	background-color:#333333 !important;
}
.backgrnd-gris-9598 {
	background-color:#95989A !important;
}

.backgrnd-gris-ccc {
	background-color:#CCCCCC !important;
}

/* ertz koloreak */
.border-video {
	border:1px solid #FF563D !important;
}
.border-text {
	border:1px solid #FFDA3E !important;
}
.border-image {
	border:1px solid #40D7FF !important;
}
.border-sound {
	border:1px solid #5AED64 !important;
}


/* hasierako patailan: data, gehiago ikusiren gezia...*/
.kolore-txuria { 
	color:#FFFFFF !important;
}
.kolore-beltza { 
	
	color:#000000 !important;
}

.backgrnd-beltza {
	background-color:#000000 !important;
}

.backgrnd-txuria {
	background-color:#FFFFFF !important;
}
a {
	color: #333333; 
}

a:hover {
	color: #666666; 
	text-decoration:none;	
}

a.kolore-gris-bat:hover {
	color: #999999;
	text-decoration:underline;
}


/*
kolore grisak: - zero argiena
*/
.kolore-gris-0 { 
	color:#f8f8f8 !important;
}

.kolore-gris-bat { 
	color:#eeeeee !important;
}

.kolore-gris-ccc {
	color:#cccccc !important;
}

.kolore-gris-bi { 
	
	color:#999999 !important;
}

.kolore-gris-9598 {
	color:#95989A !important;
}

.kolore-gris-hiru { 
	
	color:#666666 !important;
}
.kolore-gris-lau { 
	
	color:#333333 !important;
}




/*******************************************************************************
 estilo orokorrak, normalean definitutako klaseek dituztenak gainidazteko
 ******************************************************************************/
 .top-padding-0 {
 	padding-top: 0 !important;
 }
 
 .left-padding-0 {
 	padding-left: 0 !important;
 }
 
 .right-padding-0{
 	padding-right: 0 !important;
 }
 
 .bottom-padding-0{
 	padding-bottom: 0 !important;
 }
 
 .padding-0{
 	padding:0 !important;
 }
 
 .padding-15{
 	padding:15px !important;
 }
 
 .padding-10{
 	padding:10px !important;
 }
 
 .margin-0{
 	margin:0 !important;
 }
 
 .margin-0{
 	margin:0 !important;
 }
 
.eskuma {
	float: right;
	text-align:right;
}
.ezkerra {
	float: left;
}
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

.bold {
	font-family:walsheim-bold-web;
}

b{
	font-family:walsheim-bold-web;
}


i {
	font-style:italic;
}

.capitalize {
	text-transform: capitalize;
}

.btn {
	border: none !important;
	border-radius: 0 !important;
	padding:0 !important;
}

.relative{
	position:relative;
}

.azpimarra-gris{
	padding-bottom:1px;
	border-bottom: 1px solid #95989A;
}

.bottom-align{
	position:absolute;
	vertical-align:bottom;
}

.no-hover:hover {
	text-decoration:none;
}

.form-control, .well {
	border-radius:0px;
}

.full-width{
	width:100% !important;
}

p.separator{
	width:100%;
	margin-bottom:5px;
	
}

/* checkbox styles*/

input[type="checkbox"]{
	display:none;	
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    border-radius:0;
    border:1px solid #666666;
    cursor:pointer;
    color: rgba(0, 0, 0, .05);
    padding:3px 0 0 2px;    
}
input[type="checkbox"]:checked + label span {
    color: rgba(0, 0, 0, 1);
}

input[type="checkbox"] + label span i{
    font-size:11px;    
}

.pagination{
	width:100%;
}

.pagination span.step-links{
	float:right;
	font-size:16px;
	font-family:walsheim-light-web;
}

.indent{
	padding-left:20px;
}


 /*****************************
  END estilo orokorrak
  *****************************/


/* Ikono estiloak */
.mota-icon {
	width:10px;
	margin:5px;
	vertical-align:bottom;
}

.circle-back { 
   background: #eeeeee; 
   -moz-border-radius: 50%; 
   -webkit-border-radius: 50%; 
   border-radius: 50%;
   padding:10px;
   color:#333333;
}

.square-back { 
   background: #333333; 
   padding:10px !important;  
   display:block; 
}

.square-back-lg { 
   background: #333333; 
   padding:15px;
   display:block;   
}

.square-back-vert-padding { 
   background: #333333; 
   padding:10px 0 !important;  
   display:block; 
}


.overlay-icon{
	width: 15%;
	transition: .5s ease;
	position: absolute;
	top: 75%;
	left: 80%;
	z-index: 1000;
	opacity:1 !important;
	background: transparent !important;
}

.ob-fire-overlay{
	transition: .5s ease;
	position: absolute;
	z-index: 1000;
	opacity: 1 !important;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #333333 !important;
	padding: 3px;
	font-size: 6px;
	bottom: 5%;
	right: 5%;
}

.ob-fire-overlay-lg{
	transition: .5s ease;
	position: absolute;
	z-index: 1000;
	opacity: 1 !important;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #999999 !important;
	padding: 3px;
	font-size: 6px;
	bottom: 8%;
	right: 8%;
}

a#alert-close-button{
	font-size:8px;
}

.d3label{
	text-decoration: none;
	color:#000000;
	font-size: 14px;
	line-height:19px;
	font-family: walsheim-web,Dosis, sans-serif;
}

/* END Ikono estiloak */

/* custom modal dialog styles*/
.modal-dialog {
	width: 60%;
}

.modal-content {
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-top: solid 5px #FFDA3E !important;
    border-bottom: solid 5px #FF563D !important;
    border-left: solid 5px #40D7FF !important;
    border-right: solid 5px #5AED64 !important;
     
}

.modal-title{
	color:black !important;
	font-weight: bold !important;
}

.modal-body h4 {	
	margin:10px 0px 20px 0px;
}

#login-modal {
	width:40%;
	left:auto;
}
/* End of modal dialog styles*/


/* overlays */
div.dark-overlay {
	transition: .5s ease;
	position: absolute;
	background: rgba(0, 0, 0, 0.2);
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

div.dark-overlay-full {
	transition: .5s ease;
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
/* END overlays */

/* read more... estekak */ 
a.morelink {
	text-decoration: none;
	outline: none;
}
.morecontent span {
	display: none;
}
.aRight {
	float: right;
}

/* END read more... estekak */

/* iruzkinak _comments.html*/
div#comments {
	padding-top:10px;
}

.comment {
	/*width: 400px;*/
	margin: 10px;
}

.comment-icon{
	float:left;
	font-size:16px;
}

.comment-response-id{
	padding:2px;
}

.comment-response-form{
	margin:0 0 15px 0 !important;
}

/* END iruzkinak _comments.html*/


/* Scroll bar style*/
.scrollbar{
    overflow-y:auto;
    scrollbar-base-color: #F8F8F8;
    scrollbar-track-color: #333333;
    
}

.scrollbar::-webkit-scrollbar{
	width: 6px;
    background-color: #F8F8F8;
    padding:10px 0px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #333333;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

/* END scroll bar style*/

/* QR code link and modal styles */
#qr_code{
	text-align:center;
}

#qr_code_create_link i {
	font-size:16px;	
	vertical-align:bottom;
}

#qr_code_create_link {
	font-family:walsheim-bold-web;	
}

#qr_code_create_link:hover {
	text-decoration: none;
}	
/* END QR code link and modal styles */


/* Botoien estiloak */
.to-footer-alone{
    margin-top:30px;
}

.to-footer{
   	/*bottom and right are specified to position the button below the form aligned in the footer*/
	position:absolute;
	bottom: -56px; 
 	right:15px;
}

/* END Botoien estiloak */

div.index-extra-background{
	position: absolute;
    width: 100%;
    padding-top:200px;
    height:150px;
}

