

.logo_ob_oina {
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	padding-left:15px;
	min-height:80px;
}

.logo_ob_oina img {
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:0px;
}

.oina-text-bat{
	margin: 10px 0 0 0;
	padding-left:15px;
	font-family: walsheim-bold-web;
	color:#333333;
	font-size: 12px !important;
	
}
.oina-desk {
	padding: 0 30px 0 15px;
	font-size: 9px !important;
	margin:0;
}

.gara-title {
	font-family: walsheim-bold-web;
	font-size: 12px !important;
	margin-bottom: 20px;   
   
}
.logo-gm {
	margin-right: -14px;
}


.logo-dss {
	margin-right: -30px;
}

.logo-dss img {
	margin-top: 9px;
	height: 24px;	

}

.logo-em {
	margin-right: -58px;
}
.logo-em img {

	height: 24px;
    margin-top: 10px;

}
.logo-elh {
	margin-right: -48px;
}
.logo-elh img {

	height: 24px;
    margin-top: 10px;

}

.logo-ehu {
	margin-right: -58px;
}
.logo-ehu img {

	height: 32px;
    margin-top: 10px;

}
.logo-ixa {
	margin-right: -14px;
}

.logo-ixa img {

	height: 32px;
    margin-top: 10px;

}
