

.logo_ob_oina {
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:12px;
}

.logo_ob_oina img {
	width:117px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:0px;
}
.oina-marra {
	
	
	border-bottom: 2px solid #FF563D; 
	
}

.oina-text-bat{
	margin-left: 4px;
	font-family: walsheim-bold-web;
	color:#333333;
	font-size: 12px !important;
	
}
.oina-desk {

	margin-left: 12px;
	font-size: 11px !important;
}

.gara-title {
	font-family: walsheim-bold-web;
	font-size: 14px !important;
	margin-bottom: 20px;   
    margin-top: 137px;
}
.logo-gm {
	margin-right: -14px;
}


.logo-dss {
	margin-right: -30px;
}

.logo-dss img {
	margin-top: 9px;
	height: 24px;	

}

.logo-em {
	margin-right: -58px;
}
.logo-em img {

	height: 24px;
    margin-top: 10px;

}
.logo-elh {
	margin-right: -48px;
}
.logo-elh img {

	height: 24px;
    margin-top: 10px;

}

.logo-ehu {
	margin-right: -58px;
}
.logo-ehu img {

	height: 32px;
    margin-top: 10px;

}
.logo-ixa {
	margin-right: -14px;
}

.logo-ixa img {

	height: 32px;
    margin-top: 10px;

}
