/* LETRA TIPO BERRIAK*/
@font-face {
    font-family: "walsheim-web";
    src: url("../fonts/gt-walsheim-web.ttf") format("truetype");
}
@font-face {
    font-family: "walsheim-light-web";
    src: url("../fonts/gt-walsheim-light-web.ttf") format("truetype");
}
@font-face {
    font-family: "walsheim-bold-web";
    src: url("../fonts/gt-walsheim-bold-web.ttf") format("truetype");
}


/* KOLOREAK */

.kolore-video {
	color:#FF563D;
}
.kolore-video img{
	color:#FF563D;
}
.kolore-text {
	color:#FFDA3E;
}
.kolore-image {
	color:#40D7FF;
}
.kolore-sound {
	color:#5AED64;
}

/* hasierako patailan: data, gehiago ikusiren gezia...*/
.kolore-txuria { 
	
	color:#FFFFFF;
}
.kolore-beltza { 
	
	color:#000000;
}

/*
kolore grisak: - zero argiena
*/
.kolore-gris-0 { 
	color:#f8f8f8;
}

.kolore-gris-bat { 
	
	color:#eeeeee;
}
.kolore-gris-bi { 
	
	color:#999999;
}
.kolore-gris-hiru { 
	
	color:#666666;
}
.kolore-gris-lau { 
	
	color:#333333;
}




/* estilo orokorrak, normalean definitutako klaseek dituztenak gainidazteko*/
 .top-padding-0 {
 	padding-top: 0;
 }
 /* END estilo orokorrak*/


/* Ikono estiloak */
.mota-icon {
	width:1em;
	margin:5px;
	vertical-align:bottom;
}

.circle-back { 
   background: #eeeeee; 
   -moz-border-radius: 50%; 
   -webkit-border-radius: 50%; 
   border-radius: 50%;
   padding:10px;
   color:#333333;
   margin:10px;
}

.square-back { 
   background: #333333; 
   padding:10px;   
}

/* END Ikono estiloak */

body {
	font-family: walsheim-web, Verdana, Arial, sans-serif;
	color:#333333;
}


#qr_code{
	text-align:center;
}

#qr_code_create_link span{
	font-size:24px;
}


.d3label{
	text-decoration: none;
	color:#000000;
	font-size: 14px;
	line-height:19px;
	font-family: walsheim-web,Dosis, sans-serif;
}

i {
	font-style:italic;
}


.page_head {
	height: 200px;
}
.headerra {
	background-color: #d9edf7;
}
.titulu-kolorea {
	color: #31708f !important;
}
.autocompleteItem {
	padding: 25px;
}
.autocomplete_irudia {
	min-height: 120px;
	max-height: 120px;
	background-size: contain;
}



#SERVICE {
	padding-top: 20px !important;
}
#item_img {
	margin: 5px;
}
#license_info {
	margin: 5px;
}
#license_info ul li {
	width:49%;
	padding:0px;
}

#license_info ul li.ezkerra {
	width:70%;
	padding:10px 15px;
}

#license_info ul li.eskuma {
	width:30%;
	text-align:right
}
#nabigMenu_titulu {
	text-align:center;
}

#nabigMenu {
	width: 100%;
	border-top:1px solid #C8C8C8;
}


.path-titulu-legend{
	font-size: 16px;
	padding: 8px;
	color: #c03035;
	text-decoration: none;
	text-align:right;
}
.path-titulu-icon{
	font-size: 14px;	
	color: #c03035;
	text-decoration: none;	
}

#nabigMapa{
	margin:10px 0 10px 0;
}

#autoplay{
	float:right;
	padding: 3%;
	margin-right:10px;
}

/* Bilaketa orrietako emaitzen bistaratea : cross_search.html */

.search-result {
	background: #eeeeee; /*#f8f8f8;*/
	margin:5px 0 5px 0;
	padding: 5px 0px 5px 10px;
	
}

.search-result div.thumbnail {
	margin: 10px 0 10px 0;
}

.search-result div.caption {
	float:left !important;
}

ul.caption-info {
	float:left;
	display:block;
	list-style:none;
	margin:0;
	padding:20px;
}

ul.caption-info li{
	float:left;
	text-align:left;
	width:100%;
}

.search-result div.kudeaketa {
	float:right;
	padding:0;
}

.button-row{
	list-style:none;
	margin: 5px 0 5px 0;
	padding:0;	
	float:right;
	display:block;
}

.button-row li{
   margin:1px;
	
}
.bilaketaEmaitza {

	/*background-image: url("/home/maddalen/Documents/Aptana Studio 3 Workspace/KULTURBIDEAK/src/KULTURBIDEAK/kulturbideak_app/media/uploads/NoIrudiItem.png");*/
	/*background-image: url("/uploads/NoIrudiItem.png");*/
	min-height: 120px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.bilaketaEmaitzaPath {

	/*background-image: url("/uploads/NoIrudiBide.png");*/
	min-height: 120px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.nabigItem {
	min-height: 300px;
}

.ezkmarg0 {
	margin-left: 0px;
}
.emaitzaInfo {
	text-align: right;
	color: #337ab7;
	font-family: walsheim-web, dosis !important;
}
img.ob_thumbnail {
	width: 120px !important;
	height: 120px !important;
}


.thumbnail img {
	background:black;
}
.dark-overlay {
	transition: .5s ease;
	background: black;
	opacity: 0.3;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

.dark-overlay-1 {
	background: black;
	opacity: 0.3;
}
/* END Bilaketa orrietako emaitzen bistaratea : cross_search.html */

/* Workspace / Lan eremua */
#workspace {
	position: fixed;
	width: 80%;
	min-width: 800px;
	left: 10%;
	text-align: center;
	z-index: 10000;
}

#workspace_boxes {
	overflow: auto;
	display: block;
	height: 0;
	border: 1px solid #808080;
	background: #eeeeee;
	opacity: 0;
	-webkit-transition: height 1s, opacity 1s ease-in-out;
	transition: height 1s, opacity 1s ease-in-out;
	width: 100%; /* lan-eremua isterakoan izkina batera ez joateko gehitu da*/
}

.open {
	height: 450px !important;
	opacity: 100 !important;
}

.close {
	overflow: hidden !important;
}


.ws_box {

	cursor: move;
	display: inline-block;
	height: 100px; /* MAD */
	margin: 4px;/* MAD */
	padding: 10px;
	vertical-align: top;
	width: 97px;/* MAD */
}

.wsb_image {
	border-radius: 50%;
	float: left;
	height: 50px;
	margin-right: 10px;
	pointer-events: none;
	width: 50px;
	border-style: solid;
	border-width: 1.5px;
	/*border-color: orange lightblue blue yellow;*/
	border-color: #333333;/*31708f;*/
}

.wsb_title {
	display: inline-block;
	font-size: 10pt;
	pointer-events: none;
}

.saveberria{
	float: right;
}
.wsb_button {
	cursor: pointer;
	display: inline-block;
	visibility: hidden;
	font-size: 11pt;
	font-weight: bold;
	float: right;
	margin: 2px;
	color: #c03035;
}

.ws_box:hover .wsb_button {
	visibility: visible;
}

.ws_box_over {
	border: 1px dotted #808080;
	background: #d3d3d3;
}

.wsb_typeImage{
	cursor: pointer;
	display: inline-block;
	font-size: 12pt;
	/*font-weight: bold;*/
	float: right;
	margin: 2px;
	color:#333333;/*31708f;*/
	/*border: 1px dotted #808080;*/
	/*background: #d3d3d3;*/
}

.ws_box:hover .wsb_typeImage {
	visibility: hidden;
}

/* END - Workspace / Lan eremua */

/* Path edition panel */
#path_boxes_egunekoa {
	width: 98%;
	height: 600px;
	display: block;
	margin-top: 20px;
	background: ;
	resize: both;
	/*overflow: auto;*/
}
#path_boxes_overview {
	width: 100%;
	/*min-height: 400px;*/
	height: 600px;
	display: block;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	margin: 20px 0 20px 0;
	background: ;
	overflow: auto;
	resize: both;
	/* overflow: auto;*/
}

#path_boxes_overview svg {
	width: 100%;
	height: 100%;
}

#path_boxes {
	width: 98%;
	height: 600px;
	display: block;
	border: 1px solid #808080;
	margin-top: 20px;
	background: ;
	overflow: auto;
	resize: both;
}

#path_boxes svg {
	width: 100%;
	height: 100%;
}

.pb_box {
	cursor: move;
	fill: transparent;
	stroke: #000000;
	stroke-width: 1;
}

.pb_box_overview {
	cursor: move;
	fill: transparent;
	stroke: #000000;
	stroke-width: 1;
	height: 50;
}

.pb_box_back {
	fill: #ffffff;
}

.pb_box_back_nabarmendu {
	fill: #FFEBFF;
}
.pb_box_back_overview {
	fill: #F3F3F3;
}

.pb_box_title {
	font-size: 12pt !important;
}

.pb_box_image {
}

.pb_box_back_moving {
	fill: #808080;
	opacity: 0.5;
}

.pb_box_delete_button {
	cursor: pointer;
	font-weight: bold !important;
	font-size: 10pt !important;
}
.pb_box_delete_button {
	cursor: pointer;
	fill: #808080 !important;
	font-weight: bold !important;
	font-size: 10pt !important;
}

.pb_box_delete_button:hover {
	fill: #000000 !important;
}

/* END - Path edition panel */

.orria, .orria2 {
	display: block;
	margin: 0 auto;
	padding-top:40px;
	/*text-align: center;*/
}
	
.ezkerra_div {
	width: 15%;
	min-height: 500px;
	display: inline-block;
	background: white;
	vertical-align: top;
	text-align: left;
	color: #333333;/*31708f;*/
}

#eguneko_itema img {
	width: 97%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

#eguneko_ibilbidea img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 97%;
}

.crossingPaths {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

#crossingPaths {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.content_div {
	width: 65%;
	min-height: 500px;
	display: inline-block;
	background: white;
	vertical-align: top;
	margin: 0 20px;
	text-align: left;
}

.erabiltzaile-menua {
	font-size: 9pt;
	margin-top: 0.5em;
	font-size: 9pt;
	text-align: right;
}

#ws_botoia_barruan{
	position:relative;
	height:10px;
}

#ws_botoia_kanpoan{
	
	/*text-align: center;*/
	width:100%;
	height:100%;
	position:absolute;
	vertical-align:middle;
	text-align:center;"
}


.pathBotoia {
	position:absolute; 
	right:125px;
	top:3px;
}
.pathBotoia_kanpoan{
	/*background-color:"wheat";*/
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:0%;
	margin-bottom:0%;
}


.footer {
	bottom: 0;
	position: fixed;
	text-align: fixed;
	background: #F0FFFF;
	width: 95%;
}
.hizkuntzak_class {
	float: left;
	width: auto;
}
.ulhizkuntzak {
	font-size: 13px;
}
.ulhizkuntzak li {
	float: left;
	padding: 0px 6px 0px 6px;
	border-right: 2px solid #FFFFFF;
	color: #333333;/*31708f;*/
}
.ulhizkuntzak li:last-child {
	border-right: 0px;
}
#header-content {
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
}
.ulNon {
	margin: 3px 0px 0px 0px;
	float: left;
}
.ulNon li {
	float: left;
	padding: 0px 6px 0px 6px;
	border-right: 1px solid #928a83;
	font-size: 13px;
}
.ulNon li:last-child {
	border-right: 0px;
}
.ulNon li a {
	color: #928a83;
}
.ulNon li.active a {
	font-family: walsheim-web, "MetaBold", Helvetica, Arial, Verdana, sans-serif;
	color: #60554b;
}
.ibilbide-panela {
	width: 98%;
}
.info {
	color: #337ab7;
}
.dropdown:hover .dropdown-menu {
	display: block;
	right: 20px;
	top: 0px;
	margin-top: 70px;
	width: 300px;
	position: absolute;
	alignment-adjust: right;
	float: right;
	z-index: 1000000000;
	left: inherit;
}

.text-center {
	text-align: center;
}
.laguntza {
	color: #9e8012;
	font-family: walsheim-web, Dosis !important;
}

/* bilaketa filtroen estiloak*/
.filtroak {
	color: #000000;
	text-align:left;
	padding-left:5%;
	vertical-align:top;
	display: inline-block;
	min-height: 500px;
	margin-bottom: 20px;
	width:90%;
}

.filter-main-title{
	color:#999999;
}

.filter-title{
	border-bottom: solid 1px #CCCCCC;	
	padding-bottom:5px;
}
.filter-title span {
	font-weight: 700;	
}

.filterButton {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	float:right;
	color: #CCCCCC;
}

/*END bilaketa filtroen estiloak*/

.thumb-128 {
	height: 128px;
	line-height: 128px;
	padding: 4px;
	width: 128px;
	max-height: 100%;
	max-width: 100%;
}
.eskuma {
	float: right;
	text-align:right;
}
.ezkerra {
	float: left;
}
/*#nabigMenu_botoiak {
 border: 1px solid lightgrey;
 border-radius:10px;
 }*/
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}


#nabigMenu_botoiak ul {
	width: 40%;
	padding: 2px;
	list-style-type: none;
	
}

#nabigMenu botoiak ul h3 {
	margin-top:10px;
}


#nabigMenu_botoiak ul li {
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin: 2px 0px;
	height:24px;
	line-height:24px;
}
#nabigMenu_botoiak .eskuma button {
	margin: 2px 0px 2px 0px;
	width: 100%;
	text-align: right;
}
#nabigMenu_botoiak .ezkerra button {
	margin: 2px 0px 2px 0px;
	width: 100%;
	text-align: left;
}

.aurkezpena {
}
.path_sarrera {
	overflow: hidden;
}
/* HEADERRAREN ESTILOA*/

/* Maddalen
#brand-logo img {
	width:230px;
	
}

.navbar-brand{
	margin-top:25px;
}

.index-brand{
	margin-left:200px;
}

#brand-logo.index-brand img {
	margin-top:10px;
}
*/
/* Maddalen
#hizkuntza_aukeraketa_id{
	position:absolute;
	width:150px;	
}

#hizkuntza_aukeraketa_id ul{
	list-style:none;
	padding:0px;
}

#hizkuntza_aukeraketa_id ul li{
	display:inline-block;
	border-right: 1px solid #ccc;
	padding: 0px 10px 0px 5px;
	margin-top: 10px;
	line-height: 14px;
}


.last_li {
	border-right:0px !important;	
}
*/
.navbar-default-berria .navbar-brand-berria {
	color: #31708f !important;
}
.navbar-brand-berria {
	float: left;
	font-size: 35px !important;
	height: 70px !important;
	line-height: 0;
	padding: 20px !important;
}
/* Maddalen
.navbar-default .navbar-nav > li > a {
	color: #31708f !important;
}

.navbar-nav > li > a {
	padding-bottom: 15px !important;
	padding-top: 35px !important;
}

.bilatzailea-kutxa {
	padding: 20px;
	margin-left:15px;
}
*/
.kolorea {
	background-color: #31708f !important;
	border-color: #31708f !important;
	color: #fff;
}
.table-barrukoa {
	font-size: 15px !important;
}

tr.spaceUnder > th {
	padding-bottom: 0.1em;
}

a.morelink {
	text-decoration: none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	/*width: 400px;*/
	margin: 10px;
}
.aRight {
	float: right;
}

/*CSS svg*/

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	stroke: #499;
	stroke-opacity: .6;
	fill: none;
}
circle .selectedNode {
	width: 50px;
	height: 50px;
	stroke-width: 3px;
	stroke: 'red';
}

circle .unselectedNode {
	width: 50px;
	height: 50px;
	stroke: steelblue;
	stroke-width: 3px;
}

.templink {
	fill: none;
	stroke: none;
	stroke-width: 3px;
}

#logoa {
	margin-top: -10px;
	width: 195px;
}
.btn-common {
	border: 0px solid #0099ae;/* 1px solid #0099ae;*/
	color: #0099ae;
	font-family: walsheim-web, "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	padding: 0px;/*7px 15px;*/
	background: none;
}

.path-name h2 {
	margin-bottom: 15px;
	margin-top: 0;
	/*color: #686868;*/
	font-size: 24px;
	font-family: walsheim-web,"dosis" !important;
	font-weight: 300;
}
.path-name2 h2 {
	margin-bottom: 15px;
	margin-top: 0;
	/*color: #686868;*/
	font-size: 30px;
	font-family: walsheim-web, "dosis" !important;
	font-weight: 400;
}
.overflow {
	overflow: hidden;
}
.path-info h3 {
	font-size: 17px;
	font-family: walsheim-web, "dosis" !important;
	font-weight: 300;
}

.item-info-description,.path-info-description {
	color: #000;
	font-family: walsheim-web;
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}



.path-info-description p {
    color: #000;
    font-family: walsheim-web, "dosis",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.item-info-description p {
    color: #000;
    font-family: walsheim-web, "dosis",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

/* Maddalen
.navbar-default li {
	font-size: 14px;
	padding: 0 15px 0 0;
	color: #c03035;
	text-decoration: none;
}
*/
.ibilbide-irudia {

	height: 128px;
	border-radius: 0%;
	/*border: solid 1px #CCC;*/

}
.ibilbide-irudia-index {
	max-height: 300px;
	border-radius: 0%;
	/*border: solid 1px #CCC;*/
}

.hornitzaile-irudia {

	/*height: 150px;*/
	border: solid 1px #CCC;
}

.hornitzaile-ikonoa{	
	border-radius: 5px;
}

#hornitzaile-ikonoa{	
	width:13%;
}
.ibilbide-panela {
	height: 550px;
}
.autocomplete-galdera {
	font-family: walsheim-web, "dosis" !important;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 15px;
	margin-top: 0;
}

.ikusi-botoia {
	color: #0099ae !important;
	border: 1px solid #0099ae;
	background: none;
}
.gehitu-botoia {
	border: none;
	background: #333333;
	padding:0;
	width:100%;
}
.egunekoa-botoia {
	color: #eea236;
	border: 1px solid #0099ae;
	background: none;
}
.eremu-str {
	color: #666666 !important;
}
.antzekoTitulua {
	font-family: walsheim-web, "dosis" !important;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 15px;
	margin-top: 0;
	alignment-adjust: center;
}
h3.uppercase {
	text-transform: uppercase;
	font-family: walsheim-web, "dosis" !important;
	font-size: 24px;
}
h3.bilaketa {

	font-family: walsheim-web, "dosis" !important;
	font-size: 17px;
	font-weight: 300;
}
h4.mota {

	font-family: walsheim-web, "dosis" !important;
	font-size: 19px;
	font-weight: 200;
	color: #c03035;
}
h4.mota2 {

	font-family: walsheim-web, "dosis" !important;
	font-size: 18px;
	font-weight: 200;
	/*color: #c03035;*/
}
h1.dosis {
	font-family: walsheim-web, "dosis" !important;
	font-size: 24px;
}

p.uppercase {
	text-transform: uppercase;
	text-align: center;
	font-family: walsheim-web, "dosis" !important;
	font-size: 24px;
}
p.letratipoa {
	font-family: walsheim-web, "dosis" !important;
}
.letratipoa p{
	font-family: walsheim-web, "dosis" !important;
}

.center {
	text-align: center;
}
h2.uppercase {
	text-transform: uppercase;
	text-align: center;
	font-family: walsheim-web, "dosis" !important;
	font-size: 18px;
	font-weight: 100;
}
.antzekoItemTitulua {
	font-size: 17px;
	font-family: walsheim-web, "dosis" !important;
	font-weight: 300;
	text-align: center;
}

#preview_frame {
	border: none;
	-moz-transform: scale(0.98, 0.98); 
  	-webkit-transform: scale(0.98, 0.98); 
  	-o-transform: scale(0.98, 0.98);
  	-ms-transform: scale(0.98, 0.98);
  	transform: scale(0.98, 0.98); 
  	-moz-transform-origin: top left;
  	-webkit-transform-origin: top left;
  	-o-transform-origin: top left;
  	-ms-transform-origin: top left;
  	transform-origin: top left;
	overflow: hidden !important;
}

.bilaketaTitulua {
	font-family: walsheim-web, "dosis" !important;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
	margin-top: 0;
	color: #333333 !important; /*#31708f*/
}
.bilaketaEremua {

	color: #c03035;
	font-size: 14px;
	padding: 0 15px 0 0;
	text-decoration: none;
}

/* custom modal dialog styles*/
.modal-dialog {
	width: 60%;
}

.modal-content {
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-top: solid 5px #FFDA3E !important;
    border-bottom: solid 5px #FF563D !important;
    border-left: solid 5px #40D7FF !important;
    border-right: solid 5px #5AED64 !important;
     
}

.modal-title{
	color:black !important;
	font-weight: bold !important;
}

.modal-body h4 {
	color:#666666 !important;
	margin:10px 0px 20px 0px;
}

#login-modal {
	width:40%;
	left:auto;
}
/* End of modal dialog styles*/


/* mapa geografikoarentzako estiloak*/
#geo_map {
	margin: 20px 0px;
}
#yourmap {
	border-radius: 10px;
}

/* Sare sozialen atala*/
.share_titulu {
	width: 100%;
	margin: 10px 0px;
}

.share_buttons {
	width: 100%;
	margin: -10px 0px 10px 0px;
	text-align: right;
}

/* erregistro formularioa*/
/** we can not use clearfix class because helptext class comes from django form templates*/
span.helptext {
	clear: both;content="";
	display: table;
}

.login-erregistratu li {
	list-style: none;
}

.form label {
	margin:10px 0 0 0;
	color:#666666;
}


/* END erregistro formularioa*/

.crop{
	width:95%;
	overflow:hidden;
	height:24px;
	line-height:24px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+*/
    -o-text-overflow: ellipsis;  /* for Opera 9 & 10*/
    width:90%;
    padding:0 3px 0 3px;
}

@media only screen and (max-width: 991px)
{

	#brand-logo img {
		width:150px;
	}
	
	.index-brand{
		margin-left:50px;	
	}
	
	#hizkuntza_aukeraketa_id ul.nav li{
		display:inline-block;
	}
	
	#home_menu li{
		display:inline-block;
	}
	
	#SERVICE {
		padding-top: 50px !important;
	}
		
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.asistentea{
	background: transparent none repeat scroll 0 0;
    color: rgb(223, 170, 0) !important;
    font: bold 20px Arial;
    height: 86px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 134px;
}
.asistentea_ws{
	background: transparent none repeat scroll 0 0;
    color: rgb(223, 170, 0) !important;
    font: bold 17px Arial;
    /*height: 86px;*/
    padding: 2;
    text-align: center;
    vertical-align: middle;
    /*width: 134px;*/
}

.asistentea_EzDago{
	background: transparent none repeat scroll 0 0;
    color: rgb(223, 170, 0) !important;
    font: bold 17px Arial;
    /*height: 86px;*/
    padding: 2;
    text-align: center;
    vertical-align: middle;
    /*width: 134px;*/
}
.kud_irudia{
	color: #c03035;
	font-size: 20px;
}

/**
 * 	Keyword and mention management tables' (datatables) styles
 */

/* datatable filters*/
.dataTables_length, .dataTables_filter {
	/*display: block;*/
	margin-right:5%;
	line-height: 16px !important;
}

.dataTables_toolbar{
	width: 100%;
	clear:both;
	display:inline-block;
}

.dataTables_buttons{
	float:right;
}

/*table#src_kwrds, table#mentions{
	border-collapse: collapse;
	border-style:hidden;
}*/

table#src_kwrds td {
	text-align: center;
	width: 7%;
}

table#src_kwrds tbody td {
	color: black !important;
}

table#src_kwrds .mk_id, .mk_edit {
	width: 4%;
}

table#src_kwrds .mk_scrntg, .mk_term {
	width: 9%;
}
#mentions .mm_id, tbody .mm_kpol, tbody .mm_kpol, tbody .mm_lang, tbody .mm_date, tbody .mm_source, thead .mm_text {
	text-align: center;
}

thead tr:first-child {
	font-size: 15px;
	height: 40px;
}

.kwrds {
	float: right;
	padding-right: 10px;
}

.green {
    color: green;
}

.fa {
    display: inline-block;
    font-family: walsheim-web, FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.red {
    color: #590423;
}

tbody td {
    border-bottom: 2px solid #337ab7;
    padding: 0px 1px !important;
}
table {
    font-size: 13px;
}

.profile_menu_button {
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #dfdfdf 0%, #e6e6e6 100%);
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    margin: 0 2px;
    padding: 2px 8px;
}
ul {
    list-style: outside none none;
}
.zirriborro-tag {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 5px;
    overflow: hidden;
    font-family: walsheim-web, Arial, sans-serif;
    font-weight: 900;
} 
 
.zirriborro-tag p{
 	margin: 0px;
 }
 
.zirriborro-tag p span {
    position: absolute;
    display: inline-block;
    right: -30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
    text-align: center;
    text-transform: uppercase;
    top: 18px;
    background: #d9534f; /*#d93131;*/
    color: #ffffff !important;
    width: 100px;
    padding: 0px 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    font-size: 100%;
} 

.zutabe_desk{
	/+width:30% !important;*/
	min-width:30%;
  	max-width:50%;
  	overflow: hidden;
}

.horni-table{
	width:90% !important;
}




