
.about_title {
	color: #333333;
    font-family: walsheim-bold-web;
    font-size: 24px;
    margin-bottom: 19px;
    margin-top: 87px;
}

.about_sarrera {
	font-family: walsheim-light-web;
	color:#999999;
	font-size: 24px !important;
	margin: 0 0 61px !important;
}

.about_us_p {
	font-family: walsheim-light-web;
	font-size: 14px !important;
	margin: 20px 13px 15px !important;
	text-align:justify;
}

ul#about-icons li{
	display: inline-block;
	font-family: walsheim-light-web;
    font-size: 14px;
    padding:0 40px;
}

.about_irudiak img {
	width:75px;
	margin-top:27px;
	margin-bottom:18px;
	margin-left:12px;
}
