
.second-navbar {
 
	 background-color: #f8f8f8;
	 padding-bottom: 40px;
}

.parag-index {
	font-family: walsheim-light-web;
	color:#999999;
	font-size: 17px !important;
}

.parag-line-height-txikia {
	margin: 0 0 -4px !important;
}

.second-bilatzailea {
	margin-left: -16px !important;
}

.kopuruak {
	font-family: walsheim-web;
	color:#333333;
	font-size: 21px !important;
	margin: 16px 20px -4px !important;
	border-bottom: 2px solid black; 
	width: 75%;
	text-align: center;
	line-height: 2em;
}

.kopuru-marra-gorria {
	border-bottom-color:#FF563D;
}
.kopuru-marra-horia {
	border-bottom-color:#FFDA3E;
}

.kopuru-marra-urdina {

	border-bottom-color:#40D7FF;
}
.kopuru-marra-berdea {

	border-bottom-color:#5AED64;
}

.kopuru-azpiko-testua {
	font-family: walsheim-ligth-web;
	color:#666666;
	font-size: 9px !important;
	text-align: center;
	margin: 16px 22px -4px !important;
}
.kopuru-azpiko-testua a{
	
	color:#666666;
	/*
	font-size: 9px !important;
	text-align: center;
	margin: 16px 22px -4px !important;
	text-decoration: none;
	*/
}


.galdera {
	font-family: walsheim-web;
	color:#333333;
	margin: 69px 40px -4px !important;
	font-size: 16px !important;
}
.galdera a{
	color:#333333;
}

#Beheko honek ez du kaso egiten!
.esk-padding{

	padding-right: -2px !important;

}
