{% load i18n %}
{% load tags%}
<div id="response">
	{% if aldaketa == "kendu" %} 
		<a class="btn" title="{% trans 'Gehitu eguneko itema' %}"  type="button" href="javascript:egunekoaAldatu({{id}},'gehitu','{{itype}}')" >
			<span class="square-back-vert-padding backgrnd-gris-bi">
		   		<i class="icon-ob-fire circle-back kolore-gris-lau backgrnd-{{itype}}" aria-hidden="true"></i>
				<span class="icon-ob-plus backgrnd-txuria ob-fire-overlay-lg kolore-gris-lau"></span>
			</span>
        </a>
	{%else%}
        <a class="btn" title="{% trans 'Gehitu eguneko itema' %}" type="button" href="javascript:egunekoaAldatu({{id}},'kendu','{{itype}}')" >
			<span class="square-back-vert-padding backgrnd-gris-bi">
		    	<i class="icon-ob-fire circle-back kolore-gris-lau backgrnd-{{itype}}" aria-hidden="true"></i>
				<span class="backgrnd-txuria ob-fire-overlay-lg kolore-gris-lau">&mdash;</span>
    		</span>
		</a>
	{%endif%}
</div>