{% load i18n %}
{% load tags%}
<html>
	<head>		
		{# Load the tag library #}
		{% load bootstrap3 %}
		
		
		{% block tts_styles %}
		<!-- TTS -->
		{% if not request.mobile or request.tablet %}
		<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/tts/tts.css">
		{% else %}
		<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/tts/tts_mob.css">
		{% endif %}		
		<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/tts/tinybox.css">
		{% endblock tts_styles %}
	
		{% block additional_css %}
		{% endblock additional_css %}

		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
		
		
		{# Load CSS and JavaScript #}
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/kulturbideak.js"></script>

		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{# bootstrap_messages #}

		{% load leaflet_tags %}
		{% load tags%}

		{% leaflet_js %}
		{% leaflet_css %}
		{% load qr_tags %}

		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/readmore.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/autocomplete.js"></script>
		<script>
            var csrf_token = "{{ csrf_token }}";
            var erabiltzailea = "{{request.user.username}}";
		</script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/ondarebideak.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/autoplay.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>

		{% block media_players %}
		<!-- VIDEO PLAYERRA-->		
		<script src="{{STATIC_URL}}mediaelement3.1.2/mediaelement-and-player.js"></script>
		<link href="{{STATIC_URL}}mediaelement3.1.2/mediaelementplayer.css" rel="stylesheet">

		<script type="text/javascript" src="{{STATIC_URL}}hdflvplayer4.1/swfobject.js"></script>

		<!--
		<script src="/home/ubuntu/.npm/mediaelement/3.1.2/package/build/mediaelement-and-player.min.js"></script>
		<link href="/home/ubuntu/.npm/mediaelement/3.1.2/package/build/mediaelementplayer.css" rel="stylesheet">
		-->
		<!--
		<script src="https://cdn.jsdelivr.net/mediaelement/latest/mediaelement-and-player.min.js"></script>
		<link href="https://cdn.jsdelivr.net/mediaelement/latest/mediaelementplayer.css" rel="stylesheet">
		-->
		
		{% endblock media_players %}
				
		{% block text_editor %}
		<!-- CKEDITOR-->
		<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
		{% endblock text_editor %}
		
		
		{% block main_css %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/ob_common_styles.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/ondarebideak.css" type="text/css">		
		<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/ob-icons.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/new_header_style.css" type="text/css">
		{% endblock main_css %}
		
		<script type="text/javascript">
			//MAPA FUNTZIOAK
			var global_map;
            var layer_array = Array();
            var LeafIcon = L.Icon.extend({});
            var markers = [];
            
			//NODOENTZAKO MAPA FUNTZIOAK
			//itema_gehitu
			  function load_map_hutsa(map, options) {
                console.log('itema gehitu')
                global_map = map;
				alert("kkkh");
                // zentratu mapa erabiltzaileak
                if (markers.length > 0) {
                    map.panTo(new L.LatLng(markers[0].getLatLng().lat, markers[0].getLatLng().lng));
                    //document.getElementById("latitude").value = markers[0].getLatLng().lat;
                    //document.getElementById("longitude").value = markers[0].getLatLng().lng;
                    //alert(document.getElementById("longitude").value);
                }

                // maparen click eventoa
                //map.on('click', function(e) {if(markers.length >0){map.removeLayer(markers[0]);markers=[];}; var marker = L.marker(e.latlng, { title: "Resource Location",alt: "Resource Location",riseOnHover: true,draggable: true}).on("click",function(e) {map.removeLayer(this);layer_array=jQuery.grep(layer_array, function(value) {return $(value).not([e.latlng.lat,e.latlng.lng]).length === 0 && $([e.latlng.lat,e.latlng.lng]).not(value).length === 0});}).addTo(map);layer_array.push([e.latlng.lat,e.latlng.lng]);markers.push(marker);});
                map.on('click', function(e) {
                    if (markers.length > 0) {
                        map.removeLayer(markers[0]);
                        markers = [];
                    };
                    var marker = L.marker(e.latlng, {
                        title : "Resource Location",
                        alt : "Resource Location",
                        riseOnHover : true,
                        draggable : true
                    }).on("click", function(e) {
                        map.removeLayer(this);
                        layer_array = jQuery.grep(layer_array, function(value) {
                            return $(value).not([e.latlng.lat, e.latlng.lng]).length === 0 && $([e.latlng.lat, e.latlng.lng]).not(value).length === 0
                        });
                    }).addTo(map);
                    layer_array.push([e.latlng.lat, e.latlng.lng]);
                    markers.push(marker);
                    document.getElementById("latitude").value = e.latlng.lat;
                    document.getElementById("longitude").value = e.latlng.lng;
                });

            }
			
			
			//nodo_editatu
			function load_map_nodo_editatu(map, options) {

                global_map = map;
        
                if(markers.length>0 || {{ geoloc_latitude }} !=0.0)
                {
                    //Mapa zentratu
                    map.panTo(new L.LatLng({{ geoloc_latitude | correct_float_format }}, {{geoloc_longitude | correct_float_format}}));

            		//Geolokalizazio zaharra beste kolore batekin erakutsi
            		var greenIcon = new LeafIcon({iconUrl : '{{STATIC_URL}}img/leaf-green.png'});

            		L.marker([{{ geoloc_latitude | correct_float_format }}, {{ geoloc_longitude | correct_float_format }}], {icon:greenIcon}).addTo(map).openPopup();

            	}

            	// maparen click eventoa
            	map.on('click', function(e) {
                if (markers.length > 0) {
                    map.removeLayer(markers[0]);
                    markers = [];
                };
                var marker = L.marker(e.latlng, {
                    title : "Resource Location",
                    alt : "Resource Location",
                    riseOnHover : true,
                    draggable : true
                }).on("click", function(e) {
                    map.removeLayer(this);
                    layer_array = jQuery.grep(layer_array, function(value) {
                        return $(value).not([e.latlng.lat, e.latlng.lng]).length === 0 && $([e.latlng.lat, e.latlng.lng]).not(value).length === 0
             	    });
                }).addTo(map);
                layer_array.push([e.latlng.lat, e.latlng.lng]);
                markers.push(marker);
                document.getElementById("latitude").value = e.latlng.lat;
                document.getElementById("longitude").value = e.latlng.lng;
            });

            }
			
			
		</script>
		
		

		{% block mapFunctions %}
		<script type="text/javascript">
            //MAPA FUNTZIOAK
			
            var global_map;
            var layer_array = Array();
            var LeafIcon = L.Icon.extend({});
            var markers = [];

            {% if non == 'itema_gehitu' %}

            function load_map(map, options) {
                console.log('itema gehitu')
                global_map = map;

                // zentratu mapa erabiltzaileak
                if (markers.length > 0) {
                    map.panTo(new L.LatLng(markers[0].getLatLng().lat, markers[0].getLatLng().lng));
                    //document.getElementById("latitude").value = markers[0].getLatLng().lat;
                    //document.getElementById("longitude").value = markers[0].getLatLng().lng;
                    //alert(document.getElementById("longitude").value);
                }

                // maparen click eventoa
                //map.on('click', function(e) {if(markers.length >0){map.removeLayer(markers[0]);markers=[];}; var marker = L.marker(e.latlng, { title: "Resource Location",alt: "Resource Location",riseOnHover: true,draggable: true}).on("click",function(e) {map.removeLayer(this);layer_array=jQuery.grep(layer_array, function(value) {return $(value).not([e.latlng.lat,e.latlng.lng]).length === 0 && $([e.latlng.lat,e.latlng.lng]).not(value).length === 0});}).addTo(map);layer_array.push([e.latlng.lat,e.latlng.lng]);markers.push(marker);});
                map.on('click', function(e) {
                    if (markers.length > 0) {
                        map.removeLayer(markers[0]);
                        markers = [];
                    };
                    var marker = L.marker(e.latlng, {
                        title : "Resource Location",
                        alt : "Resource Location",
                        riseOnHover : true,
                        draggable : true
                    }).on("click", function(e) {
                        map.removeLayer(this);
                        layer_array = jQuery.grep(layer_array, function(value) {
                            return $(value).not([e.latlng.lat, e.latlng.lng]).length === 0 && $([e.latlng.lat, e.latlng.lng]).not(value).length === 0
                        });
                    }).addTo(map);
                    layer_array.push([e.latlng.lat, e.latlng.lng]);
                    markers.push(marker);
                    document.getElementById("latitude").value = e.latlng.lat;
                    document.getElementById("longitude").value = e.latlng.lng;
                });

            }

            {% elif   non == 'itema_editatu'  %}
            function load_map(map, options) {

                global_map = map;
        
                if(markers.length>0 || {{ geoloc_latitude }} !=0.0)
                {
                    //Mapa zentratu
                    map.panTo(new L.LatLng({{ geoloc_latitude | correct_float_format }}, {{geoloc_longitude | correct_float_format}}));

            		//Geolokalizazio zaharra beste kolore batekin erakutsi
            		var greenIcon = new LeafIcon({iconUrl : '{{STATIC_URL}}img/leaf-green.png'});

            		L.marker([{{ geoloc_latitude | correct_float_format }}, {{ geoloc_longitude | correct_float_format }}], {icon:greenIcon}).addTo(map).openPopup();

            	}

            	// maparen click eventoa
            	map.on('click', function(e) {
                if (markers.length > 0) {
                    map.removeLayer(markers[0]);
                    markers = [];
                };
                var marker = L.marker(e.latlng, {
                    title : "Resource Location",
                    alt : "Resource Location",
                    riseOnHover : true,
                    draggable : true
                }).on("click", function(e) {
                    map.removeLayer(this);
                    layer_array = jQuery.grep(layer_array, function(value) {
                        return $(value).not([e.latlng.lat, e.latlng.lng]).length === 0 && $([e.latlng.lat, e.latlng.lng]).not(value).length === 0
             	    });
                }).addTo(map);
                layer_array.push([e.latlng.lat, e.latlng.lng]);
                markers.push(marker);
                document.getElementById("latitude").value = e.latlng.lat;
                document.getElementById("longitude").value = e.latlng.lng;
            });

            }

            {% elif  non == 'fitxaE'  %}
            console.log('hornitzailea editatu')
            function load_map(map, options) {

                global_map = map;

                if(markers.length>0 || {{ hornitzailea.geoloc_latitude }} !=0.0) 
                {
                //Mapa zentratu
                map.panTo(new L.LatLng({{ hornitzailea.geoloc_latitude | correct_float_format }}, {{ hornitzailea.geoloc_longitude | correct_float_format }}));

            	//Geolokalizazio zaharra beste kolore batekin erakutsi
            	var greenIcon = new LeafIcon({
                	iconUrl : '{{STATIC_URL}}img/leaf-green.png'
            	});
            	L.marker([{{ hornitzailea.geoloc_latitude|correct_float_format }}, {{ hornitzailea.geoloc_longitude | correct_float_format }}], { icon:greenIcon }).addTo(map).openPopup();
            	}

            // maparen click eventoa
            map.on('click', function(e) {
                if (markers.length > 0) {
                    map.removeLayer(markers[0]);
                    markers = [];
                };
                var marker = L.marker(e.latlng, {
                    title : "Resource Location",
                    alt : "Resource Location",
                    riseOnHover : true,
                    draggable : true
                }).on("click", function(e) {
                    map.removeLayer(this);
                    layer_array = jQuery.grep(layer_array, function(value) {
                        return $(value).not([e.latlng.lat, e.latlng.lng]).length === 0 && $([e.latlng.lat, e.latlng.lng]).not(value).length === 0
                    });
                }).addTo(map);
                layer_array.push([e.latlng.lat, e.latlng.lng]);
                markers.push(marker);
                document.getElementById("latitude").value = e.latlng.lat;
                document.getElementById("longitude").value = e.latlng.lng;
            });

            }
            {% elif  non == 'fitxaI'  %}
            console.log('hornitzailea ikusi');
            function load_map(map, options) {
              
                map.panTo(new L.LatLng({{ hornitzailea.geoloc_latitude | correct_float_format }}, {{ hornitzailea.geoloc_longitude | correct_float_format }}));
           		L.marker([{{ hornitzailea.geoloc_latitude|correct_float_format }}, {{ hornitzailea.geoloc_longitude | correct_float_format }}]).addTo(map).openPopup();

            }
 			{% elif  non == 'erakutsi_item'  %}
           
            function load_map(map, options) {
                console.log('itema bestela kkkkk');
                //Erakusteko bakarrik
                map.panTo(new L.LatLng({{ geoloc_latitude | correct_float_format }}, {{ geoloc_longitude | correct_float_format }}));
                L.marker([{{ geoloc_latitude|correct_float_format }}, {{ geoloc_longitude | correct_float_format }}]).addTo(map).openPopup();

              }
             {% else %}
             
             //Ez kargatu maparen funtziorik
            {% endif %}

		</script>
		{% endblock mapFunctions %}

		{% block googleAnalytics %}
		<script type="text/javascript">
            //Google Analytics
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-84780510-1', 'auto');
            ga('send', 'pageview');
		</script>
		{% endblock googleAnalytics %}
		
		<!-- Ikerren sciptak, hornitzaileen fitxarako -->
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>

	</head>

	{% if user.is_authenticated %}
	<body onload="initialize();">
		<!--<body onload="setTimeout(function(){window.location = 'itemak_hasiera';}, 5000)">-->
		<!-- WORKSPACE -->
		<div id="workspace">
		{% include "_workspace.html" %}
		</div>
	{%else%}
	<body onload="initialize_notlogged();">
		<!-- WORKSPACE -->
		<div id="workspace"></div>
		<!--goiko margina -->
	{% endif %}

		<!--HEADER -->
		{% block navbar %}
		{% include "_navbar.html" %}
		{% endblock navbar %}

		{% block extra_markup %}
		{% endblock extra_markup %}
				
		<!-- PAGE -->
		{% block page_div_def %}			
		<div id="main_page" style="max-width:1210px;margin:0 auto;">
		{% endblock page_div_def %}				
			<!--aldeetako margina -->
			<!--<hr>-->			
			<!--PANTAILA EGITURA NAGUSIA-->			
		
		{% block orria_div_def %}			
			<div id="orria" class="orria">
		{% endblock orria_div_def %}
		
				{% block autocomplete %}
				<!-- Autocomplete leihoa -->
				<div id="SERVICE" class="container" style="display:none;">
					<h2 class="titulu-kolorea autocomplete-galdera">Hauetakoren bat bilatzen duzu?</h2>
					<div class="row">
						{% for i in "0123" %}
						<div class="col-md-3 text-center">
							<div class="autocompleteItem single_service wow fadeInUp" id="auto{{i}}" >
								<a id="a{{i}}"><img class="autocomplete_irudia" id="img{{i}}"></a>
								<h2 id="h2{{i}}"></h2>
								<p id="p{{i}}"></p>

							</div>
						</div>
						{% endfor %}
						
					</div>
					<hr />
				</div>
				<!-- END Autocomplete leihoa -->	
				{% endblock autocomplete %}
				
				
				<div class="row">
					{% block sidebar %}
					<div id="sidebar" class="col-md-3 col-lg-4">
						{% block result_number %}
						<div class="result_number">
							<h4>{% trans "Items" %} <span class="num">428K</span></h4>
						</div>
						{% endblock result_number %}
						
						{% block bilaketaFiltroak %}

						{% if non != "fitxaE" %}
						{% if non != "erakutsi_item" %}
						{% if non != "itema_editatu" %}

						
						{% include "_search_filters.html" %}
						
											
						{%endif%}
						{%endif%}<!-- not non erakutsi item -->
						{%endif%}

						{% endblock bilaketaFiltroak %}

						{% block egunekoakBozkatuenakAzkenak %}
						{% endblock egunekoakBozkatuenakAzkenak %}
				
					</div><!-- sidebar -->
					{% endblock sidebar %}	
						
					{% block content_div_def %}		
					<div id="content_div" class="col-md-9 col-lg-8" align="center">
					{% endblock content_div_def %}
					
					{% if mezua %}

					<div class="alert alert-info" role="alert">
						<strong>Ondo!</strong> {{mezua}}
					</div>

					{%endif%}
					{% if errore_mezua %}

					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						<strong>Kontuz!</strong> {{errore_mezua}}
					</div>

					{%endif%}
					{% if nondik %}
					<!-- TXUKUNTZEN-->
					<div class="container">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-3">
								<a class="img-responsive bilaketaEmaitza  thumbnail" href="{% if item.edm_isshownby %}{{item.edm_isshownby}}{%else%} # {%endif%}" target="{% if item.edm_isshownby %}_blank{%endif%}" > {% if item.edm_object %} <!--<img  alt="{{item.dc_title}}" src="{% if item.edm_object %} {{item.edm_object}} {%else%} /uploads/NoIrudiItem.png {% endif %}">--> <img  alt="{{item.dc_title}}" src="{{item.edm_object}}"> {%elif item.edm_isshownby%} <iframe id="frame" src="{{item.edm_isshownby}}"></iframe> {%else %} <img  alt="ez du irudirik" src="/uploads/NoIrudiItem.png"> {% endif %} </a>

								<div class="path-info overflow">

									<ul class="nav  navbar-default">
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Lizentzia" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.edm_rights%}
												{{item.edm_rights}}
												{%else%}
												-
												{% endif %} </span>

										</li>
									</ul>
								</div>

							</div>
							<div class="col-md-6">
								<div class="path-name overflow titulu-kolorea">
									{% get_current_language as LANGUAGE_CODE %}
									<h2 class="bold"> {{ LANGUAGE_CODE|choose_title_language:item| safe}} </h2>

									<ul class="nav navbar-nav navbar-default">
										<li>
											{% if "VIDEO" in item.edm_type %}
											<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
											{% endif %}
											{% if "TEXT" in item.edm_type %}
											<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
											{% endif %}
											{% if "IMAGE" in item.edm_type %}
											<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
											{% endif %}
											{% if "SOUND" in item.edm_type %}
											<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
											{% endif %}
										</li>
										<li>
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
											{% if item.dc_date %}
											{{item.dc_date}}
											{%else%}
											-
											{% endif %}
										</li>

										<li>
											<span class="glyphicon glyphicon-user" aria-hidden="true"></span>

											{{item.fk_ob_user.username}}
										</li>
									</ul>
								</div>

								<!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
								<!--{{ LANGUAGE_CODE|choose_description_language:item |striptags |safe }}-->
								<div class="path-info overflow ">
									<div class="comment more item-info-description">

										{{ LANGUAGE_CODE|choose_description_language:item |safe}}

									</div>
								</div>
								<div class="path-info overflow">
									<h3 class="titulu-kolorea">{% trans "EZAUGARRIAK" %}</h3>
									<ul class="nav  navbar-default">
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Sortzailea" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.dc_creator%}
												{{item.dc_creator}}
												{%else%}
												-
												{% endif %} </span>

										</li>

										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Hornitzailea" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.edm_provider%}
												{{item.edm_provider}}
												{%else%}
												-
												{% endif %} </span>

										</li>
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Gaia" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.dc_subject%}
												{{item.dc_subject}}
												{%else%}
												-
												{% endif %} </span>

										</li>
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Hizkuntza" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.ob_language %}
												{{item.ob_language}}
												{%else%}
												-
												{% endif %} </span>

										</li>
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Herrialdea" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.edm_country %}
												{{item.edm_country }}
												{%else%}
												-
												{% endif %} </span>

										</li>
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Data" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.dc_date %}
												{{item.dc_date }}
												{%else%}
												-
												{% endif %} </span>

										</li>
										<li>
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
											{% trans "Mota" %}:&nbsp;
											<span class="kolore-gris-hiru"> {% if item.edm_type %}
												{{item.edm_type }}
												{%else%}
												-
												{% endif %} </span>

										</li>

										<li>
											{% if item.edm_isshownat%}
											<a  class="kolore-gris-hiru" title="{{viewAtSource}}" href="{{viewAtSource}}" target="_blank"><b><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% trans "Ikusi jatorrizkoa" %}</b></a>
											{%endif%}
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>

					{% leaflet_map "yourmap" callback="load_map" %}
					{%endif%}
					
					
					{% block content %}

					{% endblock content %}
					</div><!-- content_div -->
				</div><!-- row -->

			</div><!-- orria -->

		{% block after_orria %}
		
		{% endblock after_orria %}
				
		</div><!-- row -->
		<!-- END PAGE -->
		
		<!-- Footer -->
		{% block footer %}
		{% include "_oina.html" %}
		{% endblock footer %}
		<!-- END Footer -->

		{% block genericModals %}
		<!-- page loading message modal -->
		<div id="loading_modal" class="modal text-center" style="display:none;">
			<h1>{% trans "Datuak kargatzen..." %}</h1>
			<img src="{{ STATIC_URL}}img/ob-loader.gif"/>
		</div>
		
		
		<!-- login modal -->
		<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalLabel" aria-hidden="true" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">				        		
			    	<div class="modal-header">
		               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="login-modal-title">{% trans "Sartu zure kontuan" %}</h4>
    				</div>
				    <div class="modal-body">
				    	<form method="POST" class="form" action="">
							{% csrf_token %}
							{{ login_form }}
							<input type="submit" name="login" class="login loginmodal-submit" value="{% trans 'Sartu' %}">
						</form>
				    </div>
      				<div class="modal-footer">						
        				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        				<button type="button" class="btn btn-primary">Save changes</button>-->
      				</div>

					<!--<div class="login-help">
					<a href="#">{% trans "Erregistratu" %}</a> - <a href="#">{% trans "Pasahitza ahaztu duzu?" %}</a>
					</div>-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- register modal -->
		<div class="modal" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modalLabel" aria-hidden="true" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">				        		
		    		<div class="modal-header">
	            	   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<h4 class="modal-title" id="login-modal-title">{% trans "Sortu kontua" %}</h4>
   					</div>
			    	<div class="modal-body">
						<form action="{{BASE_URL}}/erregistratu" method="post" class="form login-erregistratu">
						{% csrf_token %}
						{{ erabiltzailea_form.as_ul }}
						<br/>
						<button class="btn btn-default" type="submit" name="Erabiltzailea_gehitu">
							{% trans "Erregistratu" %}
						</button>
						</form>
					</div>
   					<div class="modal-footer">						
       					<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       					<button type="button" class="btn btn-primary">Save changes</button>-->
   					</div>
				<!--<div class="login-help">
				<a href="#">{% trans "Erregistratu" %}</a> - <a href="#">{% trans "Pasahitza ahaztu duzu?" %}</a>
				</div>-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{% endblock genericModals %}
		
		<!-- Template specific modals-->
		{% block custom_modals %}
		<!--modal More-->

		<div class="modal fade" id="modalMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Itema ondorengo ibilbideetan bisita dezakezu</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="panel-body">

								<div id="messages"></div>
								{% for node in itemPaths %}
									{%if  node.fk_path_id.acces != "0" %}
										<label for="exampleInputEmail1"><a href="nabigazioa_hasi?path_id={{node.fk_path_id.id}}">{{node.fk_path_id.dc_title}} </a></label>
										<br/>
									{%endif%}
								{%endfor%}
								<br/>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Atera
									</button>
								</div>
								<p>
									<br/>
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--END modal More-->
		{% endblock custom_modals %}
		<!--END template specific modals-->

		{% block pageEndScripts %}
		<!-- Latest compiled and minified JavaScript -->
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
		<script type="text/javascript">
            //SocialShareKit.init();
		</script>

		<!--<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>-->
		
		{% endblock pageEndScripts %}

	</body>
</html>

