{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- COMMENTS-->
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">
			{% if user.is_authenticated %}
			<!-- Comments Form -->
			<div class="well info_box">
				<h4>{% trans "Idatzi iruzkin bat" %}:</h4>
				<form class="form-horizontal" role="form" method="POST" action="#">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{id}}">
					<fieldset>
						<div class="form-group">
							<!--<textarea class="form-control" rows="3"></textarea>-->
							{{ comment_form.comment }}
							{{ comment_form.comment.errors }}
						</div>
						{% if user.is_authenticated %}
						<button name="submit_comment" type="submit" class="btn btn-primary">
							{% trans "Bidali iruzkina" %}
						</button>
						{% else %}
						<button name="submit_comment" class="btn btn-primary" onclick='window.location.href="/?next="; return fal
						se'>
							{% trans "Bidali iruzkina" %}
						</button>
						{% endif %}
					</fieldset>
				</form>
			</div>
			{%endif%}
			<hr>

			<!-- Posted Comments -->
			<!-- Comment -->
			{% for comment in comments %}
			<div class="media">
				<form class="form-horizontal" role="form" method="POST" action="#">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{id}}">
					<fieldset>
						<a class="pull-left" href="#" > <!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ comment.author.genre.genre }}.png" alt="">--> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a>
						<div class="media-body">
							<h4 class="media-heading"><small>{{ comment.author.first_name }} {{ comment.author.last_name }}</small> - <small>{{ comment.date|date:"SHORT_DATE_FORMAT" }}</small></h4>
							{{ comment.comment|safe }}
							{% if user.is_authenticated %} <!--Maddalen-->
							<p>
								<a href="#" onclick="$('#comment_response_div_{{ comment.id }}').show(1000);return false;">{% trans "Respond" %}</a>
							</p>
							{%endif%}
							<div id="comment_response_div_{{ comment.id }}" style="display:none">
								<div class="form-group">
									<!--<textarea class="form-control" rows="3"></textarea>-->
									{{ comment_parent_form.parent_id }}
									{{ comment_parent_form.comment }}
									{{ comment_parent_form.comment.errors }}
								</div>
								{% if user.is_authenticated %}
								<button onclick="$('#comment_response_div_{{ comment.id }} input').val({{ comment.id }})" name="submit_comment_parent" type="submit" class="btn btn-primary">
									{% trans "Bidali" %}
								</button>
								<button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">
									{% trans "Itxi" %}
								</button>
								{% else %}
								<button name="submit_comment_parent" class="btn btn-primary" onclick='window.location.href="/?next="; return false'>
									{% trans "Bidali" %}
								</button>
								<button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">
									{% trans "Itxi" %}
								</button>
								{% endif %}

							</div>
							{% for subcomment in comment.get_subcomments %}
							<div class="media">
								<a class="pull-left" href="#"> <!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ subcomment.author.genre.genre }}.png" alt="">--> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a>
								<div class="media-body">
									<h4 class="media-heading"><small>{{ subcomment.author.first_name }} {{ subcomment.author.last_name }}</small> - <small>{{ subcomment.date|date:"SHORT_DATE_FORMAT" }}</small></h4>
									{{ subcomment.comment|safe }}
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- ni -->
					</fieldset>
				</form>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-1"></div>

	</div>
</div>
