{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<style>
	.footer-ul {
		list-style: none;
		width: 100%;
	}
	.footer-ul li {
		display: block;
		margin: 4px 30px;
	}
	.bordertopFooter {
		background: #ffffff;
		color: #7d7d7d;
		font-size: 13px;
		font-weight: 400;
		padding-top: 10px;
		line-height: 18px;
		border-top: 1px solid #C8C8C8;
	}

</style>

<div id="footer" class="row bordertopFooter copyright_text wow fadeInUp animated">	
	<div class="col-md-8 blankContainer">
		<ul class="footer-ul">
			<li>
				{% trans "OndareBideak plataforma eta bere teknologia GNU GPL V3 lizentziapean banatutako software librea da." %}
			</li>
			<li>
				{% trans "OndareBideak-ek erakutsitako item kulturalek haien lizentzia propioak dituzte eta eskuzabaltasunez bertan jarri dituzten erakundeen menpekoak dira." %}
			</li>
		</ul>	
	</div>
	<div class="col-md-4 blankContainer">
		<ul class="footer-ul">
			<li>
				<a href="https://github.com/Elhuyar/Ondarebideak"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Github</a>
			</li>
			<li>
				<a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> : <a href="mailto:OndareBideak@elhuyar.com" target="_blank">ondarebideak@elhuyar.com</a>
			</li>
		</ul>
	</div>
</div>

