{% load i18n %}
{% load tags%}

<!-- CSS media query on a link element -->
<link rel="stylesheet" media="(min-width: 600px)" href="{{STATIC_URL}}css/ibilbide_proposamena_style.css" type="text/css">




<div class="container-fluid fondo-iluna">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<p class="ibilbide_propos_title" >{% trans "Azken Ibilbideak" %}</p>
		</div>
	</div> <!--row-->
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<p class="ibilbide_propos_desk" >{% trans "Hasi kulturaz gozatzen!" %}</p>
		</div>
	</div> <!--row-->
	<div class="row ibilbide-propos_img_list"> <!--Ibilbideen irudiak -->
		{% for path in ibilbideak %}
		<div class="col-md-3 ibilb-padding">
			<div class="ibilbide-img-index-tam">
				{% if path.paths_thumbnail %}
					<a href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}"> <img class="img-responsive " src="{{path.paths_thumbnail}}"> 	
				{%else%}
					<a href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}"> <img class="img-responsive " src="/uploads/NoIrudiBide.png">
				{%endif%}			
						<div class="img_overlay">
							<p class="marra_overlay">&nbsp;&nbsp;&nbsp;</p>
							<p class="title_overlay">{{path.dc_title}}</p>
							<p class="creator_overlay kolore-txuria"><i class="icon-ob-usr kolore-video"></i> {{path.fk_user_id.username}}</p>
						</div>
					</a>	
			</div>
			
		</div><!--row -->
	{% endfor%}
	</div> <!--row-->
	
	
</div>