{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- EGUNEKOAK - BOZKATUENAK - AZKENAK -->
<div id="egunekoakBozkatuenakAzkenak">
<ul class="item_path_aukerak">
<li>
	<a class="kolore-gris-lau no-hover" href="javascript:ajax_egunekoak_lortu()" >		
		<span><i class="icon-ob-fire circle-back item_path_aukerak-icon" aria-hidden="true"></i> {% trans "Egunekoak" %}</span>
	</a>
</li>
<li>
	<a class="kolore-gris-lau no-hover" href="#" data-toggle="modal"
		data-target="#modalBozkatuenak">
		<span><i class="icon-ob-heart circle-back item_path_aukerak-icon" aria-hidden="true"></i> {% trans "Bozkatuenak" %}</span>
	</a>
</li>
<li>
	<a class="kolore-gris-lau no-hover" href="#" data-toggle="modal" data-target="#modalAzkenak">
		<span><i class="fa fa-clock-o circle-back item_path_aukerak-icon" aria-hidden="true" style="font-size:28px;"></i>{% trans "Berrienak" %}</span>
	</a>
</li>
</ul>
</div>
<!-- END EGUNEKOAK - BOZKATUENAK - AZKENAK -->

