{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<a id="item_img" class="img-responsive nabigItem" href="{% if momentukoItema.edm_isshownby %}{{momentukoItema.edm_isshownby}}{%else%} # {%endif%}" target="{% if momentukoItema.edm_isshownby %}_blank{%endif%}" >
     
      {% if momentukoItema.ob_thumbnail %} 
	  <img title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema|format_html|safe}}" src="{{momentukoItema.ob_thumbnail|clean_http_prefix}}">
	 
     {% elif '.pdf' in momentukoItema.edm_isshownby %}
	<object data="{{momentukoItema.edm_isshownby}}" type="application/pdf" width="100%" height="60%">
		<iframe src="{{momentukoItema.edm_isshownby}}" style="border: none;" width="100%" height="60%">
			<img  alt="{{momentukoItema.dc_title}}" src="/uploads/NoIrudiItem.png">
		</iframe>		
	</object>	 
	{% elif momentukoItema.edm_isshownat %}
	 <iframe id="preview_frame" style="width:100%;height:300px;" src="{{momentukoItema.edm_isshownat}}"></iframe>
	
	 {%else%}
	<img  alt="{{momentukoItema.dc_title}}" src="/uploads/NoIrudiItem.png">
	{%endif%} 
</a>



