{% load i18n %}
{% load tags %}
{% load leaflet_tags %}

<div class="row search-result-modal">	
	  <!--<div class="col-xs-6 col-md-3">-->
			
		{% if  item.id%}
		<div class="thumbnail col-xs-2 col-md-2">
			
			<a class="bilaketaEmaitza"  href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" >
				<img class="ob_thumbnail-mini" title="{% if item.dc_title %}{{ LANGUAGE_CODE|choose_title_language:item|format_html|safe}}{% endif%}" src="{% if item.ob_thumbnail%} {{item.ob_thumbnail|clean_http_prefix}} {% elif item.edm_object %} {{item.edm_object|clean_http_prefix}} {%else%} /uploads/NoIrudiItem.png {% endif %}">
				<div class="dark-overlay">
					<i class="icon-ob-{{item.edm_type|lower}} overlay-icon-mini kolore-{{item.edm_type|lower}}"></i>
				</div>
			</a>
			
		</div>		
		<!--http://jsfiddle.net/WjKyF/-->
		<div class="caption col-xs-10 col-md-10">
				 <input type="hidden" id="item_id_{{ forloop.counter }}" value="{{item.id}}"/>
				 <input type="hidden" id="titulua_{{ forloop.counter }}" value="{{item.dc_title}}"/>
				 <input type="hidden" id="mota_{{ forloop.counter }}" value="{{item.edm_type}}"/>
				  {% if item.ob_thumbnail %}
				 	<input type="hidden" id="irudia_{{ forloop.counter }}" value="{{item.ob_thumbnail}}"/>
				  {% else%}
				 	 <input type="hidden" id="irudia_{{ forloop.counter }}" value="{{item.edm_object}}"/>
				  {%endif%}
				
				<ul class="caption-info">
				{% if item.dc_title %}
					<li>
						<h5><a class="bilaketaTitulua" title="{{ LANGUAGE_CODE|choose_title_language:item|format_html|safe}}" href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" id="titulua">{{ LANGUAGE_CODE|choose_title_language:item|format_html|safe}}</a></h5>
                    </li>    
				{%endif%}
				</ul>
{% comment %}				
                                {% if item.edm_provider %}
                                        <span class="bilaketaEremua" id="hornitzailea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {% trans "Hornitzailea" %}: </span><span class="kolore-gris-hiru"> {{item.edm_provider}} </span><br />
                                {%endif%}
                                {% if item.dc_creator %}
                                        <span class="bilaketaEremua" id="sortzailea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Sortzailea" %}: <span class="kolore-gris-hiru">{{item.dc_creator}}</span><br />
                                {%endif%}
                                {% if item.dc_subject %}
                                        <span class="bilaketaEremua" id="gaia"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Gaia" %}: <span class="kolore-gris-hiru">{{item.dc_subject}}</span><br />
                                {%endif%}
                                {% if item.edm_country %}
                                        <span class="bilaketaEremua" id="herrialdea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Herrialdea" %}: </span><span class="kolore-gris-hiru">{{item.edm_country}}</span><br />
                                {%endif%}
                                {% if item.ob_language %}
                                        <span class="bilaketaEremua" id="hizkuntza"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Hizkuntza" %}: </span><span class="kolore-gris-hiru">{{item.ob_language | ob_language_errep_kendu}}</span><br />
                                {%endif%}                              
                                {% if item.edm_type %}
                                        <span class="bilaketaEremua"  id="mota"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Mota" %}: <span class="kolore-gris-hiru">{{item.edm_type}}</span><br />
                                {%endif%}
                                
{% endcomment %}
		</div>	 <!-- caption -->			    
		<div class="kudeaketa">                       
		</div> <!-- kudeaketa buttons -->
		{% endif %}		
  </div><!-- search-result-->