{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<a id="item_img" class="img-responsive nabigItem" href="{% if momentukoItema.edm_isshownby %}{{momentukoItema.edm_isshownby}}{%else%} # {%endif%}" target="{% if momentukoItema.edm_isshownby %}_blank{%endif%}" >
  
    
    {% if '.flv' in momentukoItema.edm_isshownby %}
	
  		<video width="640" height="480" controls>							
  			<source src="{{momentukoItema.edm_isshownby|proxyPassHttp}}" type="video/x-flv"> 							
		</video>		
	{% elif '.mp4' in momentukoItema.edm_isshownby %}
	
  		<video width="640" height="480" controls>							
  			<source src="{{momentukoItema.edm_isshownby|proxyPassHttp}}" type="video/mp4"> 							
		</video>	
		
	{% elif '.ram' in momentukoItema.edm_isshownby %}
	
		<video width="320" height="240" controls>	
  				<source src="{{momentukoItema.edm_isshownby|proxyPassHttp}}" type="video/ogg">
  			
		</video>
		
		
	{% elif '.html' in momentukoItema.edm_isshownby %}
		 <iframe id="preview_frame" style="width:100%;height:300px;" src="{{momentukoItema.edm_isshownby}}"></iframe>
		 
	{% elif momentukoItema.edm_isshownat %}
	 <iframe id="preview_frame" style="width:100%;height:300px;" src="{{momentukoItema.edm_isshownat}}"></iframe>
	 {% elif momentukoItema.ob_thumbnail %} 
	 <img title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema|format_html:1|safe}}" src="{{momentukoItema.ob_thumbnail|proxyPassHttp}}">
	 
	 {%else%}
	<img  alt="{{momentukoItema.dc_title}}" src="/uploads/NoIrudiItem.png">
	{%endif%} 
</a>