{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

{% with itype=momentukoItema.edm_type|lower %}

{% if itype == "sound" or itype == "video" %}
<div id="item_preview-element" class="ob-audio relative">
{% else%}
<div id="item_preview-element" class="relative">
{% endif %}	 

	<div id="chosen-item-mark" class="chosen-item-mark" {% if momentukoItema.egunekoa == 0 %} style="display:none;" {%endif%}>
		<i class="icon-ob-fire circle-back kolore-gris-lau backgrnd-{{itype}}" aria-hidden="true"></i>
   		<span class="backgrnd-gris-lau kolore-gris-0 bold">{% trans "Eguneko Itema" %}</span>
	</div>				
			
	{% comment %}
	<!--AUDIO ALA BIDEOA BADA IRUDIA ERE ERAKUTSI, BALDIN BADAGO-->
	{% if itype == "sound" or  itype == "video"  %}
				
		{% if momentukoItema.ob_thumbnail%}
						
	<a id="item_img" class="img-responsive nabigItem scrollbar" href="{% if momentukoItema.ob_thumbnail %}{{momentukoItema.ob_thumbnail}}{%else%} # {%endif%}" target="{% if momentukoItema.ob_thumbnail %}_blank{%endif%}" >
		<img  style="max-width:100%;" title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema.dc_title|format_html:1|safe}}" src="{{momentukoItema.ob_thumbnail|proxyPassHttp}}">
	</a>
			
		{%endif%}
	{%endif%} 
	{% endcomment %}

	<!-- OBJEKTUA ERAKUTSI BALDIN BADAGO ETA BESTELA SAIATU DATU-BASEKO BESTE EREMU BATETAN AURKITZEN-->
	<!-- TESTUA BADA -->
	{% if itype == "text" %}			
		{% include "_item_preview_text.html" with momentukoItema=momentukoItema %}					
	{%endif%}
				
			
	<!-- IRUDIA BADA eta objektua baldin badu-->
	{% if itype == "image"  %}
					
		{% if momentukoItema.edm_object %}
			{% if momentukoItema.edm_object|is_handle %}
	<a id="item_img" class="img-responsive nabigItem scrollbar" href="{% if momentukoItema.edm_object %}{{momentukoItema.edm_object|proxyPassHttp}}{%else%} # {%endif%}" target="{% if momentukoItema.edm_object %}_blank{%endif%}" >
		 <object data="{{momentukoItema.edm_object|proxyPassHttp}}" type="text/html" width="100%" height="60%">
			<iframe src="{{momentukoItema.edm_object|proxyPassHttp}}" style="border: none;" width="100%" height="60%">
				<img id="prev_ob_pdfby" style="max-width:100%;" alt="{{momentukoItema.dc_title}}" src="/uploads/NoIrudiItem.png">
			</iframe>
		</object>
	</a>			
			{% else %}
	<a id="item_img" class="img-responsive nabigItem scrollbar" href="{% if momentukoItema.edm_object %}{{momentukoItema.edm_object|proxyPassHttp}}{%else%} # {%endif%}" target="{% if momentukoItema.edm_object %}_blank{%endif%}" >
		 <img  style="max-width:100%;" title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema.dc_title|format_html:1|safe}}" src="{{momentukoItema.edm_object|proxyPassHttp}}">
	</a>
			{% endif %}
		{%else%}
			{% include "_item_preview_img.html" with momentukoItema=momentukoItema %}	
		{%endif%}
					
					
	{%endif%}
			
			
	<!-- AUDIOA BADA eta audio objectua baldin badu-->
	{% if itype == "sound" %}
		{% if momentukoItema.edm_object%}
		<!-- <audio controls> -->
		<audio id="ob-videojs" class="video-js ob-audio-skin" controls preload="auto" height="250"
  poster="{% if momentukoItema.ob_thumbnail %}{{momentukoItema.ob_thumbnail}}{%else%}{{STATIC_URL}}img/icons/sound_fullres.png{% endif %}" data-setup="{}">
  	<!--<source src="{{momentukoItema.edm_object}}" type="audio/ogg">-->
  			<source src="{{momentukoItema.edm_object}}" type="audio/mpeg">					
		</audio>
		{%else%}
			{% include "_item_preview_sound.html" with momentukoItema=momentukoItema %}
		{%endif%}
	{%endif%}
	
	<!--BIDEOA BADA-->
	{% if itype == "video" %}
				
		{% if momentukoItema.edm_object%}
	<video id="ob-videojs" class="video-js ob-video-skin" controls preload="auto" height="480"
  poster="{% if momentukoItema.ob_thumbnail %}{{momentukoItema.ob_thumbnail|proxyPassHttp}}{%else%}{{STATIC_URL}}img/icons/video_fullres.png{% endif %}" data-setup="{}">
	<!-- <video width="320" height="240" controls> -->
  		<source src="{{momentukoItema.edm_object|proxyPassHttp}}" type="video/mp4">
  		<source src="{{momentukoItema.edm_object|proxyPassHttp}}" type="video/ogg">
  		<source src="{{momentukoItema.edm_object|proxyPassHttp}}" type="video/x-flv">
  			Your browser does not support the video tag.
	</video>
					
		{%else%}				
			{% include "_item_preview_video.html" with momentukoItema=momentukoItema %}
		{%endif%}
					
	{%endif%}
	
	
	{% with li_ikono_kolorea=request.path|setvar_license_icon_color  %}	
	
	<div id="license_info" class="path-info overflow">
		<ul class="padding-0">
			<li class="ezkerra left-padding-0">					
				<p class="item-field-title kolore-gris-hiru">{% trans "Lizentzia" %}</p>				
				<p class="{{li_ikono_kolorea}} margin-0">
			{% if momentukoItema.edm_rights%}
					<a class="{{li_ikono_kolorea}}" href="{{momentukoItema.edm_rights}}">{{momentukoItema.edm_rights}}</a>
			{%else%}
					-
			{% endif %} 
				</p>
			</li>
			<li class="">		
			<!-- QR code link-->
				<a id="qr_code_create_link" href="" data-toggle="modal" data-target="#modalqrcode" class="eskuma kolore-beltza">
					<i class="icon-ob-qr" aria-hidden="true"> </i><span class="azpimarra-gris"> QR </span> 
				</a>			
			</li>
			<li class="right-padding-0" style="max-width: 45px;">
			{% if momentukoItema.edm_isshownat%}
				<a class="{{li_ikono_kolorea}} eskuma no-hover" title="{{viewAtSource}}" href="{{momentukoItema.edm_isshownat}}" target="_blank">
					<i class="icon-ob-eye" aria-hidden="true"></i><span class="azpimarra-gris"> {% trans "Ikusi jatorrizkoa" %}</span>
				</a>	
			{%endif%}
			</li>
		</ul>
	</div><!-- license info -->
	{% endwith %}
</div>


{% endwith %}