{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- EGUNEKOAK - BOZKATUENAK - AZKENAK -->
<ul class="">
<li>
	<a class="kolore-gris-lau" href="#" data-toggle="modal" data-target="#modalEgunekoak">		
		<span><i class="fa fa-star circle-back" style="font-size: 2em;" aria-hidden="true"></i> {% trans "Egunekoak" %}</span>
	</a>
</li>
<li>
	<a class="kolore-gris-lau" href="#" data-toggle="modal"
		data-target="#modalBozkatuenak">
		<span><i class="fa fa-heart circle-back" style="font-size: 2em;" aria-hidden="true"></i> {% trans "Bozkatuenak" %}</span>
	</a>
</li>
<li>
	<a class="kolore-gris-lau" href="#" data-toggle="modal" data-target="#modalAzkenak">
		<span><i class="fa fa-clock-o circle-back" style="font-size: 2em;" aria-hidden="true"></i>{% trans "Berrienak" %}</span>
	</a>
</li>
</ul>
<!-- END EGUNEKOAK - BOZKATUENAK - AZKENAK -->

