{% load i18n %}
{% load tags%}

<!-- CSS media query on a link element -->

<link rel="stylesheet" media="(min-width: 600px)" href="{{STATIC_URL}}css/new_karrusela_style.css" type="text/css">



<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="5000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators carousel-indicators-new">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"> <!-- ITEM PROPOSAMENA-->
      
      	<div class="container laukia">
			<div class="row">
				<div class="col-md-5 karratua"> <!-- ARGAZKIA-->
					<img src="{% if egunekoItem.ob_thumbnail%} {{egunekoItem.ob_thumbnail|clean_http_prefix}} {% elif egunekoItem.edm_object %} {{egunekoItem.edm_object|clean_http_prefix}} {%else%} /uploads/NoIrudiItem.png {% endif %}" class="img-responsive " title="{{egunekoItem.dc_title}}" />
						
       			</div>
       			{% if 'TEXT' in egunekoItem.edm_type %} <!-- INFO-->
       				<div class="col-md-5 karratua fondo-horia"> 
       			{% elif 'IMAGE' in egunekoItem.edm_type %}
       				<div class="col-md-5 karratua fondo-urdina"> 
       			{% elif 'SOUND' in egunekoItem.edm_type %}
       				<div class="col-md-5 karratua fondo-berdea"> 
       			{% else %}
       				<div class="col-md-5 karratua fondo-gorria"> <!-- VIDEO-->
       			{% endif %}
       				<div class="row"> <!--nested-->
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-zer marra-iluna mota-irudia"> {% trans "Itema" %} &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  
       						{% if 'TEXT' in egunekoItem.edm_type %}
       							<img src="{{STATIC_URL}}img/newLogo/icons/text_beltz.png">
       							<span class="letra-arina"> &nbsp;  {% trans "Testua" %} </span> </p>
       						{% elif 'IMAGE' in egunekoItem.edm_type %}
       							<img src="{{STATIC_URL}}img/newLogo/icons/image_beltz.png">
       							<span class="letra-arina"> &nbsp;  {% trans "Irudia" %} </span> </p>
       						{% elif 'SOUND' in egunekoItem.edm_type %}
       							<img src="{{STATIC_URL}}img/newLogo/icons/audio_beltz.png">
       							<span class="letra-arina"> &nbsp;  {% trans "Audioa" %} </span> </p>
       						{% else %}
       							<img src="{{STATIC_URL}}img/newLogo/icons/video_beltz.png">
       							<span class="letra-arina"> &nbsp;  {% trans "Bideoa" %} </span> </p>
       						{%endif%}
       						
       					</div>
       					<div class="col-md-6 col-md-offset-1">
       					
       						{% if egunekoItem.edm_year%}
       							<p class="karrusel-data">  {{ egunekoItem.edm_year  }}   </p> <!-- |date:"y.m.d"-->
       						{%else%}
       							<p class="karrusel-data"> {{  currentDate |date:"y.m.d" }} </p>
       						
       						{%endif%}
       					</div>
       					<div class="col-md-5 col-md-offset-1">
       						<p class="karrusel-title"> {{ LANGUAGE_CODE|choose_title_language:egunekoItem|format_html|safe}}  </p>
       					</div>	
       					<div class="col-md-10 col-md-offset-1">
       						<p class="karrusel-describapena"> {{ LANGUAGE_CODE|choose_description_language:egunekoItem|format_html|add_ekm_prefix_to_desc|correct_wikification_url_tags|safe | get_substring_150}}  </p>
       					</div>			
       					<div class="col-md-4 col-md-offset-8">
       						<p class="karrusel-gehiago"> <a href="http://ondarebideak.dss2016.eu/erakutsi_item?id={{egunekoItem.id}}"> {% trans "Ikusi gehiago" %} &nbsp;<span class="kolore-txuria glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </a></p>
       					</div>		
       				
       				</div>
       			</div>
       		</div><!--row-->
       		
       </div><!--slide-1 -->
      </div><!--container-->
    </div><!--item slide-->
    <div class="item slides">
      <div class="slide-2"> <!-- IBILBIDE PROPOSAMENA-->
      
      	<div class="container laukia ">
			<div class="row">
				<div class="col-md-5 karratua"> <!-- ARGAZKIA-->
				<img src="{% if egunekoPath.paths_thumbnail %}{{egunekoPath.paths_thumbnail}}{% else %}/uploads/NoIrudiBide.png{% endif %}" class="img-responsive " title="{{egunekoPath.dc_title}}" />
       			
       			</div>
       			<div class="col-md-5 karratua fondo-neutroa"> 
       				<div class="row"> <!--nested-->
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-zer-argia marra-horia mota-irudia"> {% trans "Ibilbidea"%}        					
       					</div>
       					<div class="col-md-6 col-md-offset-1">
       						<!-- Datak: letrak maiuskulaz ala minuskulaz gauza desberdina ematen dute. Adb. M : hilea letraz, m: hilea zenbakiz-->
       						<p class="karrusel-data">  {{ egunekoPath.creation_date |date:"y.m.d" }} </p>
       					</div>
       					<div class="col-md-5 col-md-offset-1">
       						<p class="karrusel-title-argia"> {{ egunekoPath.dc_title }} </p>
       					</div>	
       					<div class="col-md-10 col-md-offset-1">
       						<p class="karrusel-describapena-argia"> {{egunekoPath.dc_description | get_substring_150}} ... </p>
       					</div>			
       					<div class="col-md-4 col-md-offset-8">
       						<p class="karrusel-gehiago-argia">  <a href="{{BASE_URL}}/nabigazioa_hasi?path_id={{egunekoPath.id}}"> {% trans "Ikusi gehiago" %} &nbsp;<span class="kolore-horia glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>
       					</div>		
       				
       				</div>
       			</div>
       		</div><!--row-->
       		
       </div><!--slide-2 -->
      </div><!--container-->
    </div><!--item slide-->
      <div class="item slides">
      <div class="slide-3"> <!-- HORNITZAILE PROPOSAMENA-->
      
      	<div class="container laukia">
			<div class="row">
				<div class="col-md-5 karratua"> <!-- ARGAZKIA-->
				{% if egunekoHornitzaile.argazkia %} <img src="{{egunekoHornitzaile.argazkia|clean_http_prefix}}" class="img-responsive " title="{{egunekoHornitzaile.izena}}" /> {% else %} <img src="{{egunekoHornitzaile.ikonoa|clean_http_prefix}}" class="img-responsive " title="{{egunekoHornitzaile.izena}}" /> {% endif %}
       			</div>
       			<div class="col-md-5 karratua fondo-neutroa"> 
       				<div class="row"> <!--nested-->
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-zer-argia marra-horia"> {% trans "Hornitzailea"%} 
       					</div>
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-data">  {{  currentDate |date:"y.m.d" }} </p>
       					</div>
       					<div class="col-md-5 col-md-offset-1">
       						<p class="karrusel-title-argia"> {{egunekoHornitzaile.izena}} </p>
       					</div>	
       					<div class="col-md-10 col-md-offset-1 karrusel-describapena-argia">
       						<p class="karrusel-describapena-argia"> {{egunekoHornitzaile.deskribapena |format_html| safe |get_substring_150 | safe }} ... </p>
       					</div>			
       					<div class="col-md-4 col-md-offset-8">
       						<p class="karrusel-gehiago-argia"> <a href="http://ondarebideak.dss2016.eu/hornitzaile_search?h={{egunekoHornitzaile.fk_user.username}}&h_id={{egunekoHornitzaile.fk_user.id}}&z=h"> {% trans "Ikusi gehiago" %} &nbsp;<span class="kolore-horia glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>
       					</div>		
       				
       				</div>
       			</div>
       		</div><!--row-->
       		
       </div><!--slide-3 -->
      </div><!--container-->
    </div><!--item slide-->
      <div class="item slides">
      <div class="slide-4"> <!-- EGUNEKO BERRIA PROPOSAMENA-->
      
      	<div class="container laukia">
			<div class="row">
				<div class="col-md-5 karratua"> <!-- ARGAZKIA-->
				<img class="img-responsive " src="{{erakBerria.argazkia}}" title="{{ LANGUAGE_CODE|choose_karrusel_titulu_language:erakBerria|format_html|safe}}">
			
       			</div>
       			<div class="col-md-5 karratua fondo-neutroa">
       				<div class="row"> <!--nested-->
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-zer-argia marra-horia"> {% trans "Berria"%} 
       					</div>
       					<div class="col-md-6 col-md-offset-1">
       						<p class="karrusel-data">  {{  currentDate |date:"y.m.d" }} </p> 
       					</div>
       					<div class="col-md-5 col-md-offset-1">
       						<p class="karrusel-title-berria-argia"> {{ LANGUAGE_CODE|choose_karrusel_titulu_language:erakBerria|format_html|safe}} </p>
       					</div>	
       					<div class="col-md-10 col-md-offset-1">
       						<p class="karrusel-describapena-argia"> {{ LANGUAGE_CODE|choose_karrusel_desk_language:erakBerria|format_html|safe}} </p>
       					</div>			
       					<div class="col-md-4 col-md-offset-8">
       						<p class="karrusel-gehiago-argia"> <a href="{{ erakBerria.url }}" title="{{ LANGUAGE_CODE|choose_karrusel_titulu_language:erakBerria|format_html|safe}}"> {% trans "Ikusi gehiago" %} &nbsp;<span class="kolore-horia glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>
       					</div>		
       				
       				</div>
       			</div>
       		</div><!--row-->
       		
       </div><!--slide-4 -->
      </div><!--container-->
    </div><!--item slide-->
  </div> <!-- carousel-inner -->
</div> <!--Nagusia -->