{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- header css-->
<!-- CSS media query on a link element -->

<link rel="stylesheet" media="(min-width: 600px)" href="{{STATIC_URL}}css/new_header_style.css" type="text/css">
<link rel="stylesheet" media="(max-width: 600px)" href="{{STATIC_URL}}css/new_header_style_mobile.css" type="text/css">
		

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--OLD LOGO -->
     <!--
     <a id="brand-logo" class="{% if request.get_full_path != '/' and request.get_full_path != '/logina' and request.get_full_path != '/erregistratu'%}navbar-brand{% else %}{% if request.mobile or request.get_full_path == '/' %}index-brand{%else%}navbar-brand{% endif %}{% endif %}" href="/"><img src="{{STATIC_URL}}img/brandy/logoa_iluna.png"></a>
	 -->
	 
	 <a id="new-logo" class="" href="/"><img src="{{STATIC_URL}}img/logo/ob_logo_karratu_RGB.png"></a>
	
    </div> <!--Logoa eta mobiletan agertzen den menu itxiaren botoia -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav header-main-links {% if not request.mobile%} header-main-links-med {%endif%}">
        <li><a class="header-custom-link-underline" href="itemak_hasiera"> {% trans "ITEMAK" %} </a></li>
        <li><a class="header-custom-link-underline" href="ibilbideak_hasiera"> {% trans "IBILBIDEAK" %} </a></li>
        <li><a class="header-custom-link-underline" href="hornitzaileak_hasiera"> {% trans "HORNITZAILEAK" %} </a></li>
      </ul>
   
      
      <div class="col-sm-3 col-md-3  {% if not request.mobile%} bilatzailea-kutxa {%endif%} text-center navbar-nav">
						
						<form action="/cross_search" method="post" class="navbar-form navbar-left autocomplete-me">

							{% csrf_token %}
							<div class="input-group" style="width:97%;">
								{% trans "Bilatu ..." as the_placeholder %}
								{% trans "Bilaketa ze hizkuntzatan?" as query_language %}
								<!-- id=id_q-->
								{% if bilaketaGaldera%}
								<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input" value="{{bilaketaGaldera}}">
								{% else %}
								<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input">

								{%endif%}
								<span id="search_icons" class="input-group-btn">
									
									<button class="btn btn-default" type="submit">
										<span class="icon-ob-search" aria-hidden="true"></span> !
									</button> 									
								</span>
								<!-- <span class="input-group-btn">
									<select id="hizkRadio" title="{{ query_language }}">
										<option value="eu" selected="selected">eu</option>
										<option value="es">es</option>
										<option value="en">en</option>
									</select>					
								</span> -->				
							</div>
							{% if radioHizkuntza == "eu" or not radioHizkuntza %}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="eu" checked>
							Eu
							{%else%}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="eu">
							Eu
							{%endif%}
							{% if radioHizkuntza == "es"%}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="es" checked>
							Es
							{%else%}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="es">
							Es
							{%endif%}
							{% if radioHizkuntza == "en"%}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="en" checked>
							En
							{%else%}
							<input  type="radio" id="hizkRadio" name="hizkRadio" value="en">
							En
							{%endif%}
							

						</form>
						
					

		</div><!-- bilaketa kutxa -->
	
      	<!-- Language menu-->
			<form id="hizkuntza_aukeraketa_id" name="setLang{{ lang.1 }}" action="/i18n/setlang/" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="#" />
				<input type="hidden" name="language" value="{{ lang.0 }}" />
				{% get_current_language as LANGUAGE_CODE %}
				<ul class="nav navbar-nav " id="lang_ul">

					{% for langa in LANGUAGES %}
				
					<li class="interf-lang">
						{% if langa.1 == LANGUAGE_CODE %}					
						<a href="#" class="active" onclick="hizkuntza_url_egokitu(this);">{{ langa.1 }}</a>
						{% else %}
						<a href="#" onclick="hizkuntza_url_egokitu(this);">{{ langa.1 }}</a>
						{% endif %}
					</li>
					
					{% endfor %}
				</ul>
			</form>
      <ul id="home_menu" class="nav navbar-nav navbar-right">
        {% if request.mobile %}
			<hr>
		{% endif %}
		{% if user.is_authenticated %}
			<li class="dropdown">				
				<a href="#" class="dropdown-toggle" login-icon data-toggle="dropdown"><i class="icon-ob-usr kolore-video"></i> {{request.user.username}} <b class="caret"></b></a>
					
				{% if not user.is_superuser %}
				<ul class="dropdown-menu">
					<li>
						<a href="nire_itemak_erakutsi">{% trans "Nire itemak" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/nire_ibilbideak_erakutsi">{% trans "Nire ibilbideak" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% if request.user|has_group:'hornitzailea' %}
					<li>
						<a href="{{BASE_URL}}/oaipmh_datubilketa">{% trans "OAI-PMH bidezko itemen bilketa" %}</a>
					</li>
					{% endif%}
					<li>
						<a href="{{BASE_URL}}/itema_gehitu">{% trans "Item berria gehitu" %} <i class="fa fa-upload" aria-hidden="true"></i></a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{{BASE_URL}}/perfila_erakutsi">{% trans "Profila" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/pasahitza_aldatu">{% trans "Pasahitza Aldatu" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% if request.user|has_group:'hornitzailea' %}
					<li>
						<a href="{{BASE_URL}}/hornitzaile_fitxa_editatu">{% trans "Hornitzaile fitxa editatu" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% endif%}

					<li>
						<a href="irten">{% trans "Irten" %} <i class="fa fa-sign-out kolore-gris-lau" aria-hidden="true"></i></a>
					</li>
				</ul>
				<!--Administratzailea baldin bada kudeaketa-aukerak erakutsi -->
            	{% else %}
            	<ul class="dropdown-menu">
					<li>
						<a href="{{BASE_URL}}/admin_erabiltzaileak_kudeatu">{% trans "Erabiltzaileak kudeatu" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/admin_berriak_kudeatu">{% trans "Berriak kudeatu" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/admin_eguneko_hornitzaileak_kudeatu">{% trans "Eguneko hornitzaileak kudeatu" %}</a>
					</li>
					<li>
						<a href="irten">{% trans "Irten" %} <i class="fa fa-sign-out kolore-sound" aria-hidden="true"></i></a>
					</li>
           		</ul>
           		{%endif%}
            	
			</li><!-- dropdown -->
				
			{% else %}
			<li>
				<a href="#" data-toggle="modal" data-target="#register-modal"><b>{% trans "Erregistratu" %}</b> </a>
				<!-- <a href="erregistratu">{% trans "Erregistratu" %}</b> </a>-->
			</li>

			<li>				
				<a href="#" data-toggle="modal" data-target="#login-modal" ><i class="icon-ob-usr kolore-video"></i> {% trans "Login" %}</a>
			</li>
			{% endif %}
      </ul> <!-- Eskuineko 2 linkak -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>