{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- header css-->
<link rel="stylesheet" href="{{STATIC_URL}}css/header.css" type="text/css">



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--OLD LOGO -->
     <!--
     <a id="brand-logo" class="{% if request.get_full_path != '/' and request.get_full_path != '/logina' and request.get_full_path != '/erregistratu'%}navbar-brand{% else %}{% if request.mobile or request.get_full_path == '/' %}index-brand{%else%}navbar-brand{% endif %}{% endif %}" href="/"><img src="{{STATIC_URL}}img/brandy/logoa_iluna.png"></a>
	 -->
	 
	 <a id="new-logo" class="" href="/"><img src="{{STATIC_URL}}img/logo/ob_logo_karratu_RGB.png"></a>
	
    </div> <!--Logoa eta mobiletan agertzen den menu itxiaren botoia -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav header-main-links {% if not request.mobile%} header-main-links-med {%endif%}">
        <li><a class="header-custom-link-underline" href="itemak_hasiera"> <span>{% trans "ITEMAK" %}</span> </a></li>
        <li><a class="header-custom-link-underline" href="ibilbideak_hasiera"> <span>{% trans "IBILBIDEAK" %}</span> </a></li>
        <li><a class="header-custom-link-underline" href="hornitzaileak_hasiera"> <span>{% trans "HORNITZAILEAK" %}</span> </a></li>
      </ul>
   
      
      <div class="col-md-4  {% if not request.mobile%} bilatzailea-kutxa {%endif%} text-center navbar-nav">
						
						<form action="/cross_search" method="post" class="navbar-form autocomplete-me">

							{% csrf_token %}
							<div id="search-box" class="input-group" style="width:100%;">
								{% trans "Bilatu ..." as the_placeholder %}
								{% trans "Bilaketa ze hizkuntzatan?" as query_language %}
								<!-- id=id_q-->
								{% if bilaketaGaldera%}
								<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input" value="{{bilaketaGaldera}}">
								{% else %}
								<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input">

								{%endif%}
								<div id="search_icons" class="input-group-btn">
									
									<button class="btn btn-default" type="submit">
										<span class="icon-ob-search" aria-hidden="true"></span>
									</button> 
									<div id="search_lang_div" title="{% trans 'Bilaketa ze hizkuntzatan egiten ari zara?' %}">
									<!-- <span class="icon-ob-chevron-down"></span> -->	
									<select id="search_lang" name="search_lang" class="backgrnd-txuria kolore-gris-lau">										
										<option value="eu" {% if radioHizkuntza == "eu" or not radioHizkuntza %}selected{%endif%}>Eu</option>
										<option value="es" {% if radioHizkuntza == "es" %}selected{%endif%}>Es</option>
										<option value="en" {% if radioHizkuntza == "en" %}selected{%endif%}>En</option>
									</select>	
																	
									</div>
								</div>												
							</div>
						</form>
						
					

		</div><!-- bilaketa kutxa -->
	
      	<!-- Language menu-->
			<form id="hizkuntza_aukeraketa_id" name="setLang{{ lang.1 }}" action="/i18n/setlang/" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="#" />
				<input type="hidden" name="language" value="{{ lang.0 }}" />
				{% get_current_language as LANGUAGE_CODE %}
				<ul class="nav navbar-nav " id="lang_ul">

					{% for langa in LANGUAGES %}
				
					<li class="interf-lang">
						{% if langa.1 == LANGUAGE_CODE %}					
						<a href="#" class="active" onclick="hizkuntza_url_egokitu(this);">{{ langa.1 }}</a>
						{% else %}
						<a href="#" onclick="hizkuntza_url_egokitu(this);">{{ langa.1 }}</a>
						{% endif %}
					</li>
					
					{% endfor %}
				</ul>
			</form>
      <ul id="home_menu" class="nav navbar-nav navbar-right">
        {% if request.mobile %}
			<hr>
		{% endif %}
		{% if user.is_authenticated %}
			<li class="dropdown">				
				<a href="#" class="dropdown-toggle" login-icon data-toggle="dropdown"><i class="icon-ob-usr kolore-video"></i> {{request.user.username}} <b class="caret"></b></a>
				<ul id="profile-menu" class="dropdown-menu">
				{% if not user.is_superuser %}
					<li>
						<a href="nire_itemak_erakutsi">{% trans "Nire itemak" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/nire_ibilbideak_erakutsi">{% trans "Nire ibilbideak" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% if request.user|has_group:'hornitzailea' %}
					<li>
						<a href="{{BASE_URL}}/oaipmh_datubilketa">{% trans "OAI-PMH bidezko itemen bilketa" %}</a>
					</li>
					{% endif%}
					<li>
						<a href="{{BASE_URL}}/itema_gehitu">{% trans "Item berria gehitu" %} <i class="fa fa-upload" aria-hidden="true"></i></a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{{BASE_URL}}/perfila_erakutsi">{% trans "Profila" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/pasahitza_aldatu">{% trans "Pasahitza Aldatu" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% if request.user|has_group:'hornitzailea' %}
					<li>
						<a href="{{BASE_URL}}/hornitzaile_fitxa_editatu">{% trans "Hornitzaile fitxa editatu" %}</a>
					</li>
					<li role="separator" class="divider"></li>
					{% endif%}

					<li>
						<a href="irten">{% trans "Irten" %} <i class="fa fa-sign-out kolore-gris-lau" aria-hidden="true"></i></a>
					</li>				
				<!--Administratzailea baldin bada kudeaketa-aukerak erakutsi -->
            	{% else %}            	
					<li>
						<a href="{{BASE_URL}}/admin_erabiltzaileak_kudeatu">{% trans "Erabiltzaileak kudeatu" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/admin_berriak_kudeatu">{% trans "Berriak kudeatu" %}</a>
					</li>
					<li>
						<a href="{{BASE_URL}}/admin_eguneko_hornitzaileak_kudeatu">{% trans "Eguneko hornitzaileak kudeatu" %}</a>
					</li>
					<li>
						<a href="irten">{% trans "Irten" %} <i class="fa fa-sign-out kolore-sound" aria-hidden="true"></i></a>
					</li>
           		{%endif%}
           		</ul>            	
			</li><!-- dropdown -->
				
			{% else %}
			<li>
				<a href="#" data-toggle="modal" data-target="#register-modal">{% trans "Erregistratu" %}</a>
				<!-- <a href="erregistratu">{% trans "Erregistratu" %}</b> </a>-->
			</li>

			<li>				
				<a href="#" data-toggle="modal" data-target="#login-modal" ><i class="icon-ob-usr kolore-video"></i><span style="font-weight:700;"> {% trans "Login" %}</span></a>
			</li>
			{% endif %}
      </ul> <!-- Eskuineko 2 linkak -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
