{% load i18n %}
{% load tags%}

<!-- CSS media query on a link element -->

<link rel="stylesheet" media="(min-width: 600px)" href="{{STATIC_URL}}css/oina_style.css" type="text/css">


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row"> <!-- nested columns -->
   			 <div class="col-md-4">
   			 	<p class="logo_ob_oina"> <img src="{{STATIC_URL}}img/newLogo/logo/ob_logo_karratu_beltz.png"> </p>
   			 	<p class="oina-desk kolore-gris-bat"> {% trans "OndareBideak plataforma eta bere teknologia GNU GPL V3 lizentziapean banatutako software librea da." %} </p>
   			 	<p class="oina-desk kolore-gris-bat"> {% trans "OndareBideak-ek erakutsitako item kulturalek haien lizentzia propioak dituzte eta eskuzabaltasunez bertan jarri dituzten erakundeen menpekoak dira."%} </p>
   			 	<p class="oina-text-bat"> <span class="oina-marra">&nbsp;&nbsp;</span> github &nbsp;&nbsp;<span class="oina-marra">&nbsp;&nbsp;</span> ondarebideak@elhuyar.eus </p>
   			 
   			 </div>
   			 <div class="col-md-7 col-md-offset-1">
   			 	<p class="gara-title"> {% trans "Garatzaileak" %} </p>
   			 	<p class="logo-zerrenda">
   			 	<div class="row">
					<!--GipuzkoakoMuseoak_4.jpg-->
					<div class="col-md-2 text-center logo-gm">
						<img src="{{STATIC_URL}}img/logos/GipuzkoakoMuseoak_3.jpg" alt="DSS2016eu" width="100%">
					</div>
					<div class="col-md-2 text-center logo-dss">
						<img src="{{STATIC_URL}}img/logos/dss2016eu_eur.png" alt="DSS2016eu" width="100%">
					</div>
					
					<div class="col-md-2 text-center logo-elh">
						<img src="{{STATIC_URL}}img/logos/elhuyar-ht-garden-noht.png" alt="Elhuyar">
					</div>
					<div class="col-md-2 text-center logo-em">
						<img src="{{STATIC_URL}}img/logos/logo.euskomedia.gif" alt="Euskomedia">
					</div>
					<div class="col-md-2 text-center logo-ehu">
						<img class="ehu_logoa " src="{{STATIC_URL}}img/logos/ehu.jpg" alt="EHU-UPV" >
						
					</div>
					<div class="col-md-2 text-center logo-ixa">
						<img src="{{STATIC_URL}}img/logos/ixa.png" alt="IXA taldea">
					</div>
				</div>
   			 </p>
   			 </div>
			</div><!-- nested columns -->
		</div><!-- 12 columns -->
	</div> <!--row-->
	
</div>