{% load i18n %}
{% load tags%}

<!-- CSS media query on a link element -->

<link rel="stylesheet" href="{{STATIC_URL}}css/oina.css" type="text/css">


<div id="ob-footer" class="container-fluid">
	<div class="row"> <!-- nested columns -->
   		<div class="col-md-5">
   			 	<p class="logo_ob_oina"> <img src="{{STATIC_URL}}img/logo/ob_logo_karratu_beltz.png"> </p>
   			 	<p class="oina-desk kolore-gris-bi"> {% trans "OndareBideak plataforma eta bere teknologia GNU GPL V3 lizentziapean banatutako software librea da." %} </p>
   			 	<p class="oina-desk kolore-gris-bi"> {% trans "OndareBideak-ek erakutsitako item kulturalek haien lizentzia propioak dituzte eta eskuzabaltasunez bertan jarri dituzten erakundeen menpekoak dira."%} </p>
   			 	<p class="oina-text-bat"><span class="kolore-video">&nbsp;&ndash;&nbsp;</span><a href="https://github.com/Elhuyar/OndareBideak" target="_blank"> github </a>&nbsp;&nbsp;<span class="kolore-video">&nbsp;&ndash;&nbsp;</span><a href="mailto:ondarebideak@elhuyar.eus" target="_blank"> ondarebideak@elhuyar.eus </a></p>
   			 
   		</div>
   		<div class="col-md-7">
   			{% if not request.mobile %} 
   			<p class="logo_ob_oina"></p>
   			{% endif %}
   			<p class="gara-title"> {% trans "Garatzaileak" %} </p>
   		 	<div id="logo-div" class="row">
					<!--GipuzkoakoMuseoak_4.jpg-->					
					<div class="col-xs-6 col-md-3 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/gfa.png');"></div>
					<div class="col-xs-6 col-md-3 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/dss2016-wb.png');"></div>
					<div id="logo-elh" class="col-xs-4 col-md-2 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/elh-wb.png');"></div>
					<div id="logo-em" class="col-xs-4 col-md-2 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/ekm-wb.png');"></div>
					<div id="logo-ehu" class="col-xs-2 col-md-1 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/ehu-wb.png');"></div>
					<div id="logo-ixa" class="col-xs-2 col-md-1 text-center" style="background-image:url('{{STATIC_URL}}img/dev-logos/ixa-wb.png');"></div>
			</div>   			 
   		</div>
	</div><!--  row nested columns -->	
</div>