{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

{% if bilaketa_filtroak == 1%}

<div class="filtroak">
	<h4 class="filter-main-title">{% trans "Bilaketa Filtroak" %} </h4>
	<br />
	<br />
	
	<p class="filter-title">
		<span>{% trans "Mota" %} </span>
		<button class="filterButton" id="hideMF">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showMF" style="display:none;">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="motaFiltroak" id="motaFiltroak">
		
		<input type="hidden" id="db_motak_text" name="db_motak_text" value="{{db_motak_text}}">
				
		{%for db_mota in db_motak%}
				&nbsp;&nbsp;				
				<input type="checkbox" id="{{db_mota}}" name="{{db_mota}}" value="{{db_mota}}" onclick="bilaketaFiltratu_db()" 
				{%if db_mota in motaF%}checked{%endif%}>
				<label for="{{db_mota}}"><span><i class="icon-ob-check"></i></span><i class="icon-ob-{{db_mota|lower}} kolore-{{db_mota|lower}}"></i><i class="kolore-{{db_mota|lower}}"> {% trans db_mota|lower %}</i></label>
				<br>
		{% endfor %}
		
		</br>
	</div>
	<br />
	<p class="filter-title">
		<span>{% trans "Hizkuntza" %} </span>
		<button class="filterButton" id="hideHiF">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showHiF" style="display:none; float:right;">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="hizkFiltroak" id="hizkFiltroak">
			{% with "eu es en"|split as langsfor %}
			{% for currentlang in langsfor %}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza-{{currentlang}}" name="hizkuntza-{{currentlang}}" value="{{currentlang}}" onclick="bilaketaFiltratu_db()" 
			{%if currentlang in hizkF%} checked {%endif%}>
			<label for="hizkuntza-{{currentlang}}"><span><i class="icon-ob-check"></i></span>{{currentlang}}</label>
			
			<br>
			{% endfor %}
			{% endwith %}
	</div>
	<br />
	<p class="filter-title">
		<span>{% trans "Hornitzailea" %}</span>
		<button class="filterButton" id="hideHF" style="display:none; float:right;">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showHF">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="horFiltroak" id="horFiltroak" style="display:none;">
		<input type="hidden" id="db_hornitzaileak_text" name="db_hornitzaileak_text" value="{{db_hornitzaileak_text}}">
				
		{%for db_hornitzailea in db_hornitzaileak%}
			&nbsp;&nbsp;
			<input type="checkbox" id="{{db_hornitzailea}}" name="{{db_hornitzailea}}" value="{{db_hornitzailea}}" onclick="bilaketaFiltratu_db()" {%if db_hornitzailea in horniF%}checked{%endif%}>
			<label for="{{db_hornitzailea}}"><span><i class="icon-ob-check"></i></span> {{db_hornitzailea}}</label>
			<br/>
		{% endfor %}
	</div>
	<br />
	
	<p class="filter-title">
		<span>{% trans "Ordena" %} </span>
		<button class="filterButton" id="hideOF" style="display:none;">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showOF">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="ordenaFiltroak" id="ordenaFiltroak" style="display:none;">
		{% with "dataDesc dataAsc botoak"|split as ordenafor %}
		{% for currentordena in ordenafor %}		
		&nbsp;&nbsp;
		<input type="checkbox" id="ordena-{{currentordena}}" name="ordena-{{currentordena}}" value="{{currentordena}}" onclick="bilaketaFiltratu_db()"
		{%if currentordena in ordenaF%} checked {%endif%}>
		<label for="ordena-{{currentordena}}"><span><i class="icon-ob-check"></i></span> {% trans currentordena %}</label> <!--data (beheraka)--><!-- data (goraka) --><!-- botoak --> 
		<br>
		{%endfor%}
		{%endwith%}
	</div>
	<br />
	<p class="filter-title">
		<span>{% trans "Lizentzia" %} </span>
		<button class="filterButton" id="hideLF" style="display:none;">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showLF">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="lizentziaFiltroak" id="lizentziaFiltroak" style="display:none;">
		
		<input type="hidden" id="db_lizentziak_text" name="db_lizentziak_text" value="{{db_lizentziak_text}}">
									
		{%for db_lizentzia in db_lizentziak%}			
				&nbsp;&nbsp;				
				<input type="checkbox" id="{{ db_lizentzia.url }}" name="{{db_lizentzia.url}}" value="{{db_lizentzia.url}}" onclick="bilaketaFiltratu_db()" 
				{%if db_lizentzia.url in lizentziaF%}checked{%endif%}>
				<label for="{{ db_lizentzia.url }}"><span><i class="icon-ob-check"></i></span> {{ db_lizentzia.izena }}</label>
				<br>
		{% endfor %}
		
		</br>
	</div>
	<br />
	<p class="filter-title">
		<span>{% trans "Beste batzuk" %} </span>
		<button class="filterButton" id="hideBF" style="display:none;">
			<i class="icon-ob-chevron-up" aria-hidden="true"></i>
		</button>
		<button class="filterButton" id="showBF">
			<i class="icon-ob-chevron-down" aria-hidden="true"></i>
		</button>
	</p>
	<div class="besteFiltroak" id="besteFiltroak" style="display:none;">
		{% with "egunekoa proposatutakoa wikifikatua irudiaDu irudiaEzDu"|split as besteFfor %}
		{% for currentbeste in besteFfor %}			
		&nbsp;&nbsp;
		<input type="checkbox"  id="{{currentbeste}}F" name="{{currentbeste}}F" value="{{currentbeste}}" onclick="bilaketaFiltratu_db()" 
		{%if currentbeste in besteaF%}checked{%endif%}>
		<label for="{{ currentbeste }}F"><span><i class="icon-ob-check"></i></span> {% trans currentbeste %}</label>
		<br>
		{%endfor%}
		{%endwith%}
	</div>
</div>
{%endif%}
