{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<div class="eskuma_div" align="right" >
	

	{% if bilaketa_filtroak == 1%}

	<div class="filtroak">
		<b>{% trans "Bilaketa Filtroak" %} </b>
		<br />
		<br />

		<p>
			&nbsp;<b>{% trans "Hizkuntza" %} </b>
			<button class="filterButton" id="hideHiF">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showHiF" style="display:none;">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="hizkFiltroak" id="hizkFiltroak">
			{%if "eu" in hizkF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza1F" name="hizkuntza1F" value="eu" onclick="bilaketaFiltratu()" checked>
			eu
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza1F" name="hizkuntza1F" value="eu" onclick="bilaketaFiltratu()">
			eu
			<br>
			{%endif%}
			{%if "es" in hizkF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza2F" name="hizkuntza2F" value="es" onclick="bilaketaFiltratu()" checked>
			es
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza2F" name="hizkuntza2F" value="es" onclick="bilaketaFiltratu()">
			es
			<br>
			{%endif%}
			{%if "en" in hizkF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza3F" name="hizkuntza3F" value="en" onclick="bilaketaFiltratu()" checked>
			en
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hizkuntza3F" name="hizkuntza3F" value="en" onclick="bilaketaFiltratu()">
			en
			<br>
			{%endif%}
		</div>
		<br />
		<p>
			&nbsp;<b>{% trans "Hornitzailea" %} </b>
			<button class="filterButton" id="hideHF" style="display:none;">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showHF">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="horFiltroak" id="horFiltroak" style="display:none;">
			{%if "EuskoMedia" in horniF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hornitzaile1F" name="hornitzaile1F" value="EuskoMedia" onclick="bilaketaFiltratu()" checked>
			EuskoMedia
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hornitzaile1F" name="hornitzaile1F" value="EuskoMedia" onclick="bilaketaFiltratu()">
			EuskoMedia
			<br>
			{%endif%}
			{%if "arrunta" in horniF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hornitzaile2F" name="hornitzaile2F" value="arrunta" onclick="bilaketaFiltratu()" checked>
			Erabiltzaile Arrunta
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="hornitzaile2F" name="hornitzaile2F" value="arrunta" onclick="bilaketaFiltratu()">
			Erabiltzaile Arrunta
			<br>
			{%endif%}
		</div>
		<br />
		<p>
			&nbsp;<b>{% trans "Mota" %} </b>
			<button class="filterButton" id="hideMF">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showMF" style="display:none;">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="motaFiltroak" id="motaFiltroak">
			{%if "testua" in motaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota1F" name="mota1F" value="testua" onclick="bilaketaFiltratu()" checked>
			testua
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota1F" name="mota1F" value="testua" onclick="bilaketaFiltratu()">
			testua
			<br>
			{%endif%}
			{%if "audioa" in motaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota2F" name="mota2F" value="audioa" onclick="bilaketaFiltratu()" checked>
			audioa
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota2F" name="mota2F" value="audioa" onclick="bilaketaFiltratu()">
			audioa
			<br>
			{%endif%}
			{%if "bideoa" in motaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota3F" name="mota3F" value="bideoa" onclick="bilaketaFiltratu()" checked>
			bideoa
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota3F" name="mota3F" value="bideoa" onclick="bilaketaFiltratu()">
			bideoa
			<br>
			{%endif%}
			{%if "irudia" in motaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota4F" name="mota4F" value="irudia" onclick="bilaketaFiltratu()" checked>
			irudia
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="mota4F" name="mota4F" value="irudia" onclick="bilaketaFiltratu()">
			irudia
			<br>
			{%endif%}
		</div>
		<br />
		<p>
			&nbsp;<b>{% trans "Ordena" %} </b>
			<button class="filterButton" id="hideOF" style="display:none;">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showOF">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="ordenaFiltroak" id="ordenaFiltroak" style="display:none;">
			{%if "data" in ordenaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena1F" name="ordena1F" value="data" onclick="bilaketaFiltratu()" checked>
			data (beheraka)
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena1F" name="ordena1F" value="data" onclick="bilaketaFiltratu()">
			data (beheraka)
			<br>
			{%endif%}
			{%if "dataAsc" in ordenaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena3F" name="ordena3F" value="dataAsc" onclick="bilaketaFiltratu()" checked>
			data (goraka)
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena3F" name="ordena3F" value="dataAsc" onclick="bilaketaFiltratu()">
			data (goraka)
			<br>
			{%endif%}
			{%if "botoak" in ordenaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena2F" name="ordena2F" value="botoak" onclick="bilaketaFiltratu()" checked >
			botoak
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="ordena2F" name="ordena2F" value="botoak" onclick="bilaketaFiltratu()" >
			botoak
			<br>
			{%endif%}
		</div>
		<br />
		<p>
			&nbsp;<b>{% trans "Lizentzia" %} </b>
			<button class="filterButton" id="hideLF" style="display:none;">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showLF">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="lizentziaFiltroak" id="lizentziaFiltroak" style="display:none;">
			{%if "librea" in lizentziaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia1F" name="lizentzia1F" value="librea" onclick="bilaketaFiltratu()" checked>
			librea
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia1F" name="lizentzia1F" value="librea" onclick="bilaketaFiltratu()" >
			librea
			<br>
			{%endif%}
			{%if "creativeCommons" in lizentziaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia2F" name="lizentzia2F" value="creativeCommons" onclick="bilaketaFiltratu()" checked>
			creative commons
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia2F" name="lizentzia2F" value="creativeCommons" onclick="bilaketaFiltratu()" >
			creative commons
			<br>
			{%endif%}
			{%if "copyRight" in lizentziaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia3F" name="lizentzia3F" value="copyRight" onclick="bilaketaFiltratu()" checked>
			copyRight
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="lizentzia3F" name="lizentzia3F" value="copyRight" onclick="bilaketaFiltratu()" >
			copyRight
			<br>
			{%endif%}
		</div>
		<br />
		<p>
			&nbsp;<b>{% trans "Beste batzuk" %} </b>
			<button class="filterButton" id="hideBF" style="display:none;">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</button>
			<button class="filterButton" id="showBF">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</p>
		<div class="besteFiltroak" id="besteFiltroak" style="display:none;">
			{%if "egunekoa" in besteaF%}
			&nbsp;&nbsp;
			<input type="checkbox"  id="egunekoaF" name="egunekoaF" value="egunekoa" onclick="bilaketaFiltratu()" checked>
			egunekoa
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox"  id="egunekoaF" name="egunekoaF" value="egunekoa" onclick="bilaketaFiltratu()">
			egunekoa
			<br>
			{%endif%}
			{%if "proposatutakoa" in besteaF%}
			&nbsp;&nbsp;
			<input type="checkbox"  id="proposatutakoaF" name="proposatutakoaF" value="proposatutakoa" onclick="bilaketaFiltratu()" checked>
			proposatutakoa
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox"  id="proposatutakoaF" name="proposatutakoaF" value="proposatutakoa" onclick="bilaketaFiltratu()">
			proposatutakoa
			<br>
			{%endif%}
			{%if "wikifikatua" in besteaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="wikifikatuaF" name="wikifikatuaF" value="wikifikatua" onclick="bilaketaFiltratu()" checked>
			wikifikatua
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="wikifikatuaF" name="wikifikatuaF" value="wikifikatua" onclick="bilaketaFiltratu()">
			wikifikatua
			<br>
			{%endif%}
			{%if "irudiaDu" in besteaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="irudiaDuF" name="irudiaDuF" value="irudiaDu" onclick="bilaketaFiltratu()" checked>
			irudia du
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="irudiaDuF" name="irudiaDuF" value="irudiaDu" onclick="bilaketaFiltratu()">
			irudia du
			<br>
			{%endif%}
			{%if "irudiaEzDu" in besteaF%}
			&nbsp;&nbsp;
			<input type="checkbox" id="irudiaEzDuF" name="irudiaEzDuF" value="irudiaEzDu" onclick="bilaketaFiltratu()" checked>
			irudia ez du
			<br>
			{%else%}
			&nbsp;&nbsp;
			<input type="checkbox" id="irudiaEzDuF" name="irudiaEzDuF" value="irudiaEzDu" onclick="bilaketaFiltratu()">
			irudia ez du
			<br>
			{%endif%}
		</div>
	</div>
	{%endif%}
</div>
