{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- CSS media query on a link element -->
<link rel="stylesheet" media="(min-width: 600px)" href="{{STATIC_URL}}css/second_navbar_style.css" type="text/css">

		

<div class="container-fluid second-navbar">

   <div class="row">
    <div class="col-md-4 col-md-offset-1 padding-0">
    	<!-- TEXTUA -->
    	<p class="parag-index parag-line-height-txikia "> {% trans "Una nueva forma de acceder e" %} </p>
    	<p class="parag-index"> {% trans "interpretar el patrimonio digital" %} </p>
    	
    	<form action="/cross_search" method="post" class="navbar-form second-bilatzailea autocomplete-me-2">
			{% csrf_token %}
			<div class="input-group" style="width:100%;">
			{% trans "Bilatu ..." as the_placeholder %}
			{% trans "Bilaketa ze hizkuntzatan?" as query_language %}
			<!-- id=id_q-->
			{% if bilaketaGaldera%}
				<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input" value="{{bilaketaGaldera}}">
			{% else %}
				<input name="search_input" id="search_input" class="form-control" type="search" title="" placeholder="{{ the_placeholder }}" name="search_input">
			{%endif%}
				<div id="search_icons" class="input-group-btn">
							
					<button class="btn btn-default" type="submit">
						<span class="icon-ob-search" aria-hidden="true"></span>
					</button> 
					<div id="search_lang_div" title="{% trans 'Bilaketa ze hizkuntzatan egiten ari zara?' %}">
						<select id="search_lang" name="search_lang" class="backgrnd-txuria kolore-gris-lau">										
							<option value="eu" {% if radioHizkuntza == "eu" or not radioHizkuntza %}selected{%endif%}>Eu</option>
							<option value="es" {% if radioHizkuntza == "es" %}selected{%endif%}>Es</option>
							<option value="en" {% if radioHizkuntza == "en" %}selected{%endif%}>En</option>
						</select>	
					</div>
				</div>												
			</div>
		</form> <!-- Bilatzailearen formularioa -->
		
    </div> <!--col-md-4 col-md-offset-1 --> <!-- Testua eta bilatzaile-kutxa -->
    <div class="col-md-4 padding-0">
    	<ul id="kopuruak" class="padding-0 center"> <!-- nested columns -->
   			<li class="left-padding-0">
   				<p class="kopuruak kopuru-marra-gorria "> {{itemKop}}k </p>
   			 	<p class="kopuru-azpiko-testua"> <a href="itemak_hasiera">{% trans "Item" %} &nbsp; <i class="kolore-gris-bat fa fa-arrow-right" aria-hidden="true"></i> </a></p>
   			</li>
   			<li>
   			 	<p class="kopuruak kopuru-marra-berdea "> {{ibilbideKop}}</p> <!--32 -->
   			 	<p class="kopuru-azpiko-testua"> <a href="ibilbideak_hasiera">{% trans "Ibilbideak" %} &nbsp; <i class="kolore-gris-bat fa fa-arrow-right" aria-hidden="true"></i> </a> </p>
   			</li>
   			<li>
   			 	<p class="kopuruak kopuru-marra-urdina"> {{hornitzaileKop}} </p><!--42 -->
   			 	<p class="kopuru-azpiko-testua"> <a href="hornitzaileak_hasiera">{% trans "Hornitzaileak" %} &nbsp; <i class="kolore-gris-bat fa fa-arrow-right" aria-hidden="true"></i></a></p>
   			</li>
   		</ul>
   	</div>
    <div class="col-md-3">
    	<p class="galdera"> <a href="{{STATIC_URL}}video/ob_tutorial_eu_musika.mkv">{% trans "Nola sortu ibilbidea?" %}</a></p>
    </div> <!--.col-md-3 -->
   </div> <!-- row-->
</div><!-- /.container-fluid -->
