{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- Social Share Kit CSS -->
<link rel="stylesheet" href="{{STATIC_URL}}css/social-share-kit.css" type="text/css">
<!-- Social Share Kit JS -->
<script type="text/javascript" src="{{STATIC_URL}}js/social-share-kit.js"></script>
<script type="text/javascript">SocialShareKit.init();</script>

<!-- <div class="share_titulu eskuma">
	<span class="titulu-kolorea eskuma">{% trans "Konpartitu" %}!</span>
</div>
 -->
<div class="share_buttons eskuma">
	<div class="ssk-right ssk-xs ssk-count clearfix kolore-beltza">
		<a class="ssk ssk-icon kolore-beltza" href=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>
		<a class="ssk ssk-icon kolore-beltza" href="https://twitter.com/intent/tweet"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a class="ssk ssk-icon kolore-beltza" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		<a class="ssk ssk-icon kolore-beltza" href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

	
	</div>
</div>
