{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

<!-- Social Share Kit CSS -->
<link rel="stylesheet" href="{{STATIC_URL}}css/social-share-kit.css" type="text/css">
<!-- Social Share Kit JS -->
<script type="text/javascript" src="{{STATIC_URL}}js/social-share-kit.js"></script>
<script type="text/javascript">SocialShareKit.init();</script>

<div class="share_titulu eskuma">
	<span class="titulu-kolorea eskuma">{% trans "Konpartitu" %}!</span>
</div>

<div class="share_buttons eskuma">
	<div class="ssk-right ssk-xs ssk-round ssk-count clearfix">
		<a class="ssk ssk-facebook" href=""> </a>
		<a class="ssk ssk-twitter" href="https://twitter.com/intent/tweet"> </a>
		<a class="ssk ssk-google-plus" href=""> </a>
		<a class="ssk ssk-email" href=""></a>

	
	</div>
</div>


<!-- QR code link-->
<div class="share_titulu eskuma">
	<span class="titulu-kolorea eskuma">{% trans "Eraman itema mundu errealera" %}!</span>
</div>
<div class="share_titulu eskuma">
	<a id="qr_code_create_link" href="" data-toggle="modal" data-target="#modalqrcode" class="titulu-kolorea eskuma"> QR <span>&nbsp;</span><span class="glyphicon glyphicon-qrcode" aria-hidden="true"> </span> </a>
</div>

<!-- QR code modal --> 
{% include "_QR_modal.html" %}
<!-- END QR code modal -->