{% load i18n %}
{% load qr_tags %}
{% load tags%}

{% get_current_language as LANGUAGE_CODE %}


<div class="container">
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<h2 class="titulu-kolorea antzekoTitulua">{% trans "ANTZEKO ITEMAK" %}</h2>

			{% for antzekoa in mlt %}
			{% if forloop.counter < 5 %}
			<div class="col-xs-6 col-md-3">

				<div class="">
					<a class="thumbnail bilaketaEmaitza"  href="{{BASE_URL}}/erakutsi_item?id={{antzekoa.item_id}}" >
						{% if antzekoa.edm_object %}
							<img width="90%" alt="{{antzekoa.dc_title}}" src="{{ antzekoa.edm_object|clean_http_prefix }}">
						{% elif antzekoa.edm_isshownat %}
						<iframe id="preview_frame" style="width:100%;height:300px;" src="{{antzekoa.edm_isshownat}}"></iframe>
						{%else%}
						<img  alt="{{antzekoa.dc_title}}" src="/uploads/NoIrudiItem.png">
						{%endif%} 
					</a>

					<div class="caption">
						<p class="uppercase">
							{{antzekoa.edm_provider}}
						</p>							
						{% if antzekoa.dc_title%}
						<p class="antzekoItemTitulua">
							{{ LANGUAGE_CODE|choose_title_language:antzekoa|format_html|safe}}
						</p>
						{%endif%}						
					</div>
				</div>
			</div>
			{%endif%}
			{%endfor%}

		</div>

		<div class="col-md-1"></div>

	</div>
</div>
