{% load i18n %}
{% load qr_tags %}
{% load tags%}

{% get_current_language as LANGUAGE_CODE %}



	<div class="row similar-items">
		<h2 class="kolore-gris-lau antzekoTitulua">{% trans "Antzeko itemak" %} <span class="kolore-gris-bi">{{ mlt|length }}</span></h2>

			{% for antzekoa in mlt %}
			{% if forloop.counter < 5 %}
			<div class="similar-div col-xs-6 col-md-3">

				<div class="similar-thumbnail">
					<a class="bilaketaEmaitza"  href="{{BASE_URL}}/erakutsi_item?id={{antzekoa.item_id}}" >
						
						{% if antzekoa.ob_thumbnail %}
						
							{% if antzekoa.ob_thumbnail|urlpath_exists == 'True' %}
						  		<img class="similar-img" title="{{antzekoa.dc_title}}" src="{{ antzekoa.ob_thumbnail|clean_http_prefix }}">
						  	{%else%}
						  		<img class="similar-img" title="{{antzekoa.dc_title}}" src="/uploads/NoIrudiItem.png">
						  	{%endif%}
						{% elif antzekoa.edm_object %}
							{% if antzekoa.edm_object|urlpath_exists == 'True' and 'SOUND' not in antzekoa.edm_type and 'VIDEO' not in antzekoa.edm_type%}
						 
								<img class="similar-img" title="{{antzekoa.dc_title}}" src="{{ antzekoa.edm_object|clean_http_prefix }}">
							{%else%}
						  		<img class="similar-img" title="{{antzekoa.dc_title}}" src="/uploads/NoIrudiItem.png">
						  	{%endif%}
						
						{% elif antzekoa.edm_isshownat %}
						<iframe id="preview_frame" style="width:100%;height:300px;" src="{{antzekoa.edm_isshownat}}"></iframe>
						{%else%}
						<img class="similar-img" title="{{antzekoa.dc_title}}" src="/uploads/NoIrudiItem.png">
						{%endif%}
						 
						<div class="similar-overlay caption">
							<p class="marra_overlay">&nbsp;&nbsp;&nbsp;</p>
							{% if antzekoa.dc_title%}
							<p class="title_overlay kolore-txuria" title="{{ LANGUAGE_CODE|choose_title_language:antzekoa|format_html|safe}}">{{ LANGUAGE_CODE|choose_title_language:antzekoa|format_html|cut_text:35|safe}}</p>
							{%endif%}						
							<p class="creator_overlay kolore-gris-bat"> <i class="icon-ob-usr kolore-video" aria-hidden=true></i><span class="kolore-gris-0"> {{antzekoa.edm_provider}}</span></p>							
							<i class="icon-ob-{{item.edm_type|lower}} overlay-icon kolore-{{item.edm_type|lower}}"></i>
						</div>
					</a>
				</div>				
			</div>
			{% if forloop.counter == 2 and request.mobile %}
				<p class="separator">&nbsp;</p>
			{%endif%}
			{%endif%}
			{%endfor%}
		

	</div>

