{% load i18n %} 
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}


	<div id="workspace_boxes" ondrop="ws_drop(event)"
		ondragover="allowDrop(event)">

		{% if "sortu_ibilbidea" in request.get_full_path %}

		<div class="asistentea_ws kolore-gris-hiru" id="ws_botoia_barruan">

			<span class="fa fa-info-circle" aria-hidden="true"></span>
			Jetsi beheko arbelera nahi dituzun itemak. Itemaren gainean ipini
			sagua eta geziari klikatu.

		</div>

		{%else%}
		<div id="ws_botoia_barruan">

			<div class="asistentea_ws kolore-gris-hiru">
				<span class="fa fa-info-circle" aria-hidden="true"></span>
				Item nahikoa aukeratu dituzu? sortu ibilbidea hemen sakatuta: 
					<a type="button" class="pathBotoia no-hover kolore-txuria backgrnd-gris-lau" href="sortu_ibilbidea">
						{% trans "sortu ibilbidea" %} 
						<i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
					</a>
			</div>

		</div>
		{%endif%}
	</div>
	<div id="ws_botoia_kanpoan">
		<button type="button"
			class="pathBotoia_kanpoan no-hover kolore-txuria backgrnd-gris-lau"
			onclick="toggle_workspace();">
			<span class="fa fa-cog" aria-hidden="true"> </span>
			{% trans "Lan eremua" %}
		</button>
	</div>
