{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block additional_css %}
<link href="{{ STATIC_URL }}css/datatables.min.css" rel="stylesheet">
{% endblock additional_css %}

{% block page_div_def %}			
<div id="main_page">
{% endblock page_div_def %}		

{% block orria_div_def %}			
<div id="orria" class="" style="padding:10px;">
{% endblock orria_div_def %}	

{% block sidebar %}
{% endblock sidebar %}

{% block content_div_def %}		
<div id="content_div" style="padding:10px;">
{% endblock content_div_def %}




{% block content %}
<table id="src_kwrds" class="horni-table">
	<thead>
		<tr>
			<td class="mk_id">{% trans "Id" %}</td>
			<td class="mk_name">{% trans "Izena" %}</td>
			<td class="mk_desc">{% trans "Deskribapena" %}</td>
			<td class="mk_insttype">{% trans "Erakunde mota" %}</td>
			<td>{% trans "Telefonoa" %}</td>
			<td>{% trans "Emaila" %}</td>
			<td>{% trans "Egunekoa da?" %}</td>			
			<td class=".mk_edit">{% trans "Aldatu Egoera" %}</td>
						
		</tr>
	</thead>
	<tbody>

		{% for horni in hornitzaileak %}
		<tr name="{{ horni.id }}">
			<td>{{ horni.id }}</td>
			<td>{{ horni.izena }}</td>
			<td title="{{ horni.deskribapena |format_html |safe}}" >{{ horni.deskribapena |format_html | get_substring |safe}} ...</td>
			<td>{{ horni.erakundeMota }}</td>
			<td>{{ horni.telefonoa }}</td>
			<td>{{ horni.emaila }}</td>
			<td><i class="fa {% if horni.egunekoa == 1 %} fa-check green {% else %} fa-times red{% endif %}" aria-hidden="true"></i></td>
			<td><a href="#" data-toggle="modal" data-target="#erab-modal" onclick="aldatu_hornitzaile_egoera('{{ horni.id }}')" ><i class="icon-ob-edit" aria-hidden="true" style="margin-top:5%;"></i></a></td>
			
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}





{% block pageEndScripts %}
		
		
		<!-- DATATABLES-->
		<script src="{{STATIC_URL}}js/datatables.min.js"></script>
	
		<script>
  		  $('table').DataTable({
        dom : 'lf<"dataTables_toolbar"<"dataTables_buttons"B>>rtip',
        buttons : [{
            extend : 'excel',
            className : 'profile_menu_button',
            text : 'Excel <i class=\"fa fa-file-excel-o\"></i>'
        }, {
            extend : 'pdf',
            className : 'profile_menu_button',
            text : 'PDF <i class=\"fa fa-file-pdf-o\"></i>'
        }, {
            extend : 'colvis',
            className : 'profile_menu_button',
            text : 'Erakutsi/Ezkutatu <i class=\"icon-ob-eye\"></i>'
        }],
        iDisplayLength : 100
    });
    
		</script>

{% endblock pageEndScripts %}



