{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block additional_css %}

<link href="{{ STATIC_URL }}css/datatables.min.css" rel="stylesheet">

{% endblock additional_css %}

{% block page_div_def %}			
<div id="main_page">
{% endblock page_div_def %}		

{% block orria_div_def %}			
<div id="orria" class="" style="padding:10px;">
{% endblock orria_div_def %}	

{% block sidebar %}
{% endblock sidebar %}

{% block content_div_def %}		
<div id="content_div" style="padding:10px;">
{% endblock content_div_def %}


				
{% block content %}

<table id="src_kwrds">
	<thead>
		<tr>
			<td class="mk_id">{% trans "Id" %}</td>
			<td class="mk_title">{% trans "Titulua (EU)" %}</td>
			<td class="mk_desc">{% trans "Deskribapena (EU)" %}</td>
			<td class="mk_title">{% trans "Titulua (ES)" %}</td>
			<td class="mk_desc">{% trans "Deskribapena (ES)" %}</td>
			<td class="mk_title">{% trans "Titulua (EN)" %}</td>
			<td class="mk_desc">{% trans "Deskribapena (EN)" %}</td>
			<td class="mk_title">{% trans "Titulua (FR)" %}</td>
			<td class="mk_desc">{% trans "Deskribapena (FR)" %}</td>
			<td class="mk_date">{% trans "Data" %}</td>		
			<td class="mk_visible">{% trans "Ikusgai?" %}</td>
			<td class="mk_edit">{% trans "Editatu Berria" %}</td>
			
		</tr>
	</thead>
	<tbody>

		{% for berria in berriak %}
		<tr name="{{ berria.id }}">
			<td class="mk_desc">{{ berria.id }}</td>
			<td class="mk_title">{{ berria.title_eu }}</td>
			<td class="mk_desc">{{ berria.desk_eu|format_html:1|safe }}</td>
			<td class="mk_title">{{ berria.title_es }}</td>
			<td class="mk_desc">{{ berria.desk_es|format_html:1|safe }}</td>
			<td class="k_title">{{ berria.title_en }}</td>
			<td class="mk_desc">{{ berria.desk_en|format_html:1|safe }}</td>
			<td class="mk_title">{{ berria.title_fr }}</td>
			<td class="mk_desc">{{ berria.desk_fr|format_html:1|safe }}</td>
			<td class="mk_date">{{ berria.data|date:"Y.m.d" }}</td>
			<td class="mk_visible">
				<i class="fa {% if berria.erakutsi == 1 %} fa-check green {% else %} fa-times red{% endif %}" aria-hidden="true"></i>
			</td>
			<td class="mk_edit">
				<a href="#" data-toggle="modal" data-target="#berria-modal" onclick="load_berria_form('{{ berria.id }}')" >
					<i class="icon-ob-edit" aria-hidden="true" style="margin-top:5%;"></i>
				</a>
			</td>
		
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}



{% block custom_modals %}
	

<div class="modal fade" id="berria-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Kudeatu berria" %}</h4>
			</div>
			<div class="modal-body erabmodal-container">
				<form method="POST" action="admin_berriak_kudeatu" enctype="multipart/form-data">				
        			{% csrf_token %}
        			{{ form.errors }}
					{{ form.non_field_errors }}
					
						<label for="id_publikatu">{% trans "Id" %}:</label>
							{{ berria_form.berriaid }}
						</br>
						<label for="id_titulua">{% trans "Titulua" %}:</label>
						<ul class="nav nav-tabs"  name="AdvOrBasicSearch">
							<li  class="active"><a data-toggle="tab" href="#tituluaEU">{% trans "EU" %}</a></li>
  							<li><a data-toggle="tab" href="#tituluaES">{% trans "ES" %}</a></li>
  							<li><a data-toggle="tab" href="#tituluaEN">{% trans "EN" %}</a></li>
  							<li><a data-toggle="tab" href="#tituluaFR">{% trans "FR" %}</a></li>
  						</ul>
						<div class="tab-content" name="AdvOrBasicSearch2">
							<div id="tituluaEU" class="tab-pane fade in active">
								{{ berria_form.titulua_eu }}
							</div>
							<div id="tituluaES" class="tab-pane fade in ">
								{{ berria_form.titulua_es }}
							</div>
							<div id="tituluaEN" class="tab-pane fade in ">
								{{ berria_form.titulua_en }}
							</div>
							<div id="tituluaFR" class="tab-pane fade in ">
								{{ berria_form.titulua_fr }}
							</div>
							
						</div>
						
						</br>
						<label for="id_desk">{% trans "Deskribapena" %}:</label>
						<ul class="nav nav-tabs"  name="AdvOrBasicSearch">
							<li  class="active"><a data-toggle="tab" href="#deskEU">{% trans "EU" %}</a></li>
  							<li><a data-toggle="tab" href="#deskES">{% trans "ES" %}</a></li>
  							<li><a data-toggle="tab" href="#deskEN">{% trans "EN" %}</a></li>
  							<li><a data-toggle="tab" href="#deskFR">{% trans "FR" %}</a></li>
  						</ul>
						<div class="tab-content" name="AdvOrBasicSearch2">
							<div id="deskEU" class="tab-pane fade in active">
								{{ berria_form.desk_eu}}
								
								 <script type="text/javascript" >
      								  // Replace the <textarea id="narra_textarea"> with a CKEditor
       								 // instance, using default configuration.
       			
       								  CKEDITOR.replace( 'desk_eu' );
       			  
       								  //Beheko kode hau gehitu da, ze bestela, CKEDITOR-a modal batean zabaltzean linkak ezin ziren sartu

										$.fn.modal.Constructor.prototype.enforceFocus = function () {
   										 var $modalElement = this.$element;
  										  $(document).on('focusin.modal', function (e) {
      									  var $parent = $(e.target.parentNode);
     									   if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
          									  // add whatever conditions you need here:
          									  &&
        								    !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
        								    $modalElement.focus()
       										 }
  											 })
											};
    								</script>
							</div>
							<div id="deskES" class="tab-pane fade in ">
								{{ berria_form.desk_es }}
								
								<script type="text/javascript" >
      								  // Replace the <textarea id="narra_textarea"> with a CKEditor
       								 // instance, using default configuration.
       			
       								  CKEDITOR.replace( 'desk_es' );
       			  
       								  //Beheko kode hau gehitu da, ze bestela, CKEDITOR-a modal batean zabaltzean linkak ezin ziren sartu

										$.fn.modal.Constructor.prototype.enforceFocus = function () {
   										 var $modalElement = this.$element;
  										  $(document).on('focusin.modal', function (e) {
      									  var $parent = $(e.target.parentNode);
     									   if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
          									  // add whatever conditions you need here:
          									  &&
        								    !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
        								    $modalElement.focus()
       										 }
  											 })
											};
    								</script>
						
							</div>
							<div id="deskEN" class="tab-pane fade in ">
								{{ berria_form.desk_en }}
								<script type="text/javascript" >
      								  // Replace the <textarea id="narra_textarea"> with a CKEditor
       								 // instance, using default configuration.
       			
       								  CKEDITOR.replace( 'desk_en' );
       			  
       								  //Beheko kode hau gehitu da, ze bestela, CKEDITOR-a modal batean zabaltzean linkak ezin ziren sartu

										$.fn.modal.Constructor.prototype.enforceFocus = function () {
   										 var $modalElement = this.$element;
  										  $(document).on('focusin.modal', function (e) {
      									  var $parent = $(e.target.parentNode);
     									   if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
          									  // add whatever conditions you need here:
          									  &&
        								    !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
        								    $modalElement.focus()
       										 }
  											 })
											};
    								</script>
						
							</div>
							<div id="deskFR" class="tab-pane fade in ">
								{{ berria_form.desk_fr }}
								<script type="text/javascript" >
      								  // Replace the <textarea id="narra_textarea"> with a CKEditor
       								 // instance, using default configuration.
       			
       								  CKEDITOR.replace( 'desk_fr' );
       			  
       								  //Beheko kode hau gehitu da, ze bestela, CKEDITOR-a modal batean zabaltzean linkak ezin ziren sartu

										$.fn.modal.Constructor.prototype.enforceFocus = function () {
   										 var $modalElement = this.$element;
  										  $(document).on('focusin.modal', function (e) {
      									  var $parent = $(e.target.parentNode);
     									   if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
          									  // add whatever conditions you need here:
          									  &&
        								    !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
        								    $modalElement.focus()
       										 }
  											 })
											};
    								</script>
						
							</div>
							
						</div>
						</br>
						<label for="id_url">{% trans "Url" %}:</label>
							{{ berria_form.url }}
						</br>
						<label for="id_irudia">{% trans "Irudia" %}:</label>
							{{ berria_form.irudia }}
						</br>
						<label for="id_publikatu">{% trans "Publikatu" %}:</label>
							{{ berria_form.publikatu }}
							
						
					</br>
					<input type="submit" name="save_berria" class="login loginmodal-submit saveberria" value="{% trans 'Gorde' %}">
				</form>
			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock custom_modals %}

{% block pageEndScripts %}
		
		
		<!-- DATATABLES-->
		<script src="{{STATIC_URL}}js/datatables.min.js"></script>
	
		<script>
  		  $('table').DataTable({
        dom : 'lf<"dataTables_toolbar"<"dataTables_buttons"B>>rtip',
        buttons : [{
            extend : 'excel',
            className : 'profile_menu_button',
            text : 'Excel <i class=\"fa fa-file-excel-o\"></i>'
        }, {
            extend : 'pdf',
            className : 'profile_menu_button',
            text : 'PDF <i class=\"fa fa-file-pdf-o\"></i>'
        }, {
            extend : 'colvis',
            className : 'profile_menu_button',
            text : 'Erakutsi/Ezkutatu <i class=\"icon-ob-eye\"></i>'
        }],
        iDisplayLength : 100
    });
    $("div.dataTables_toolbar").prepend('<ul class="profile menu" style="display:inline-block;"><li class="profile_menu_button"><a href="#" data-toggle="modal" data-target="#berria-modal"> Berria gehitu <i class=\"fa fa-plus\"></i></a></li></ul>');
    
		</script>

{% endblock pageEndScripts %}



