{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load tags %}
{% load leaflet_tags %}

<link rel="stylesheet" href="{{STATIC_URL}}css/adituTag.css" type="text/css">

{% if hornitzailea %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/blog-post.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/areas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/proposal.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/social-share-kit.css" rel="stylesheet">
{% endblock %}
{%endif%}
<!--<p> Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.n\
um_pages }}</p>-->
<!--<p class="emaitzaInfo"> {{ items.count }} Kultur Item eta {{paths.count}} Ibilbide</p>-->




<ul class="nav nav-tabs"  name="AdvOrBasicSearch">
  {% if hornitzailea%}
  		{% if z == 'h'%}
  		<li  class="active"><a data-toggle="tab" href="#fitxa">Hornitzaile fitxa </a></li>
  		<li><a data-toggle="tab" href="#itemak">Kultur Itemak ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">Ibilbideak ({{paths.paginator.count}}) </a></li>
  		{% elif z == 'i' %}
  		<li ><a data-toggle="tab" href="#fitxa">Hornitzaile fitxa </a></li>
  		<li  class="active"><a data-toggle="tab" href="#itemak">Kultur Itemak ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">Ibilbideak ({{paths.paginator.count}}) </a></li>
  		{% else %}
  		<li><a data-toggle="tab" href="#fitxa">Hornitzaile fitxa </a></li>
  		<li><a data-toggle="tab" href="#itemak">Kultur Itemak ({{ items.paginator.count }})</a></li>
  		<li class="active"><a data-toggle="tab" href="#ibilbideak">Ibilbideak ({{paths.paginator.count}}) </a></li>
  		{%endif%}
  {% else%}
  		{% if z == 'i'%}
  		<li class="active"><a data-toggle="tab" href="#itemak">Kultur Itemak ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">Ibilbideak ({{paths.paginator.count}}) </a></li>
  		{% else %}
  		<li><a data-toggle="tab" href="#itemak">Kultur Itemak ({{ items.paginator.count }})</a></li>
  		<li class="active"><a data-toggle="tab" href="#ibilbideak">Ibilbideak ({{paths.paginator.count}}) </a></li> 		
  		{%endif%}
  {%endif%}
</ul>

<input type="hidden" name="hornitzailea" id="hornitzailea" value="{{ hornitzailea.fk_user.username }}" />

<div class="tab-content" name="AdvOrBasicSearch2">
	
	{% if z == 'h'%}
	<div id="fitxa" class="tab-pane fade in active">
	{%else%}
	<div id="fitxa" class="tab-pane fade">
	{%endif%}

		<div class="container">
  
 
      	 <div class="row">
            <div class="col-lg-2">  
                <div class="well info_box  icon_info">
                    <h4><img src="{{ STATIC_URL }}/img/area.png"> <!--{% trans "Arloa" %}:-->
                       <span id="id_area" class="list-group-item-text">{{hornitzailea.erakundeMota}}</span>
                                           
                    </h4>

                 	<h4><img src="{{ STATIC_URL }}/img/where.png"> <!--{% trans "Kokapena" %}:-->
               		 <span id="id_where">{{hornitzailea.helbidea}}</span>
                       
                	</h4>
                	<!--
                	<h4><img src="{{ STATIC_URL }}/img/documents.png"> {% trans "Erantsitako Fitxategiak" %}: 
                            <span id="id_pic">{{hornitzailea.ikonoa}}</span>
                            </h4>
               		-->
                    
                </div>
    
            </div> 
           	<div class="col-lg-6"> <!-- col-lg-8-->
				{% if hornitzailea.izena != "" %}
					<h1 class="text-center"><span id="id_title"> {{hornitzailea.izena}}</span>
				{%else%}
				     <h1 class="text-center"><span id="id_title"> Hornitzailearen Izena*</span>
                {%endif%}
                	 </h1>  
               

                <!--<p class="lead">{% trans "Deskribapena" %}</p>-->
                <p><span id="id_summary">{{hornitzailea.deskribapena}}</span></p>
                                                                        
                <hr>
		
         		<!-- Preview Image -->
      
       			 {% if hornitzailea.ikonoa == "" %}
        	
					<img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}/img/no_photo_small.jpg" alt="">
				 {%else %}
		 
					<img id="id_image" class="img-responsive" src="{{ hornitzailea.ikonoa }}" alt="">
      			 {%endif%}
        
        		 <hr>
                
                
        
      			 <!-- GEOLOKALIZAZIOA -->
 				{% if hornitzailea.geoloc_longitude %}
					{% leaflet_map "yourmap" callback="load_map" %}
				{%endif%}

	  			 <!-- END GEOLOKALIZAZIOA -->
       
			</div><!-- col-lg-8-->

		</div><!--row-->
	</div><!--container-->	
</div><!--fitxa-->


{% if z == 'i'%}
  <div id="itemak" class="tab-pane fade in active">
{%else%}
  <div id="itemak" class="tab-pane fade">
{%endif%}	
  	<!-- PAGINATOR ITEMAK -->
  	<div class="pagination">
    <span class="step-links">
    	
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}&hizkRadio={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&z=i&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">aurrekoak</a>
        {% endif %}

        <span class="current">
            {{ items.number }}.orrialdea {{ items.paginator.num_pages }}tik.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}&hizkRadio={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&z=i&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">hurrengoak</a>
        {% endif %}
    </span>
	</div>

 	{% for item in items %}
 	
 	 
	<div class="row">	
	  <!--<div class="col-xs-6 col-md-3">-->
			
		{% if  item.item_id%}
		<div class="thumbnail col-xs-2 col-md-2">
			
		
			<!--{% if request.user|has_group:'hornitzailea' %}
				{% if item.egunekoa == 0 %}	
					<a class="btn btn-warning" type="button" onclick="egunekoaGehituEtabilaketaFiltratu({{item.item_id}})" >				
 						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</a>
				{%endif%}
				{% if item.egunekoa == 1 %}	
					<a class="btn btn-warning" type="button" onclick="egunekoaKenduEtabilaketaFiltratu({{item.item_id}})" >				
 						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					</a>
				{%endif%}
			{%endif%}-->

			<a class="bilaketaEmaitza  thumbnail"  href="{{BASE_URL}}/erakutsi_item?id={{item.item_id}}" >
				<img  alt="{{item.dc_title}}" src="{% if item.edm_object %} {{item.edm_object}} {%else%} /uploads/NoIrudiItem.png {% endif %}">
			</a>
		</div>
		<div class="col-xs-1 col-md-1"></div>
		<!--http://jsfiddle.net/WjKyF/-->
		<div class="caption col-xs-9 col-md-9">
				<input type="hidden" id="item_id_{{ forloop.counter }}" value="{{item.item_id}}"/>
				 <input type="hidden" id="titulua_{{ forloop.counter }}" value="{{item.dc_title}}"/>
				 <input type="hidden" id="irudia_{{ forloop.counter }}" value="{{item.edm_object}}"/>
				 
				<h5><a class="bilaketaTitulua" title="{{item.dc_title}}" href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" id="titulua">{{ item.dc_title|correct_language_tags }}</a></h5>
                                {% if item.edm_provider %}
                                        <span class="bilaketaEremua" id="hornitzailea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {% trans "Hornitzailea:" %} </span><span class="eremu-str"> {{item.edm_provider}} </span><br />
                                {%endif%}
                                {% if item.dc_language %}
                                        <span class="bilaketaEremua" id="hizkuntza"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Hizkuntza:" %}</span><span class="eremu-str">{{item.dc_language}}</span><br />
                                {%endif%}
                                {% if item.edm_country %}
                                        <span class="bilaketaEremua" id="herrialdea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Herrialdea:" %}</span><span class="eremu-str">{{item.edm_country}}</span><br />
                                {%endif%}
                                {% if item.dc_creator %}
                                        <span class="bilaketaEremua" id="sortzailea"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Sortzailea:" %}<span class="eremu-str">{{item.dc_creator}}</span><br />
                                {%endif%}
                                {% if item.edm_type %}
                                        <span class="bilaketaEremua"  id="mota"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Mota:" %}<span class="eremu-str">{{item.edm_type}}</span><br />
                                {%endif%}
                                <h3 class="titulu-kolorea bilaketa">Kudeaketa Aukerak</h3>
                                <!--<div class="btn-group" role="group" aria-label="...">-->
                                <a class="btn  btn-primary ikusi-botoia" type="button" title="Ikusi kultur itema" href="{{BASE_URL}}/erakutsi_item?id={{item.id}}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				</a>

				{% if user.is_authenticated %}

                                <button class="btn gehitu-botoia" type="button" onclick="create_workspace_box({{ forloop.counter }}, {{ request.user.id }});">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                {% if user.id == item.fk_ob_user.id %}

                                                <a class="btn btn-primary" title="Editatu itema"  type="button" href="{{BASE_URL}}/editatu_itema?id={{item.id}}" >
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <!-- ezabatu -->
                                                <a class="btn btn-danger" type="button" title="Itema ezabatu" onClick="deleteItem({{item.id}})" >
                                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                                </a>

                                {%endif%}
				{% if request.user|has_group:'hornitzailea' %}
					{% if item.egunekoa == 0  %}
						<a class="btn btn-warning egunekoa-botoia" title="Gehitu eguneko itema"  type="button" href="{{BASE_URL}}/eguneko_itema_gehitu?id={{item.id}}&nondik=hasiera" >
                                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </a>
					{%else%}
                                                <a class="btn btn-warning egunekoa-botoia" title="Ezabatu eguneko itema" type="button" href="{{BASE_URL}}/eguneko_itema_kendu?id={{item.id}}&nondik=hasiera" >
						  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						</a>
					{%endif%}
                                {%endif%}

				
				{%endif%}
						<hr/>
    		</div>
		<!--</div> <!-- thumbnail -->
		{% endif %}
		<!--</div>-->
  </div>
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
{% endfor %}

  </div> <!--itemak -->
  {% if z == 'p'%}
  <div id="ibilbideak" class="tab-pane fade in active">
  {%else%}
  <div id="ibilbideak" class="tab-pane fade">
  {%endif%}
  	
  	<!-- PAGINATOR IBILBIDEAK-->
  	
  	<div class="pagination">
    <span class="step-links">
        {% if paths.has_previous %}
            <a href="?page={{ paths.previous_page_number}}&hizkRadio={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&z=p&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">aurrekoak</a>
        {% endif %}

        <span class="current">
            {{ paths.number }}.orrialdea {{ paths.paginator.num_pages }}tik.
        </span>

        {% if paths.has_next %}
            <a href="?page={{ paths.next_page_number}}&hizkRadio={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&z=p&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">hurrengoak</a>
        {% endif %}
    </span>
	</div>
  
   {% for path in paths %}
	<div class="row ezkmarg0">
          <!--<div class="col-xs-6 col-md-3">-->

	  <div class="thumbnail col-xs-2 col-md-2">

	    <div class="side-corner-tag">
              <a class="bilaketaEmaitzaPath"  href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" >
		{% if path.paths_thumbnail %}<img src="{{path.paths_thumbnail}}">{% else %} <img src="/uploads/NoIrudiBide.png">{% endif %}
		<p><span>aditua</span></p>
              </a>
	    </div>
	  </div>

	  <div class=" col-xs-1 col-md-1"></div>
	  <div class="caption  col-xs-9 col-md-9">

	    <input type="hidden" id="path_id_{{ forloop.counter }}" value="{{path.path_id}}"/>
	    <input type="hidden" id="path_titulua_{{ forloop.counter }}" value="{{path.path_dc_title}}"/>
	    <input type="hidden" id="path_irudia_{{ forloop.counter }}" value="{{path.path_thumbnail}}"/>
	   
	    <h5><a class="bilaketaTitulua" title="{{path.dc_title}}" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" id=\
"path.dc_title">{{path.dc_title}}</a></h5>
            {% if path.language %}
            <span class="bilaketaEremua" id="hizkuntza"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Hizkuntza:" %}</span><span class="eremu-str">{{path.language}}</span><br />
            {% else %}
            <span class="bilaketaEremua" id="hizkuntza"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Hizkuntza:" %}</span><span class="eremu-str">-</span><br />

	    {%endif%}
            {% if path.dc_subject %}
            <span class="bilaketaEremua" id="gaia"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Gaia:" %}</span><span class="eremu-str">{{path.dc_subject}}</span><br />
            {% else %}
            <span class="bilaketaEremua" id="gaia"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{% trans "Gaia:" %}</span><span class="eremu-str">-</span><br />
	    
            {%endif%}
            <a class="btn  btn-primary ikusi-botoia" type="button" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a>

            {% if user.username == path.fk_user_id.username %}

            <a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_ibilbidea?id={{path.id}}" >
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <!-- ezabatu"-->
            <a class="btn btn-danger" type="button" title="Ezabatu ibilbidea" onClick="deletePath({{path.id}})" >
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </a>
            {%endif%}

	    {% if request.user|has_group:'hornitzailea' %}
            {% if path.egunekoa == 0  %}
            <a class="btn btn-warning" type="button" href="{{BASE_URL}}/eguneko_ibilbidea_gehitu?id={{path.id}}&nondik=hasiera" >
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
            {%else%}
            <a class="btn btn-warning" type="button" href="{{BASE_URL}}/eguneko_ibilbidea_kendu?id={{path.id}}&nondik=hasiera" >
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </a>
            {%endif%}
            {%endif%}

	    <hr />
    	  </div><!-- captionl -->

	</div>
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
{% endfor %}

		
  </div><!-- ibilbideak -->
  
<!--  </div>	panel -->			
<!--</div> panel -->	

</div> <!-- tab content -->






  	

	


{% if page.has_previous or page.has_next %}
    <div>
     {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
     {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
     </div>
{% endif %}
		
{% endblock %} 
			
	
	
	
	

				
	
	
