{% extends "__base.html" %}
{% load i18n %}
{% load tags %}
{% load leaflet_tags %}

{% get_current_language as LANGUAGE_CODE %}


{% if hornitzailea %}
{% block additional_css %}
<!--<link href="{{ STATIC_URL }}css/blog-post.css" rel="stylesheet">-->
<link href="{{ STATIC_URL }}css/areas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/proposal.css" rel="stylesheet">
<!--<link href="{{ STATIC_URL }}css/jquery.dataTables.min.css" rel="stylesheet">-->
<link href="{{ STATIC_URL }}css/social-share-kit.css" rel="stylesheet">
<link rel="stylesheet" href="{{STATIC_URL}}css/adituTag.css" type="text/css">
{% endblock additional_css %}
{%endif%}
<!--<p> Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.n\
um_pages }}</p>-->
<!--<p class="emaitzaInfo"> {{ items.count }} Kultur Item eta {{paths.count}} Ibilbide</p>-->


{% block result_number %}
	<div class="result_number">
	{% if z == 'i'%}
		<h4>{% trans "Items" %} <span class="num">{{ items.paginator.count }}</span></h4>
	{% elif z == 'p'%}
		<h4>{% trans "Paths" %} <span class="num">{{paths.paginator.count}}</span></h4>
	{% endif %}
	</div>
{% endblock result_number %}

{% block bilaketaFiltroak %}
{% include "_search_filters.html" %}
{% endblock bilaketaFiltroak %}


{% block egunekoakBozkatuenakAzkenak %}
	{% if z != 'h'%}
		{% include "_item_path_aukerak.html" %}	
	{% else %}
		<!-- EZER -->
	{%endif%}
{% endblock egunekoakBozkatuenakAzkenak %}



{% block content %}

<ul class="nav nav-tabs"  name="AdvOrBasicSearch">
  {% if hornitzailea%}
  		{% if z == 'h'%}
  		<li  class="active"><a data-toggle="tab" href="#fitxa">{% trans "Hornitzaile fitxa" %}</a></li>
  		<li><a data-toggle="tab" href="#itemak">{% trans "Kultur Itemak" %} ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">{% trans "Ibilbideak" %} ({{paths.paginator.count}}) </a></li>
  		{% elif z == 'i' %}
  		<li ><a data-toggle="tab" href="#fitxa">{% trans "Hornitzaile fitxa" %} </a></li>
  		<li  class="active"><a data-toggle="tab" href="#itemak">{% trans "Kultur Itemak" %} ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">{% trans "Ibilbideak" %} ({{paths.paginator.count}}) </a></li>
  		{% else %}
  		<li><a data-toggle="tab" href="#fitxa">{% trans "Hornitzaile fitxa" %} </a></li>
  		<li><a data-toggle="tab" href="#itemak">{% trans "Kultur Itemak" %} ({{ items.paginator.count }})</a></li>
  		<li class="active"><a data-toggle="tab" href="#ibilbideak">{% trans "Ibilbideak" %} ({{paths.paginator.count}}) </a></li>
  		{%endif%}
  {% else%}
  		{% if z == 'i'%}
  		<li class="active"><a data-toggle="tab" href="#itemak">{% trans "Kultur Itemak" %} ({{ items.paginator.count }})</a></li>
  		<li><a data-toggle="tab" href="#ibilbideak">{% trans "Ibilbideak" %} ({{paths.paginator.count}}) </a></li>
  		{% else %}
  		<li><a data-toggle="tab" href="#itemak">{% trans "Kultur Itemak" %} ({{ items.paginator.count }})</a></li>
  		<li class="active"><a data-toggle="tab" href="#ibilbideak">{% trans "Ibilbideak" %} ({{paths.paginator.count}}) </a></li> 		
  		{%endif%}
  {%endif%}
</ul>

<input type="hidden" name="hornitzailea_username" id="hornitzailea_username" value="{{ hornitzailea.fk_user.username }}" />
<input type="hidden" name="hornitzaile_search" id="hornitzaile_search" value="{{ hornitzailea.fk_user.id }}" />
<input type="hidden" name="nireak" id="nireak" value="{{ nireak }}" />



<div class="tab-content" name="AdvOrBasicSearch2">
	
	{% if z == 'h'%}
	<div id="fitxa" class="tab-pane fade in active">
	{%else%}
	<div id="fitxa" class="tab-pane fade">
	{%endif%}

		<div class="container">
  
 
      	 <div class="row">
            <div class="col-lg-3">  
                <div class="well info_box  icon_info">
                    <h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-tag" aria-hidden="true"></span>                   
                      <span id="id_area" class="list-group-item-text">{{hornitzailea.erakundeMota}}</span>                                        
                    </h4>
                 	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						
               		 <span id="id_where">{{hornitzailea.helbidea}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						
               		 <span id="id_telefonoa">{{hornitzailea.telefonoa}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						
               		 <span id="id_emaila">{{hornitzailea.emaila}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						
               		  <span id="id_website"><a href="http://{{hornitzailea.website}}" target="_blank">{{hornitzailea.website}}</a></span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-time" aria-hidden="true"></span>
						
               		 <span id="id_emaila">{{hornitzailea.ordutegia}}</span>
                       
                	</h4>
                    
                </div>
    
            </div> 
           	<div class="col-lg-8"> <!-- col-lg-8-->
				{% if hornitzailea.izena != "" %}
					<h1 class=" walsheim-web text-center"><span id="id_title"> {{hornitzailea.izena}}</span>
				{%else%}
				     <h1 class="walsheim-web text-center"><span id="id_title"> Hornitzailearen Izena*</span>
                {%endif%}
                	 </h1>  
                        
                <!--<p class="lead">{% trans "Deskribapena" %}</p>-->
                <div class="path-info-description">
                	<div class="row">                
        		<div class="col-md-8" ><span id="id_summary">{{hornitzailea.deskribapena|format_html|safe}}</span></div>
        		
        		
        		
        			<div id="hornitzaile-ikonoa" class="col-md-4">
				{% if hornitzailea.ikonoa %}
        				<img id="id_icon" class="hornitzaile-ikonoa" src="{{ hornitzailea.ikonoa }}" alt="">      			
	 			{%endif%}
        		</div>
        		</div>
        		
        		</div>
                                                                        
                <hr>
		
         		<!-- Preview Image -->
      
       			 {% if hornitzailea.argazkia %}
        				<img id="id_image" class="hornitzaile-irudia" src="{{ hornitzailea.argazkia }}" alt="">
      			
					 {%else %}
		 				<img id="imgPreview" class="hornitzaile-irudia" src="{{ STATIC_URL }}/img/no_photo_small.jpg" alt="">
				
					 {%endif%}
        
        		 <hr>
       
        
      			 <!-- GEOLOKALIZAZIOA -->
 				{% if hornitzailea.geoloc_longitude %}
					{% leaflet_map "yourmap" callback="load_map" %}
				{%endif%}

	  			 <!-- END GEOLOKALIZAZIOA -->
       
			</div><!-- col-lg-8-->

		</div><!--row-->
	</div><!--container-->	
</div><!--fitxa-->


{% if z == 'i'%}
  <div id="itemak" class="tab-pane fade in active">
{%else%}
  <div id="itemak" class="tab-pane fade">
{%endif%}	
  	
	{% comment %}
	{% if items %}
		<div id="div_you_want_to_blink" class="asistentea_EzDago">
			<i class="fa fa-info-circle" aria-hidden="true"></i>
			&nbsp;{% trans "Gehitu lan-eremura gustoko itemak eta sortu ibilbidea." %}
			<a href="{{STATIC_URL}}video/ob_tutorial_eu_musika.mkv">{% trans "Ikusi bideoa" %} </a>
			{% trans " eta Animatu!"%}
		</div>
 	
 	{%endif%}
 	{% endcomment %}
 	
 	{% for item in items %}
 	
 		{% include "_search_result_item.html"%} 	 
	
	{% empty %}
		<p>{% trans "Ez da erantzunik aurkitu." %}</p>
		<p class="asistentea_EzDago"><i class="fa fa-info-circle" aria-hidden="true"></i></p>
		<p class="asistentea_EzDago">{% trans "Gogoratu! zuk zeuk igo ditzakezu gai horri edo beste gai bati buruzko itemak." %}</p>
		<p class="asistentea_EzDago">{% trans "Horretarako, erregistratu eta erabiltzailearen menuan <i>'Item berria gehitu'</i> sakatu." %}</p>
		<p class="asistentea_EzDago">{% trans "Animatu!" %}</p> 
	{% endfor %}


	<!-- PAGINATOR ITEMAK -->
  	<div class="pagination">
    <span class="step-links">
    	
        {% if items.has_previous %}
            <a class="kolore-gris-lau" href="?page={{ items.previous_page_number }}&search_lang={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&h_id={{ hornitzailea.fk_user.id}}&z=i&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">
            	<span class="icon-ob-arrow-left kolore-gris-ccc"> </span>{% trans 'Aurrekoak' %}
            </a>
        {% endif %}

        <span class="current kolore-gris-ccc">
            [{{ items.number }}/{{ items.paginator.num_pages }}]
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}&search_lang={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&h_id={{ hornitzailea.fk_user.id}}&z=i&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">
            	<span class="kolore-gris-lau">{% trans 'Hurrengoak' %} </span><span class="icon-ob-arrow-right kolore-gris-ccc"></span>
            </a>
        {% endif %}
    </span>
	</div>


  </div> <!--itemak -->
  
  
  {% if z == 'p'%}
  <div id="ibilbideak" class="tab-pane fade in active">
  {%else%}
  <div id="ibilbideak" class="tab-pane fade">
  {%endif%}
  	
  	  
   {% for path in paths %}

	{% include "_search_result_path.html"%}
	
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
	<p class="asistentea_EzDago"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></p>
	<p class="asistentea_EzDago">{% trans "Gogoratu! zuk zeuk sor dezakezu gai horri edo beste gai bati buruzko ibilbidea." %}</p>
	<p class="asistentea_EzDago">{% trans "Horretarako, erregistratu eta jarraitu ibilbidea sortzeko pausuak." %}</p>
	<p class="asistentea_EzDago"><a href="{{STATIC_URL}}video/ob_tutorial_eu_musika.mkv"> {% trans "Ikusi bideoa" %} </a></p>
	<p class="asistentea_EzDago">{% trans "Animatu!" %}</p>
{% endfor %}

	<!-- PAGINATOR IBILBIDEAK-->
  	
  	<div class="pagination">
    <span class="step-links">
        {% if paths.has_previous %}
            <a class="kolore-gris-lau" href="?page={{ paths.previous_page_number}}&search_lang={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&h_id={{ hornitzailea.fk_user.id}}&z=p&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">
               	<span class="icon-ob-arrow-left kolore-gris-ccc"> </span>{% trans 'Aurrekoak' %}
			</a>
        {% endif %}

        <span class="current kolore-gris-ccc">
            [{{ paths.number }} / {{ paths.paginator.num_pages }}]
        </span>

        {% if paths.has_next %}
            <a href="?page={{ paths.next_page_number}}&search_lang={{radioHizkuntza}}&search_input={{bilaketaGaldera}}&h={{h}}&h_id={{ hornitzailea.fk_user.id}}&z=p&hizkuntzakF={{hizkF}}&hornitzaileakF={{horniF}}&motakF={{motaF}}&ordenakF={{ordenaF}}&lizentziakF={{lizentziaF}}&besteakF={{besteaF}}">
            	<span class="kolore-gris-lau">{% trans 'Hurrengoak' %} </span><span class="icon-ob-arrow-right kolore-gris-ccc"></span>
            </a>
        {% endif %}
    </span>
	</div>
		
  </div><!-- ibilbideak -->
  
<!--  </div>	panel -->			
<!--</div> panel -->	

</div> <!-- tab content -->






  	

	


{% if page.has_previous or page.has_next %}
    <div>
     {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
     {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
     </div>
{% endif %}


<!-- Ventana Modal -->
<div class="modal fade modalEdizioAukerak" id="modalEdizioAukerak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ibilbidearen edizio aukerak aldatu</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body">
 
                            <form id="pathEdizioAukerakEguneratu" enctype="multipart/form-data" role="form">
                            <input type="hidden" name="pathId" id="pathId" value="" />
                            <div class="form-group">
                            	<label for="exampleInputAcces1">Edizio baimenak</label><br/><br/>
                            	<div class="input-group">
                            	 <select id="acces" name="acces">
  									<option value="1" selected>Ez publikatu oraindik</option>
  									<option value="2">Publikatu. Zuk bakarrik editagarria</option>
  									<option value="3">Publikatu. Hornitzaileek bakarrik editagarria</option>
  									<option value="4">Publikatu. Guztiek editagarria</option>
  
								  </select>
								   </div>
                            </div>
 	
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atera</button>
                                <button type="submit" class="btn btn-primary">Eguneratu</button>
                            </div>
                            
                            <p><br/></p>
                      </form>
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--Fin Ventana modal-->



<!-- modalEgunekoak-->

<div class="modal fade" id="modalEgunekoak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ezkerra">{% trans "Adituen proposamenak" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                    		<div id="messages"></div>
                    		<h4 class="modal-inner-title kolore-gris-bi">{% trans "Kultur itemak" %}</h4>                                                    
                            {% for item in eguneko_itemak %}
                            	{% include "_item_search_thumbnail.html" %}                            	
							{%endfor%}
							<br/>	
                			<h4 class="modal-inner-title kolore-gris-bi">{% trans "Ibilbideak" %}</h4>
           					{% for path in eguneko_ibilbideak %}
           						{% include "_path_search_thumbnail.html" %}
							{%endfor%}              
                            <br/>						
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atera</button>                                
                            </div>                            
                            <p><br/></p>                    
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>

 

<!-- END modalEgunekoak-->


<!--modalBozkatuenak-->

<div class="modal fade" id="modalBozkatuenak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ezkerra">{% trans "Bozkatuenak" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                    		<div id="messages"></div>
                    		<h4 class="modal-inner-title kolore-gris-bi">{% trans "Kultur itemak" %}</h4>                                                     
                            {% for item in item_bozkatuenak %}	
	                           	{% include "_item_search_thumbnail.html" %}                            	
							{%endfor%}                    
                            <br/>	
                            <h4 class="modal-inner-title kolore-gris-bi">{% trans "Ibilbideak" %}</h4>
                            {% for path in ibilbide_bozkatuenak %}
                            	{% include "_path_search_thumbnail.html" %}                            	
							{%endfor%}
                            <br/>				
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Atera" %}</button>                                
                            </div>                            
                            <p><br/></p>                    
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>

 

<!--END modalBozkatuenak-->

<!--modalAzkenak-->

<div class="modal fade" id="modalAzkenak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ezkerra">{% trans "Berrienak" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                    		<div id="messages"></div>  
                    		<h4 class="modal-inner-title kolore-gris-bi">{% trans "Kultur itemak" %}</h4>                                                            
                            {% for item in azken_itemak %}
                            	{% include "_item_search_thumbnail.html" %}                            					
							{%endfor%}                      
                            <br/>
                            <h4 class="modal-inner-title kolore-gris-bi">{% trans "Ibilbideak" %}</h4> 
                            {% for path in azken_ibilbideak %}
                            	{% include "_path_search_thumbnail.html" %}                            									
							{%endfor%}
							<br/>           					
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atera</button>                                
                            </div>                            
                            <p><br/></p>                    
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>

 

<!--END modalAzkenak-->
		
{% endblock %} 
			
	
	
	
	

				
	
	
