{% extends "base.html" %}
{% load tags %}
{% load i18n %}
{% load leaflet_tags %}

{% block content %}

<div class="itema_gehitu">


<div class="container">
<div class="row">
  <div class="col-md-1">
    
    </div>
  <div class="col-md-3">
    <a class="img-responsive bilaketaEmaitza  thumbnail" href="{% if item.edm_isshownby %}{{item.edm_isshownby}}{%else%} # {%endif%}" target="{% if item.edm_isshownby %}_blank{%endif%}" >
      {% if item.ob_thumbnail %}
      <!--<img  alt="{{item.dc_title}}" src="{% if item.ob_thumbnail %} {{item.ob_thumbnail}} {%else%} /uploads/NoIrudiItem.png {% endif %}">-->
      <img  alt="{{item.dc_title}}" src="{{item.ob_thumbnail}}">
      {%elif item.edm_isshownby%}
     
     	 <iframe id="frame" src="{{item.edm_isshownby}}">
	 	 </iframe>
	   {%else%}
	   		<img  alt="{{item.dc_title}}" src="/uploads/NoIrudiItem.png">
      {% endif %}
      
      </a>
    
    <div class="path-info overflow">
      
      <ul class="nav  navbar-default">
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Lizentzia" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.edm_rights%}
	    {{item.edm_rights}}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  </li>
	</ul>
      </div>
    
    </div><!--col-3-->
  <div class="col-md-6">
    <div class="path-name overflow titulu-kolorea">
      {% get_current_language as LANGUAGE_CODE %}
      
      <h2 class="bold"> {{ LANGUAGE_CODE|choose_title_language:item |format_html|safe}} </h2>
      
      <ul class="nav navbar-nav navbar-default">
	<li>
	  {% if "VIDEO" in item.edm_type %}
	  <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
	  {% endif %}
	  {% if "TEXT" in item.edm_type %}
	  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
	  {% endif %}
	  {% if "IMAGE" in item.edm_type %}
	  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
	  {% endif %}
	  {% if "SOUND" in item.edm_type %}
	  <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
	  {% endif %}
	  </li>
	<li>
	  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
	  {% if item.edm_year %}
	  {{item.edm_year}}
	  {%else%}
	     -
	  {% endif %}
	  </li>
	
	<li>
	  <!-- itemak erabiiltzailearekin lotutakoan hau aldatu, username erakutsi-->
	  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	  
	  {{item.fk_ob_user.username}}
	  </li>
	</ul>
      </div>
    
    
    
    <!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
    <!--{{ LANGUAGE_CODE|choose_description_language:item |striptags |safe }}-->
    <div class="path-info overflow ">
      <div class="comment more item-info-description">
	
	{{ LANGUAGE_CODE|choose_description_language:item |safe}}
	
	</div>
      </div>
    <div class="path-info overflow">
      <h3 class="titulu-kolorea">{% trans "EZAUGARRIAK" %}</h3>
      <ul class="nav  navbar-default">
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Sortzailea" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.dc_creator%}
	    {{item.dc_creator}}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  </li>
	
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Hornitzailea" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.edm_provider%}
	    {{item.edm_provider}}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Gaia" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.dc_subject%}
	    {{item.dc_subject}}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Hizkuntza" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.ob_language %}
	    {{item.ob_language}}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Herrialdea" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.edm_country %}
	    {{item.edm_country }}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Data" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.dc_date %}
	    {{item.dc_date }}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	  {% trans "Mota" %}:&nbsp;
	  <span class="eremu-str">
	    {% if item.edm_type %}
	    {{item.edm_type }}
	    {%else%}
	     -
	    {% endif %}
	    </span>
	  
	  
	  </li>
	<li>
	  {% if item.edm_isshownat%}
	  <a  class="eremu-str" title="{{viewAtSource}}" href="{{viewAtSource}}" target="_blank"><b><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% trans "Ikusi jatorrizkoa" %}</b></a>
	  {%endif%}
	  </li>
	</ul>
      </div>
    <div class="path-info overflow">
      <h3 class="titulu-kolorea">{% trans "Bestelako informazioa" %}</h3>
      <ul class="nav navbar-nav navbar-default">
	{% if item.proposatutakoa %}
	<li>
	  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
	  {% trans "Adituek Proposatutakoa" %}
	  
	  </li>
	{%endif%}
	{% if item.egunekoa %}
	<li>
	  <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
	  {% trans "Egunekoa" %}
	  
	  </li>
	{%endif%}
	{% if not item.egunekoa and not item.proposatutakoa%}
	- - -
	{%endif%}
	</ul>
      </div>
    <div class="path-info overflow">
			{% if user.is_authenticated %}
			<h3 class="titulu-kolorea">{% trans "Kudeaketa Aukerak" %}</h3>
						
  			<button class="btn btn-default gehitu-botoia" type="button" title="lan eremura gehitu" onclick="create_workspace_box({{id}}, {{ request.user.id }});">
 				
 				{% trans "Gehitu" %}
 				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			</button>
			
			
				<!--ikusi-->
				<a class="btn btn-primary" type="button" href="{{BASE_URL}}/erakutsi_item?id={{id}}">
       				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
       			</a>
				
			{% if request.user|has_group:'hornitzailea' %}
				<!--egunekoa bihurtu-->
				{% if item.egunekoa == 0 %}	
				 <a class="btn btn-warning egunekoa-botoia" title="Gehitu eguneko itema"  type="button" href="{{BASE_URL}}/eguneko_itema_gehitu?id={{item.id}}&nondik=editatu" >
				   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				   </a>
				{%endif%}
				{% if item.egunekoa == 1 %}	
				 <a class="btn btn-warning egunekoa-botoia" title="Gehitu eguneko itema"  type="button" href="{{BASE_URL}}/eguneko_itema_kendu?id={{item.id}}&nondik=editatu" >
				   <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				   </a>
					
				{%endif%}
			
			{%endif%}
		
			
       		{% if user.id == item.fk_ob_user.id %}
			
					<!-- ezabatu -->
					<a class="btn btn-danger" type="button" title="itema ezabatu" onClick="deleteItem({{id}})" >				
 					<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
					</a>
			{%endif%}
		{%endif%}  		
		</div>
    <div class="path-info overflow">
      
      <!-- ITEMA AZALTZEN DE LEHEN 5 IBILBIDEAK ERAKUTSI. GAINONTZEKOAK MODAL BATEAN-->
      {%if itemPaths %}
      <!-- class="crossingPaths"-->
      <div class=""><h3 class="titulu-kolorea">{% trans "Ze ibilbidetan?" %} ({{itemPaths.count}})</h3>
	{% for node in itemPaths %}
	{% if forloop.counter < 4 %}
				<a href="nabigazioa_hasi?path_id={{node.fk_path_id.id}}">{{node.fk_path_id.dc_title}} </a>&nbsp;&nbsp;
				{%endif%}
				{%endfor%}
				<!--</br>-->
				{% if itemPaths|length  >= 4 %} <!-- ONDOREN >= 4 JARRI-->
	  <a class="aRight" href="" data-toggle="modal" data-target="#modalMore"><span class="glyphicon glyphicon-plus">&nbsp;&nbsp;</span></a>
	  </div>
	  {%endif%}
	  
	<!--  </div>-->
      {% else %}
      <h3 class="titulu-kolorea">{% trans "Ze ibilbidetan?" %} &nbsp; - </h3>
      {%endif%}
      </div>
    </div><!-- col-6-->
  <div class="col-md-2">
     
    </div>
</div><!--row-->
</div> <!--container-->

	
<div class="container">
<div class="row">
  <div class="col-md-1">
    </div>
  
  <div class="col-md-9">
	<form action="{{BASE_URL}}/editatu_itema" method="post" class="form"  enctype="multipart/form-data">
		{% csrf_token %}
		{{ itema.titulua.errors}}
		{{ itema.deskribapena.errors}}
		<input type="hidden" id="id" value="{{id}}">
		<!-- FORMULARIOA -->
		<!--{{itema}}-->
		<input id="id_hidden_Item_id" type="hidden" name="hidden_Item_id" value="{{id}}">
		
		<label for="id_titulua">{% trans "Titulua" %}:</label>
		{{itema.titulua}}
		
		<label for="id_deskribapena">{% trans "Deskribapena"%}:</label>
		{{itema.deskribapena}}
		
		<label for="id_sortzailea">{% trans "Sortzailea" %}:</label>
		{{itema.sortzailea}}
		
		<label for="id_gaia">{% trans "Gaia" %}:</label>
		{{itema.gaia}}
		
		<label for="id_herrialdea">{% trans "Herrialdea" %}:</label>
		{{itema.herrialdea}}
		
		<label for="id_data">{% trans "Data" %}:</label>
		<br />
		{{itema.data}}
		<br />

		<label for="id_jatorrizkoa">{% trans "Jatorrizkoa" %}:</label>
		{{itema.jatorrizkoa}}
		
		<label for="id_eskubideak">{% trans "Eskubideak" %}:</label>
		{{itema.eskubideak}}
		
		<label for="id_lizentzia">{% trans "Lizentzia" %}:</label>
		{{itema.lizentzia}}
		<br />
		
		<label for="id_mota">{% trans "Mota" %}:</label>
		{{itema.mota}}
		<br />
		
		<label for="id_mota"> Ondare-objektua:</label>
		{{itema.objektua}}
		<br />
		
		<label for="id_irudia">{% trans "Irudia" %}:</label>
		{{itema.irudia}}
		<br />
		
		<label for="id_hizkuntzak">{% trans "Hizkuntzak" %}:</label>
		<br />
		eu{{itema.eu}}
		es{{itema.es}}
		en{{itema.en}}
		
		<br/>
		<br/>
		<!-- GEOLOKALIZAZIOA -->
		<label for="id_geolokalizazioa">Geolokalizazioa:</label>
		<input  id="latitude" name="latitude" placeholder="Koordenadak" type="hidden" />
		<input  id="longitude" name="longitude" placeholder="Koordenadak" type="hidden" />
            
		{% leaflet_map "yourmap" callback="load_map" %}
		
		<!-- END GEOLOKALIZAZIOA -->
     		
   		 <button class="btn btn-default" name="aldatu" type="submit">
   		 Aldatu
  		  </button>
       			
       			
      		
      	
      	</form>
</div>
  <div class="col-md-2">
    </div>
  </div>
</div>
</div>
{% endblock %} 
