{% extends "base.html" %}

{% block content %}

<div class="panel panel-info ibilbide-panela">
	<div class="panel-heading">
		<h1 class="panel-title">{{path_titulua}}</h1>
	</div>
	<div class="panel-body" >
    
   	 	<div class="col-xs-6 col-md-3" align="center">
   			 <a href="#" class="thumbnail">
     		
	 			 <img alt="{{path_irudia}}" src="{{path_irudia}}">
 			   </a>
 		</div>
 		<div class="item_edukia">
 			<p><b> deskribapena: </b><a href="">{{path_deskribapena}} </a></p>
 			 			
 		</div>
 		
 		
 	 </div>
	
</div>

<!-- 
path_box-era elementu bat sartzeko:
pb_new_element(elementu_id,testua,irudiaren_urla);
path_box-ean seme bat sartzeko:
pb_new_son(aitaren_id,elementu_id,testua,irudiaren_urla);
-->

<input type="hidden" id="path_id" value="{{path_id}}"/>
<!--
<button id="update_path_button" type="button" class="btn btn-default btn-xs" onclick="update_path_on_db({{path_id}})">
       		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"> 
       		</span> 
       		Eguneratu Ibilbidea		
       	</button>
 -->      	
 
<button id="create_path_button" type="button" class="btn btn-info" id="menuLink" data-toggle="modal" data-target="#modalwindow" >
	<span  aria-hidden="true"> 
		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"> 
       	</span> 
    	Eguneratu Ibilbidea   
    </span> 	
</button>  

<br>
<br>
<div class="info">
	<p>Ibilbideko item baten <b>narrazioa gehitzeko</b> egin klik bikoitza itemaren gainean</p>
</div>

<div id="narrazioa">
	<p id="narra_p" class="info"></p>
	<textarea id="narra_textarea" name="narra_textarea" maxlength="5000" cols="87" rows="5" disabled="true"></textarea>
	
	<button id="narra_botoia" class="btn btn-info" name="narra_botoia" disabled="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Gorde Narrazioa</button>


</div>     	
       	
       	
 <div id="path_boxes" ondrop="pb_drop(event);" ondragover="allowDrop(event)"></div>
<script>
var ibilbide_data = []; 
var root = {"id":0 ,"name" : "ROOT" , "irudia": "http://obprototipoa.elhuyar.eus/uploads/festivalCineDonostia.jpeg", "narrazioa": "Root da" ,"parent":'' }
    ibilbide_data.push(root);
</script>
{% for node in path_nodeak%}
<script type="text/javascript">
  var id="{{node.fk_item_id_id}}";//path_node[0];
	var titulua="{{node.dc_title}}";//path_node[1];
	var irudia="{{node.paths_thumbnail}}";//path_node[2];
        if (irudia == " ")
        {
           irudia="/uploads/NoIrudiItem.png";
        }

        var narrazioa="{{node.dc_description}}";
	var aita_id="{{node.paths_prev}}";

  
	//aita hutsa bada , root izango da bere aita
	if (aita_id== ""){
		aita_id = 0;
	} 
	var obj={id: id, name: titulua , irudia: irudia, narrazioa: narrazioa, parent:aita_id};
  ibilbide_data.push(obj);

</script>
{% endfor%}
<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakeditatu.js"></script>

 <!--Ventana modal-->

<div class="modal fade" id="modalwindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Ibilbideari buruzko ondorengo datuak sartu</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body">
                    	
                    		<div id="messages"></div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Titulua</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                                    <input type="text" name="path_titulua" id="path_titulua" class="form-control" placeholder="" size="18" value="{{path_titulua}}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Gaia</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
                                    <input type="text" name="path_gaia" id="path_gaia" class="form-control" placeholder="" size="18" value="{{path_gaia}}">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Deskribapena</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon"></span></span>
                                    <textarea name="path_desk" id="path_desk" class="form-control" placeholder="" rows="5" cols="200" required>{{path_deskribapena}}</textarea>
                                </div>
                            </div>
                             <div class="form-group">
                            	<label for="exampleInputLang1">Hizkuntza</label><br/><br/>
                            	<div class="input-group">
                            	 <select id="hizkuntza" name="hizkuntza">
  									<option value="eu" selected>eu</option>
  									<option value="es">es</option>
  									<option value="en">en</option>
  
								  </select>
							</div>
                            </div>
                            <br/>
                            <form id="formEguneratu" enctype="multipart/form-data" role="form">
                            <input type="hidden" id="path_id_h" value="{{path_id}}">
                            <span class="btn btn-info fileinput-button">
							<span>Irudia gehitu</span>							
							<input id="file2" class="imgform_image"  type="file" multiple="" name="file2">
							</span>
							
							
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atera</button>
                                <button type="submit" class="btn btn-primary">Eguneratu</button>
                            </div>
                            
                            <p><br/></p>
                      </form>
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>

 

<!--Fin Ventana modal-->


<!--
{% for erroa in path_erroak%}

<script type="text/javascript">
	console.log("erroa");
	var path_erroa = "{{erroa}}".split(";"); 
	//erroa.id+";"+erroa.dc_title+";"+erroa.paths_thumbnail+";"+erroa.paths_next
	var id=path_erroa[0];
	var titulua=path_erroa[1];
	var irudia=path_erroa[2];
	console.log("id:"+id);
	console.log("titulua:"+titulua);
	console.log("irudia:"+irudia);
 	pb_new_element(id,titulua,irudia);
	
</script>

{% endfor%}
-->

<!--
 
 -->
 <!--
 {% for semea in path_semeak%}

<script type="text/javascript">
	console.log("semea");
	var path_semea = "{{semea}}".split(";"); 
	//str(semea.fk_item_id)+";"+semea.dc_title+";"+semea.paths_thumbnail+";"+semea.paths_prev+";"+semea.paths_next

	var id=path_semea[0];
	var titulua=path_semea[1];
	var irudia=path_semea[2];
	var aita_id=path_semea[3];
	console.log("aita:"+aita_id);
	console.log("id:"+id);
	console.log("titulua:"+titulua);
	console.log("irudia:"+irudia);
	
 	pb_add_new_son(aita_id,id,titulua,irudia);
	
</script>

{% endfor%}
 -->
{% endblock %} 
