{% extends "base.html" %}
{% load i18n %}
{% load tags%}
{% block content %}
 
<!--
{{ user.groups.all.0 }}

{{ user.groups.all }}
-->
<!--
{% if request.user|has_group:'hornitzailea' %}
    <p>Erabiltzailea hornitzailea da
{% else %}
    <p>Erabiltzailea Ez da hornitzailea</p>
{% endif %}
-->


<!--
{% if hornitzailea in request.user.groups.all %}

 <p>Hornitzailea da erabiltzailea</p>
{%endif%}
-->
<div class="aurkezpena">
	<h2 class="titulu-kolorea">{% trans "Ongi etorri OndareBideak proiektura" %}</h2>

	<p>OndareBideak proiektuak ondare digitala atzitu, erabili eta interpretatzeko modu berriak eskaintzen dizkio erabiltzaileari.</p>
	<p>Liburutegi, museo eta artxibategietako ondarea gero eta gehiago digitalizatuta dago, eta lekuan bertan ez ezik atari digitalen bidez ere kontsulta dezakegu. Tamalez, biltegi digital hauetan dagoen informazio kopuru erraldoiak oso zaila egiten du bisitariarentzat  bertako edukiak modu eraginkorrean atzitzea. Edukiek ez dute ikusgarritasunik horrenbesteko materialen artean eta askotan biltegiak objektu inerteen gordailu huts bihurtzen dira. Museo eta galerietan egoera bestelakoa da, ondarea antolatu egiten baita eta bisitaria aukeratutako edukietan zehar gidatu.</p>
 
	<p>Gurera etorrita, Donostialdean kultura aldetik ikusgarri diren obra eta elementu digital andana dago. Ondare horri bizia emateko sortu da, hain zuzen ere, OndareBideak proiektua. Horretarako eduki horien gaineko plataforma digital bat garatu dugu, “museo digitala”. Bertan, adituek sortutako “erakusketa digitalak” ikusi eta jarraitu ahal izango ditu bisitariak, baita sare sozialen bidez partekatu eta gustokoenen aldeko bozka eman ere. Horrekin batera, ibilbide propioak sortzeko aukera emango du webguneak, lan kulturalen irakurketa eta interpretazio pertsonaletarako bidea eskainiz.
	Ibilbideak bakoitza erabiltzailearen erakusketa pertsonala izango da, otutzen zaion edozein irizpideren araberakoa izan daiteke, adibidez: gai orokor bat (Arkitektura, Musika), garai historiko jakin bat (XIX. mendea), leku jakin bati lotua (Ulia edo Urgull), pertsonaia ezagunei buruzkoak (Aita Donostia, Bilintx), edo gure gustoko lekuei buruzko ibilbide bat. 
	</p>
</div>
<br />
<!--EGUNEKO IBILBIDEA ERAKUTSI -->
<div class="media path_sarrera">
  <div class="media-left">
    <a href="#">
      <img class="media-object"  style="width: 200px; height: 200px;" src="{{path_irudia}}" alt="{{path_irudia}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading titulu-kolorea">{{path_titulua}}</h4>
    {{path_deskribapena}}
  </div>
  <div>
  <a type="button" class="btn btn-info eskuma kolorea" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path_id}}">
		<span  aria-hidden="true"> 
			<span class="glyphicon glyphicon-play" aria-hidden="true"> 
    	   	</span> 
    		Eguneko Ibilbidea Burutu
    	</span> 	
	</a> 
	<a type="button" class="btn btn-info eskuma kolorea" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">
		<span  aria-hidden="true"> 
			<span class="glyphicon glyphicon-play" aria-hidden="true"> 
    	   	</span> 
    		Autoplay
    	</span> 	
	</a> 
  </div>
  <br />
  <br />
  
</div>

  <div>
 <b><h3 class="media-heading titulu-kolorea">Ibilbidearen panorama</h3></b>
 </div>
  

  
<!--<div id="path_boxes_egunekoa"  ondrop="pb_drop_egunekoa(event);" ondragover="allowDrop(event)"></div>-->

<div id="path_boxes_egunekoa"></div>
<script>
var ibilbide_data = []; 
var root = {"id":0 ,"name" : "ROOT" , "irudia": "http://obprototipoa.elhuyar.eus/uploads/festivalCineDonostia.jpeg", "parent":'' }
    ibilbide_data.push(root);
</script>
{% for node in path_nodeak%}
<script type="text/javascript">
	var id="{{node.fk_item_id_id}}";//path_node[0];
	var titulua="{{node.dc_title}}";//path_node[1];
	var irudia="{{node.paths_thumbnail}}";//path_node[2];
	var aita_id="{{node.paths_prev}}";
	//aita hutsa bada , root izango da bere aita
	if (aita_id== ""){
		aita_id = 0;
	} 
	var obj={id: id, name: titulua , irudia: irudia, parent:aita_id};
	ibilbide_data.push(obj);

</script>
{% endfor%}
<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakegunekoa.js"></script>



{% endblock %} 
