{% extends "base.html" %}
{% load i18n %}

{% block content %}


<!--HORNITZAILE GUZTIAK ERAKUTSI IKONOEKIN -->

<p>ERAKUTSI HORNITZAILEAK</p>

<div class="panel panel-default">
  <div class="panel-body">
  
   {% for hornitzaile in hornitzaileak %}
	<div class="column">	
		<div class="col-xs-6 col-md-3">
    
    <div class="thumbnail">
	<!--
			<a class="{% if not path.paths_thumbnail %} bilaketaEmaitzaPath {% endif %} thumbnail"  href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" >
				{% if path.paths_thumbnail %}<img  src="{{path.paths_thumbnail}}">{% endif %}
			</a>
			
			<div class="caption">
				<input type="hidden" id="path_id_{{ forloop.counter }}" value="{{path.id}}"/>
				 <input type="hidden" id="path_titulua_{{ forloop.counter }}" value="{{path.dc_title}}"/>
				 <input type="hidden" id="path_irudia_{{ forloop.counter }}" value="{{path.paths_thumbnail}}"/>
				 
				<h5><a class="" title="{{path.dc_title}}" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" id="path.dc_title">{{path.dc_title}}</a></h5>    		
    		<div class="btn-group" role="group" aria-label="...">
       			<a class="btn btn-primary" type="button" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}">
       				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
       			</a>
       		
       		
				</div>
    		</div>
		</div><!-- thumbnail -->
-->
		</div>
  </div>
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
{% endfor %}

</div>
</div>
 {% endblock %} 
