{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load tags %}
{% load leaflet_tags %}

{% if hornitzailea %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/blog-post.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/areas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/proposal.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/social-share-kit.css" rel="stylesheet">
{% endblock %}
{%endif%}
<!--<p> Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.n\
um_pages }}</p>-->
<!--<p class="emaitzaInfo"> {{ items.count }} Kultur Item eta {{paths.count}} Ibilbide</p>-->




<div class="tab-content">
	
		<div class="container">
  
 
      	 <div class="row">
            <div class="col-lg-2">  
                <div class="well info_box  icon_info">
                     <h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-tag" aria-hidden="true"></span>                   
                      <span id="id_area" class="list-group-item-text">{{hornitzailea.erakundeMota}}</span>                                        
                    </h4>
                 	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						
               		 <span id="id_where">{{hornitzailea.helbidea}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						
               		 <span id="id_telefonoa">{{hornitzailea.telefonoa}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						
               		 <span id="id_emaila">{{hornitzailea.emaila}}</span>
                       
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #eea236" class="glyphicon glyphicon-time" aria-hidden="true"></span>
						
               		 <span id="id_emaila">{{hornitzailea.ordutegia}}</span>
                       
                	</h4>
                    
                </div>
    
            </div> 
           	<div class="col-lg-6"> <!-- col-lg-8-->
				{% if hornitzailea.izena != "" %}
					<h1 class="text-center"><span id="id_title"> {{hornitzailea.izena}}</span>
				{%else%}
				     <h1 class="text-center"><span id="id_title"> Hornitzailearen Izena*</span>
                {%endif%}
                	 </h1>  
               

                <!--<p class="lead">{% trans "Deskribapena" %}</p>-->
                <p><span id="id_summary">{{hornitzailea.deskribapena}}</span></p>
                                                                        
                <hr>
		
         		<!-- Preview Image -->
      
       			 {% if hornitzailea.argazkia %}
        				<img id="id_image"  class="hornitzaile-irudia"src="{{ hornitzailea.argazkia }}" alt="">
      			
					 {%else %}
					 <img id="imgPreview" class="hornitzaile-irudia" src="{{ STATIC_URL }}/img/no_photo_small.jpg" alt="">
				
					 {%endif%}
        
        		 <hr>
                
                
        		
      			 <!-- GEOLOKALIZAZIOA -->
 				{% if hornitzailea.geoloc_longitude %}
					{% leaflet_map "yourmap" callback="load_map" %}
				{%endif%}

	  			 <!-- END GEOLOKALIZAZIOA -->
       
			</div><!-- col-lg-8-->

		</div><!--row-->
	</div><!--container-->	
</div><!--fitxa-->







  	

	


{% if page.has_previous or page.has_next %}
    <div>
     {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
     {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
     </div>
{% endif %}
		
{% endblock %} 
			
	
	
	
	

				
	
	