{% extends "base.html" %}
{% load i18n %}
{% load tags %}


{% block sidebar%}
<div id="sidebar" class="col-sm-1 col-md-1 col-lg-1">
	{% block result_number %}
	<div class="result_number">
		<h4>{% trans "Hornitzaileak" %} <span class="num">{{ hornitzaileak.paginator.count }}</span></h4>
	</div>
	{% endblock result_number %}
</div>
{% endblock sidebar%}

{% block content_div_def %}		
<div id="content_div" class="col-sm-10 col-md-10 col-lg-10" align="center">
{% endblock content_div_def %}
					
{% block content %}


<!--HORNITZAILE GUZTIAK ERAKUTSI IKONOEKIN -->


<!--<div class="panel panel-default">-->
  <div class="panel-body">
 
 <!-- top pagination -->
{% include "_provider_pagination.html" %}

   <!-- Project One -->
        <div class="row">
        <ul>
   {% for hornitzaile in hornitzaileak %}
	

		<li class="col-md-4 col-lg-4 hornitzaile-result">             
            	
            	<!-- Preview Image -->
      
       			 {% if hornitzaile.ikonoa %} 			 	 
       			 	 <a href="/hornitzaile_search?h={{hornitzaile.fk_user.username}}&h_id={{hornitzaile.fk_user.id}}&z=h">
                  		  <img id="imgPreview" id="imgPreview"class="img-responsive" src="{{hornitzaile.ikonoa}}" ><!--src="http://placehold.it/700x300"-->
                	</a>
				{%else %}
		 		 	<!--<a href="hornitzailea_ikusi?id={{hornitzaile.fk_user.id}}">-->
		 		 		<a href="/hornitzaile_search?h={{hornitzaile.fk_user.username}}&h_id={{hornitzaile.fk_user.id}}&z=h">	 		 		
                   		 <img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}img/no_photo_small.jpg"  alt=""><!--src="http://placehold.it/700x300"-->
               		 </a>
      			 {%endif%}
        
            <div class="letratipoa">
                <p class="left"><b>{{hornitzaile.izena}}</b></p>
                
                <p class="mota"><span class=" glyphicon glyphicon-menu-right" aria-hidden="true"></span>{{hornitzaile.erakundeMota}}</p>
                <p class="letratipoa">{{ hornitzaile.deskribapena|slice:"0:100" |format_html |safe}}... </p>
                <a class="btn btn-common" href="/hornitzaile_search?h={{hornitzaile.fk_user.username}}&h_id={{hornitzaile.fk_user.id}}&z=h">{% trans "Ikusi Hornitzailea" %} <span class="glyphicon glyphicon-chevron-right"></span></a>
            	
            </div>
          
            </li>
            

        <hr>

{% endfor %}
</ul>
</div>
        <!-- /.row -->
</div>
       

<!-- bottom pagination -->
{% include "_provider_pagination.html" %}

<!--</div>-->
 {% endblock %} 
