{% extends "base.html" %}
{% load i18n %}

{% block content %}


<!--HORNITZAILE GUZTIAK ERAKUTSI IKONOEKIN -->


<!--<div class="panel panel-default">-->
  <div class="panel-body">
  
   {% for hornitzaile in hornitzaileak %}
	


   <!-- Projects Row -->
        <!--
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
           
        </div>
       -->
        <!-- /.row -->
        
        <!-- Project One -->
        <div class="row">
            <div class="col-md-2">
            	
            	<!-- Preview Image -->
      
       			 {% if hornitzaile.ikonoa %} 			 	 
       			 	 <a href="hornitzailea_ikusi?id={{hornitzaile.fk_user.id}}">
                  		  <img id="imgPreview" id="imgPreview"class="img-responsive" src="{{hornitzaile.ikonoa}}" ><!--src="http://placehold.it/700x300"-->
                	</a>
				{%else %}
		 		 	<a href="hornitzailea_ikusi?id={{hornitzaile.fk_user.id}}">
                   		 <img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}img/no_photo_small.jpg"  alt=""><!--src="http://placehold.it/700x300"-->
               		 </a>
      			 {%endif%}
              
            </div>
            <div class="col-md-9">
                <h3>{{hornitzaile.izena}}</h3>
                <h4>{{hornitzaile.erakundeMota}}</h4>
                <p>{{ hornitzaile.deskribapena|slice:"0:100" }}...</p>
                <a class="btn btn-primary" href="hornitzailea_ikusi?id={{hornitzaile.fk_user.id}}">Ikusi Hornitzailea <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
	    <div class="col-md-1"></div>
        </div>
        <!-- /.row -->

        <hr>

{% endfor %}

</div>
       

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

<!--</div>-->
 {% endblock %} 
