{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% load leaflet_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/blog-post.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/areas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/proposal.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/social-share-kit.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  
 
       <div class="row">
            <div class="col-lg-4">  
                <div class="well info_box  icon_info">
                    
                     <h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-tag" aria-hidden="true"></span>                   
                       {% trans "Arloa" %}*:<span id="id_area" class="list-group-item-text">{{hornitzailea.erakundeMota}}</span>                                        
                    	 <a href="#" data-toggle="modal" data-target="#area_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     	    
                    </h4>

                 	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					 {% trans "Kokapena" %}*:
               		 <span id="id_where">{{hornitzailea.helbidea}}</span>
                        <a href="#" data-toggle="modal" data-target="#where_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                   
                	</h4>
                	
                	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						{% trans "Telefonoa" %}*:
               		 <span id="id_telefonoa2" class="list-group-item-text">{{hornitzailea.telefonoa}}</span>
                       <a href="#" data-toggle="modal" data-target="#telefonoa_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     	  
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						{% trans "Posta Elektronikoa" %}*:
               		 <span id="id_emaila2" class="list-group-item-text" >{{hornitzailea.emaila}}</span>
                        <a href="#" data-toggle="modal" data-target="#emaila_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     	 
                	</h4>
                	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
							{% trans "Webgunea" %}*:
							<span id="id_website2" class="list-group-item-text" >{{hornitzailea.website}}</span>
               		  <a href="#" data-toggle="modal" data-target="#website_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>                      
                	</h4>
                	
                	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-time" aria-hidden="true"></span>
						{% trans "Ordutegia" %}*:
               		 <span id="id_ordutegia2" class="list-group-item-text">{{hornitzailea.ordutegia}}</span>
                       <a href="#" data-toggle="modal" data-target="#ordutegia_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     	 
                	</h4>

                	<h4 class="mota2"><span style="font-size:1.5em;color: #337ab7" class="glyphicon glyphicon-file" aria-hidden="true"></span>
						 {% trans "Erantsitako Fitxategiak" %}*: 
						 	<br />
							{% trans "Ikonoa" %}*:
							<span id="id_pic">{{hornitzailea.ikonoa}}</span>
                           <a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     		<br />
                     		<br />
							{% trans "Argazkia" %}*:
                     		<span id="id_pic2">{{hornitzailea.argazkia}}</span>
                           <a href="#" data-toggle="modal" data-target="#attached_documents_argazkia_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                     
                     </h4>
               
                    
                </div>
                
                
                 <div class="modal fade" id="area_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <!--<button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-area" id="myModalLabel">{% trans "Editatu arloa" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_arloa" class="form-control" type="text" placeholder="Arloa" name="arloa">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" onmousedown="save_proposal_area();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               	   
          		<div class="modal fade" id="telefonoa_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <!--<button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-telefonoa" id="myModalLabel">{% trans "Editatu telefonoa" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_telefonoa" class="form-control" type="text" placeholder="Telefonoa" name="telefonoa">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" onmousedown="save_proposal_telefonoa();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               	   
               	   <div class="modal fade" id="emaila_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <!--<button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-emaila" id="myModalLabel">{% trans "Editatu posta elektronikoa" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_emaila" class="form-control" type="text" placeholder="Posta elektronikoa" name="emaila">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" onmousedown="save_proposal_emaila();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                  <div class="modal fade" id="website_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <!--<button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-emaila" id="myModalLabel">{% trans "Editatu webgunea" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_website" class="form-control" type="text" placeholder="website" name="emaila">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" onmousedown="save_proposal_website();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                
                
                
                	<div class="modal fade" id="ordutegia_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <!--<button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-ordutegia" id="myModalLabel">{% trans "Editatu ordutegia" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_ordutegia" class="form-control" type="text" placeholder="Ordutegia" name="ordutegia">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" onmousedown="save_proposal_ordutegia();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                   <div class="modal fade" id="where_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-where" id="myModalLabel">{% trans "Kokalekua editatu" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                             
                              <div class="col-md-12">                
                                <div>
                                    <input id="id_kokalekua" class="form-control" type="text" placeholder="Kokalekua" name="Kokalekua">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" id="close_where" onmousedown="save_where();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                   
                    
                    
                    
                    
                    
                   <div class="modal fade" id="attached_documents_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                        <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data" id="attached_documents_form" >{% csrf_token %}
                        <fieldset>
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Irudia Igo" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">
                                <div class='table'>
                                    <input id="hornitzaile_argazkia" class="imgform_image"  type="file" multiple="" name="hornitzaile_argazkia">
                                </div>
                              </div>
                           </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="submit" name="attached_documents_button" class="btn btn-primary">{% trans "Aldaketak Gorde" %}</button>
                          </div>
                          </fieldset>
                          </form>
                        </div>
                      </div>
                      </div>
                      
                        <div class="modal fade" id="attached_documents_argazkia_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      	<div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                        <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data" id="attached_documents_argazkia_form" >{% csrf_token %}
                        <fieldset>
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-arg" id="myModalLabel">{% trans "Irudia Igo" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">
                                <div class='table'>
                                    <input id="hornitzaile_argazkia2" class="imgform_image"  type="file" multiple="" name="hornitzaile_argazkia2">
                                </div>
                              </div>
                           </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="submit" name="attached_documents_argazkia_button" class="btn btn-primary">{% trans "Aldaketak Gorde" %}</button>
                          </div>
                          </fieldset>
                          </form>
                        </div>
                      </div>
                      </div>
            </div> 
            
            
            <div class=""> <!-- col-lg-8-->
				{% if hornitzailea.izena != "" %}
					<h1 class="text-center"><span id="id_title"> {{hornitzailea.izena}}*</span>
				{%else%}
				     <h1 class="text-center"><span id="id_title"> Hornitzailearen Izena*</span>
                {%endif%}
                	<a href="#" data-toggle="modal" data-target="#title_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>      
                </h1>  
                
           
                            
                    <div class="modal fade" id="title_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Editatu Izena" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="col-md-12">
									<input id="id_izena" class="form-control" type="text" placeholder="Hornitzailearen izena" name="izena">
								</div>
                              
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" id="close_title" onmousedown="save_title();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>

  <!-- Preview Image -->
  <div id="hornitzaile-ikonoa" class="clearfix">
        <p class="lead">{% trans "Ikonoa" %} *</p>
        {% if hornitzailea.ikonoa == "" %}
        	<a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>      
            </br>
        	<a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true" title="{% trans 'Igo Argazkia' %}" class="hovertext"><img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}/img/no_photo_small.jpg" alt=""></a>
		 {%else %}
		 <a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>      
               </br> 
			 <a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true" title="{% trans 'Igo Argazkia' %}" class="hovertext"> <img id="id_image" class="img-responsive" src="{{ hornitzailea.ikonoa }}" alt=""></a>
        {%endif%}
        </div>
         <hr>


                <p class="lead">{% trans "Deskribapena" %} *</p>
                <p><span id="id_summary">{{hornitzailea.deskribapena |safe}}</span>
                        <a href="#" data-toggle="modal" data-target="#summary_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                    </p>
                                
                    
                    <div class="modal fade" id="summary_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" onmousedown="$(this).click();return false;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-summary" id="myModalLabel">{% trans "Deskribapena editatu" %}</h4>
                          </div>
                          <div class="modal-body">
                          
                          <div id="narrazioa">
	    				  <p id="narra_p" class="info"></p>
            			  <textarea id="id_desk" name="narra_textarea" maxlength="5000" cols="75" rows="5"></textarea>
	   						<script type="text/javascript" >
	   						var h_des="{{hornitzailea.deskribapena |lerroJauziakKendu |safe}}";
	   						
	 						//var h_des_html=htmlDecode(h_des);
	 				
	 						  </script>
            				<script type="text/javascript" >
      		  				// Replace the <textarea id="narra_textarea"> with a CKEditor
       			 			// instance, using default configuration.
       			 			CKEDITOR.replace( 'id_desk' );
       			 			CKEDITOR.instances.id_desk.setData(h_des);
    						</script>
	    
	    					</div>
                          <!--
                            <div class="form-group">
                              
                                <div class="col-md-12">
                                	<textarea id="id_desk" class="form-control"  placeholder="Hornitzailearen deskribapena" name="deskribapena" rows="4" cols="50">
									
									</textarea>
								
									<script type="text/javascript" >
										
              						jQuery(document).ready(function() {
  										CKEDITOR.replace("id_desk")
 									});
                						//CKEDITOR.replace('id_desk');
                						//var desk_html = htmlDecode("{{hornitzailea.deskribapena}}");
                						//CKEDITOR.instances.id_desk.setData(desk_html);
            							

            						
            						</script>
								
								</div>
                            </div>
                            -->
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onmousedown="$(this).click();return false;" data-dismiss="modal">{% trans "Itxi" %}</button>
                            <button type="button" id="close_summary" onmousedown="save_summary();" class="btn btn-primary">{% trans "Gorde Aldaketak" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <hr>
                
            
				
       
                
          <!-- Preview Argazkia -->
       <p class="lead">{% trans "Argazkia" %} *</p>
        {% if hornitzailea.argazkia == "" %}
        	 
		 	<a href="#" data-toggle="modal" data-target="#attached_documents_argazkia_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>      
            </br>
        	<a href="#" data-toggle="modal" data-target="#attached_documents_argazkia_modal" aria-hidden="true" title="{% trans 'Igo Argazkia' %}" class="hovertext"><img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}/img/no_photo_small.jpg" alt=""></a>
		 
		 {%else %}
		 		<a href="#" data-toggle="modal" data-target="#attached_documents_argazkia_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>      
               </br> 
			 <a href="#" data-toggle="modal" data-target="#attached_documents_argazkia_modal" aria-hidden="true" title="{% trans 'Igo Argazkia' %}" class="hovertext"> <img id="id_image2" class="img-responsive" src="{{ hornitzailea.argazkia }}" alt=""></a>
       
		 {%endif%}
         <hr>
        
        <form action="{{BASE_URL}}/fitxa_gorde" method="post" class="form"  enctype="multipart/form-data">
        	{% csrf_token %}
            <input  id="latitude" name="latitude" placeholder="Koordenadak" type="hidden" />
			<input  id="longitude" name="longitude" placeholder="Koordenadak" type="hidden" />
 
			{% leaflet_map "yourmap" callback="load_map" %}


                <hr>
                
   


            
         <div class="form-group">
              <div class="col-md-12 text-right">
                <div id="dialog-confirm" class="alert alert-info" role="alert">{{mezua_fitxa}}</div>
                <button type="submit" name ="new_fitxa_button" id="id_fitxa_button" class="btn btn-primary btn-lg">{% trans "Sortu" %}</button>
              </div>
            </div>
            
       </form>
       
</div>

</div>
{% endblock %}





