{% extends "__base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}

{% load tags%}

{% block extra_markup %}
<div class="item-extra-background"></div>
{% endblock extra_markup %}

{% block page_div_def %}			
<div id="main_page">
{% endblock page_div_def %}		

{% block orria_div_def %}			
	<div class="">
{% endblock orria_div_def %}
	

{% block sidebar %}
{% endblock sidebar %}

{% block content_div_def %}		
<div id="content_div">
{% endblock content_div_def %}


				
{% block content %}

{% get_current_language as LANGUAGE_CODE %}

				
<!-- left site management button menu -->
<div id="kudeaketa-bar" class="path-info overflow">
	<ul class="button-row-vert">   
		<li class="backgrnd-gris-lau">
			<!--ikusi -->
			<a class="btn-primary" type="button" title="ibilbidea ikusi" href="{{BASE_URL}}/nabigazio_item?path_id={{momentukoPatha.id}}&item_id={{node_id}}">
				<span class="fa fa-eye square-back-lg kolore-txuria" aria-hidden="true"></span>
			</a>
		</li>           
    {% if user.is_authenticated %}
		
		{% if request.user|has_group:'hornitzailea' or user.is_superuser%}
		<!--egunekoa bihurtu-->
		<li id="eguneko_button_{{momentukoPatha.id}}" class="backgrnd-gris-lau center">
			{% if momentukoPatha.egunekoa == 0 %}
			<a class="btn-warning" type="button" href="javascript:egunekoaAldatu_ibilb({{momentukoPatha.id}},'gehitu')" >
    			<span class="square-back-vert-padding backgrnd-gris-lau">
         			<i class="icon-ob-fire circle-back kolore-gris-lau" aria-hidden="true"></i>
         			<span class="backgrnd-txuria ob-fire-overlay kolore-gris-lau icon-ob-plus"></span>
        		</span>
    		</a>
        	{% else %}
			<a class="btn-warning" type="button" href="javascript:egunekoaAldatu_ibilb({{momentukoPatha.id}},'kendu')" >
    			<span class="square-back-vert-padding backgrnd-gris-lau">
         			<i class="icon-ob-fire circle-back kolore-gris-lau" aria-hidden="true"></i>
         			<span class="backgrnd-txuria ob-fire-overlay kolore-gris-lau">&mdash;</span>
        		</span>
    		</a>		
			{%endif%}
		</li>
		{%endif%}
		
		{% if user.id == momentukoPatha.fk_ob_user.id or user.is_superuser%}

		<!--editatu-->
		<li class="backgrnd-gris-lau center">
			<a class="btn-default" type="button" title="{% trans 'Editatu ibilbidea' %}" href="{{BASE_URL}}/editatu_ibilbidea?id={{momentukoPatha.id}}" >
              	<i class="fa fa-edit square-back kolore-{{itype|lower}}" aria-hidden="true"></i>
			</a>
		</li>
		<!-- ezabatu -->
		<li class="backgrnd-gris-lau center">
			<a class="btn-danger ob-botoia" type="button" title="{% trans 'itema ezabatu' %}" onClick="deletePath({{momentukoPatha.id}})" >
				<i class="fa fa-times square-back kolore-{{itype}}" aria-hidden="true"></i>
			</a>
		</li>
		{%endif%}
	{%endif%}
				<!--
			</br>
			<li class="backgrnd-gris-lau center">
			<a class="btn btn-common" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			AUTOPLAY
			</a>
			</li>
			-->
	
	</ul>	
</div>
<!-- END left site management button menu -->

<div class="container fitxa backgrnd-gris-hiru">
	<div class="item-fitxa-line1">
	<!-- ezkerreko zutabea, mota eta gurutzatzen diren ibilbideak -->
	<div class="left col-md-2">
		<ul class="mota-crossing" >
			<li class="li-mota-path">
				<span class="kolore-txuria">
					<i class="icon-ob-logo"></i> {% trans "ibilbidea" %}
				</span>
			</li>
		</ul>
	</div>
	<!-- erdiko zutabea, zabalena, titulua eta informazio nagusia -->
	<div class="center col-md-8">
		<div class="item-fitxa-line1">
			<p class="ezkerra item-data kolore-gris-bi">
				<span class="">
				 {% if momentukoPatha.creation_date %}
					{{momentukoPatha.creation_date|date:"Y . m . d"}}
					{%else%}
					-
					{% endif %}
				</span>
			</p>
			<h2 class="bold ezkerra kolore-txuria"> {{ momentukoPatha.dc_title}} </h2>
		</div>
	</div>
	<!-- eskuineko zutabea sare sozialak -->
	<div class="right col-md-2">
		<!-- BOTAZIO SISTEMA-->
		{% if user.is_authenticated %}

		<!-- <div class="eskuma">
			<a class="titulu-kolorea eskuma" type="button" href="#">{% trans "Kultur itema gustoko duzu?" %}</a>
		</div>		 
		<br />-->
		
		<ul class="button-row-horizontal eskuma">
			{% if botatuDu == 1 %}
           	<li><a class="kolore-txuria" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" disabled> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a></li>
			<li><a class="kolore-txuria" type="button" href="#" > <b class="eskuma titulu-kolorea">{{botoKopuruaPath}}</b> </a></li>
			<li><a class="kolore-txuria" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" > <i class="fa fa-thumbs-down" aria-hidden="true"></i> </a></li>
			{%else%}
			<li><a class="kolore-txuria" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" > <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a></li>
			<li><a class="kolore-txuria" type="button" href="#"> <b>{{botoKopuruaPath}}</b> </a></li>
			<li><a class="kolore-txuria" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" disabled > <i class="fa fa-thumbs-down" aria-hidden="true"></i> </a></li>
			{%endif%}
        </ul>    
		
		{%endif%}
		<!-- social network sharing buttons -->
		{% include "_sharing.html" with buttonColor="txuria" %}
			
	</div> 
	</div>
	<div class="item-fitxa-line2">
		<!-- ezkerreko zutabea, mota eta gurutzatzen diren ibilbideak -->
		<div class="left col-md-2">
			<ul class="mota-crossing" >
				<li class="li-mota-path">
					<span>
						 <a class="kolore-gris-bat" type="button" title="ibilbidea ikusi" href="{{BASE_URL}}/nabigazio_item?path_id={{momentukoPatha.id}}&item_id={{node_id}}"> <i class="icon-ob-eye" aria-hidden="true"></i> IKUSI </a>
					</span>
				</li>
			</ul>
		</div>
		<!-- erdiko zutabea, zabalena, titulua eta informazio nagusia -->
		<div class="center col-md-8">
			<ul class="item-fitxa-info-ul">
				<!-- creator -->
				<li>
					<p class="item-field-title kolore-gris-bi">{% trans "Sortzailea" %}</p>						
					<p class="kolore-txuria">
					{% if momentukoPatha.fk_user_id.username%}
					{{momentukoPatha.fk_user_id.username}}
					{%else%}
					-
					{% endif %}
					</p>
				</li>				
				<!-- subject -->
				<li>
					<p class="item-field-title kolore-gris-bi">{% trans "Gaia" %}</p>
					<p class="kolore-txuria"> {% if momentukoPatha.dc_subject%}
						{{momentukoPatha.dc_subject}}
						{%else%}
						-
						{% endif %} 
					</p>
				</li>
				<!-- language /country -->
				<li>
					<p class="item-field-title kolore-gris-bi">{% trans "Hizkuntza eta jatorria" %}</p>
					<p class="kolore-txuria">
					{% if momentukoPatha.language %}
						{{momentukoPatha.language | ob_language_errep_kendu}}
					{%else%}
						-
					{% endif %}						
					{% if item.edm_country %}
						&nbsp;-&nbsp;{{item.edm_country }}					
					{% endif %} 
					 </p>
				</li>
			</ul>
	 	</div>
	 	<!-- eskuineko zutabea sare sozialak -->
		<div class="right col-md-2">
			<div id="item_infobox" class="path-info overflow">				
				<a class="aRight kolore-gris-bat" href="" data-toggle="modal" data-target="#modal-metadata">
					<i class="fa fa-address-card-o">&nbsp;&nbsp;</i>{% trans "Fitxa osoa ikusi" %}
				</a>
			</div>
		</div>
	</div>			
</div><!-- container fitxa: end of colored bacground -->
	
<div class="item_preview col-xs-12 col-sm-12 col-md-10 center">
	
	<!-- item preview-->
	<div id="item_preview-element">		
		<div id="chosen-item-mark" class="chosen-item-mark" {% if momentukoPatha.egunekoa == 0 %} style="display:none;" {%endif%}>
			<i class="icon-ob-fire circle-back kolore-gris-lau backgrnd-gris-bat" aria-hidden="true"></i>
   			<span class="backgrnd-gris-lau kolore-gris-0 bold">{% trans "Eguneko ibilbidea" %}</span>
		</div>			
		
		 
		<a id="autoplay-button" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">			
			{% if momentukoPatha.paths_thumbnail %}
				<img class="img-responsive ibilbide-irudia" alt="" src="{{momentukoPatha.paths_thumbnail}}"  onError="this.onerror=null;this.src='/uploads/NoIrudiItem.png';">
			{% else %}
				<img class="img-responsive" src="{{ STATIC_URL }}uploads//uploads/NoIrudiItem.png">
			{% endif %}
			<div class="overlay-path">
				<p class="title-overlay">
					<i class="fa fa-play kolore-gris-bat"></i>
				</p>
			</div>
		</a>
	</div>	
		
	<div id="item_preview-description" class="backgrnd-txuria">
			{% comment %}
			<!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
			<!--{{ LANGUAGE_CODE|choose_description_language:item |striptags |safe }}-->
			{% endcomment %}
			
		<div class="path-info overflow ">
			<div class="comment more path-info-description">
				{{momentukoPatha.dc_description}}
			</div>
		</div>
				
		<div id="item_moreInfo" class="path-info overflow">
			<h3 class="kolore-gris-hiru">{% trans "Bestelako informazioa" %}</h3>
			<ul class="">
				{% if momentukoPatha.proposatutakoa %}
				<li>
					<span class="fa fa-heart-empty" aria-hidden="true"></span>
					{% trans "Adituek Proposatutakoa" %}
				</li>
				{%endif%}
				{% if momentukoPatha.egunekoa %}
				<li>
					<span class="fa fa-bullhorn" aria-hidden="true"></span>
					{% trans "Egunekoa" %}
				</li>
				{%endif%}
				{% if not momentukoPatha.egunekoa and not momentukoPatha.proposatutakoa%}
				- - -
				{%endif%}
			</ul>						
		</div>
	</div>
</div><!-- END item-preview -->
	

<!-- ibilbide panela d3 svg -->
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<!--<div class="panel panel-default ibilbide-panela">-->

				<!--<div class="panel-heading"><b class="titulu-kolorea">HEMEN ZAUDE </b></div>-->
				<!--<div class="panel-body">-->
					<div id="path_boxes_overview" class="clearfix"></div>
					<script>
						var ibilbide_data = [];
						var path_id = {{path_id}};
						var root = {
							"id" : 0,
							"name" : "ROOT",
							"irudia" : "http://obprototipoa.elhuyar.eus/uploads/festivalCineDonostia.jpeg",
							"parent" : ''
						}
						ibilbide_data.push(root);
					</script>
					{% for node in path_nodeak%}
					<script type="text/javascript">
						var id = "{{node.fk_item_id.id}}"; //??node.fk_item_id_id
						//path_node[0];
						var titulua = "{{node.dc_title}}";
						//path_node[1];
						var irudia = htmlDecode("{{node.fk_item_id.ob_thumbnail}}");												
						if (!irudia || irudia === "") {
							irudia = htmlDecode("{{node.fk_item_id.edm_object}}");
						}
						//path_node[2];
						if (!irudia || irudia === "") {
							irudia = "/uploads/NoIrudiItem.png";
						}

						var aita_id = "{{node.paths_prev}}";
						//aita hutsa bada , root izango da bere aita
						if (aita_id == "") {
							aita_id = 0;
						}
						var mota = "{{node.fk_item_id.edm_type}}";
						var obj = {
							id : id,
							name : titulua,
							irudia : irudia,
							parent : aita_id,
							mota : mota
						};
						ibilbide_data.push(obj);

					</script>
					{% endfor%}
					<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakoverview.js"></script>
				<!--</div>-->
			</div>

			<div class="col-md-1"></div>

		</div>
	</div>

{% endblock content %}

{% block after_orria %}

{% comment %}
<!-- MLT -->
{% include "_similar_items.html" %}
<!-- END MLT-->
{% endcomment %}


<!-- COMMENTS-->
{% include "_comments.html" %}
<!-- END COMMENTS-->
{% endblock after_orria %}



{% block custom_modals %}
{{ block.super }}

<!-- QR code modal --> 
{% include "_QR_modal.html" %}
<!-- END QR code modal -->

<!-- modal item fitxa osoa-->

<div class="modal fade" id="modal-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Bozkatuenak" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                   		<div id="messages"></div>
                   		<h4 class="modal-inner-title">{% trans "Ezaugarriak" %}</h4>                                                     
                        <div id="item_infobox" class="path-info overflow">
							<ul class="nav  navbar-default">
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Sortzailea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoPatha.dc_creator%}
							{{momentukoPatha.dc_creator}}
							{%else%}
							-
							{% endif %} </span>

					</li>

					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Hornitzailea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoPatha.edm_dataprovider%}
							{{momentukoPatha.edm_dataprovider}} ({{momentukoPatha.edm_provider}})
							{%else%}
							{{momentukoPatha.edm_provider}}
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Gaia" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoPatha.dc_subject%}
							{{momentukoPatha.dc_subject}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Hizkuntza" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoPatha.ob_language %}
							{{momentukoPatha.ob_language | ob_language_errep_kendu}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Herrialdea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if item.edm_country %}
							{{item.edm_country }}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Data" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoPatha.creation_date %}
							{{momentukoPatha.creation_date }}
							{%else%}
							-
							{% endif %} </span>

					</li>					
				</ul>
			</div>		
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Atera" %}</button>                                
                            </div>                            
                            <p><br/></p>                    
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- END modal path fitxa osoa-->

{% endblock custom_modals %}
