{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}
{% block content %}

<div class="container">
	<div class="row">
	
		<div class="col-md-1"></div>
		<div class="col-md-3">
			{% if momentukoPatha.paths_thumbnail %}
			<img class="img-responsive ibilbide-irudia" alt="" src="{{momentukoPatha.paths_thumbnail}}">
			{% else %}
			<img class="img-responsive" src="/uploads/NoIrudiBide.png">
			{% endif %}
			<div class="path-info overflow">
				<ul class="nav navbar-nav navbar-default">
					{% if momentukoPatha.proposatutakoa %}
					<li>
						<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						Proposatutakoa

					</li>
					{%endif%}
					{% if momentukoPatha.egunekoa %}
					<li>
						<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
						Egunekoa

					</li>
					{%endif%}
				</ul>
			</div>
			<br />
			<div>
				<a class="btn btn-common" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> AUTOPLAY </a>
				<a class="btn btn-common" type="button" title="ibilbidea ikusi" href="{{BASE_URL}}/nabigazio_item?path_id={{momentukoPatha.id}}&item_id={{node_id}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> IKUSI </a>
			</div>

		</div>
		<div class="col-md-6">
			<div class="path-name overflow titulu-kolorea">
				<h2 class="bold">{{momentukoPatha.dc_title}}</h2>
				<ul class="nav navbar-nav navbar-default">
					<li>
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>

						{{momentukoPatha.creation_date}}
					</li>
					<li>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>

						{{momentukoPatha.fk_user_id.username}}
					</li>
					<li>
						<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
						{{momentukoPatha.language}}
					</li>
					{% if momentukoPatha.dc_subject %}
					<li>
						<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
						{{momentukoPatha.dc_subject}}
					</li>
					{%endif%}
				</ul>
			</div>
			<div class="path-info overflow ">
				<!--<h3 class="titulu-kolorea">Ibilbidearen deskribapena</h3>-->

				<p class="path-info-description">
					{{momentukoPatha.dc_description}}
				</p>
			</div>
			<!--
			<div class="path-info overflow">
			<h3 class="titulu-kolorea">Bestelako informazioa</h3>
			<ul class="nav navbar-nav navbar-default">
			{% if momentukoPatha.proposatutakoa %}
			<li>
			<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
			Proposatutakoa

			</li>
			{%endif%}
			{% if momentukoPatha.egunekoa %}
			<li>
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
			Egunekoa

			</li>
			{%endif%}
			<li>
			<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
			{{momentukoPatha.language}}
			</li>
			{% if momentukoPatha.dc_subject %}
			<li>
			<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
			{{momentukoPatha.dc_subject}}
			</li>
			{%endif%}
			</ul>
			</div>
			-->
			{% if user.is_authenticated %}
			<div class="path-info overflow">
				<h3 class="titulu-kolorea">Kudeaketa Aukerak</h3>
				<!--ikusi -->
				<a class="btn btn-primary" type="button" title="ibilbidea ikusi" href="{{BASE_URL}}/nabigazio_item?path_id={{momentukoPatha.id}}&item_id={{node_id}}">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				</a>
				
				{% if request.user|has_group:'hornitzailea' or user.is_superuser%}
					<!--egunekoa bihurtu-->
					{% if momentukoPatha.egunekoa == 0 %}
						<a class="btn btn-warning egunekoa-botoia" title="Eguneko ibilbide bihurtu"  type="button" href="{{BASE_URL}}/eguneko_ibilbidea_gehitu?id={{momentukoPatha.id}}&nondik=ikusi" > <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </a>
					{%endif%}
					{% if momentukoPatha.egunekoa == 1 %}
						<a class="btn btn-warning egunekoa-botoia" title="Eguneko ibilbidea ezabatu"  type="button" href="{{BASE_URL}}/eguneko_ibilbidea_kendu?id={{momentukoPatha.id}}&nondik=ikusi" > <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> </a>

					{%endif%}

				{%endif%}
				
				<!--editatu-->
				{% if user.is_authenticated %}
				<!-- editatzeko aukera: ibilbidearen autorea da, supererabiltzailea da ala acces= 4 du-->
    	        {% if user.id == momentukoPatha.fk_user_id.id  or user.is_superuser or momentukoPatha.acces == '4' %}
     		       <a class="btn btn-default" type="button" title="Editatu ibilbidea" href="{{BASE_URL}}/editatu_ibilbidea?id={{momentukoPatha.id}}" >
      			        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      			   </a>
      			{%endif%}
      			<!-- editatzeko aukera: acces==3 du eta hornitzailea da -->
      			{%if momentukoPatha.acces == '3' and request.user|has_group:'hornitzailea'%}
      				<a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_ibilbidea?id={{momentukoPatha.path_id}}" >
      			        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      			   </a>			
      			{%endif%}
            {%endif%}
				
				{% if user.id == momentukoPatha.fk_user_id.id or user.is_superuser%}
				<!-- ezabatu"-->
				<a class="btn btn-danger" type="button" title="Ezabatu ibilbidea" onClick="deletePath({{momentukoPatha.id}})"  > <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> </a>
				{%endif%}

			</div>
			{%endif%}
			<!--
			</br>
			<div>
			<a class="btn btn-common" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			AUTOPLAY
			</a>
			</div>
			-->
		</div>
		<div class="col-md-2">
			<!-- BOTAZIO SISTEMA IBILBIDEA-->

			{% if user.is_authenticated %}

			<div class="eskuma">
				<a class="titulu-kolorea eskuma" href="#" type="button">Ibilbidea gustoko duzu?</a>
			</div>
			<br />
			<div class="btn-group eskuma" role="group" aria-label="...">

				{% if botatuDuPath == 1 %}
				<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" disabled> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> </a>
				<a class="btn btn-default eskuma" type="button" href="#" > <b class="eskuma titulu-kolorea">{{botoKopuruaPath}}</b> </a>
				<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" > <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> </a>

				{%else%}
				<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" > <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> </a>
				<a class="btn btn-default eskuma" type="button" href="#"> <b class="eskuma titulu-kolorea">{{botoKopuruaPath}}</b> </a>
				<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" disabled > <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> </a>
				{%endif%}
			</div>

			{%endif%}

			<!-- social network sharing buttons -->
			{% include "_sharing.html"%}

		</div>
	</div>
</div>

<br />

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<!--<div class="panel panel-default ibilbide-panela">-->

				<!--<div class="panel-heading"><b class="titulu-kolorea">HEMEN ZAUDE </b></div>-->
				<!--<div class="panel-body">-->
					<div id="path_boxes_overview" class="clearfix"></div>
					<script>
						var ibilbide_data = [];
						var path_id = {{path_id}};
						var root = {
							"id" : 0,
							"name" : "ROOT",
							"irudia" : "http://obprototipoa.elhuyar.eus/uploads/festivalCineDonostia.jpeg",
							"parent" : ''
						}
						ibilbide_data.push(root);
					</script>
					{% for node in path_nodeak%}
					<script type="text/javascript">
						var id = "{{node.fk_item_id.id}}"; //??node.fk_item_id_id
						//path_node[0];
						var titulua = "{{node.dc_title}}";
						//path_node[1];
						var irudia = htmlDecode("{{node.fk_item_id.ob_thumbnail}}");												
						if (!irudia || irudia === "") {
							irudia = htmlDecode("{{node.fk_item_id.edm_object}}");
						}
						//path_node[2];
						if (!irudia || irudia === "") {
							irudia = "/uploads/NoIrudiItem.png";
						}

						var aita_id = "{{node.paths_prev}}";
						//aita hutsa bada , root izango da bere aita
						if (aita_id == "") {
							aita_id = 0;
						}
						var mota = "{{node.fk_item_id.edm_type}}";
						var obj = {
							id : id,
							name : titulua,
							irudia : irudia,
							parent : aita_id,
							mota : mota
						};
						ibilbide_data.push(obj);

					</script>
					{% endfor%}
					<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakoverview.js"></script>
				<!--</div>-->
			</div>

			<div class="col-md-1"></div>

		</div>
	</div>

	<!-- COMMENTS-->
{% include "_comments.html" %}
	<!-- END COMMENTS-->

	{% endblock %}

