{% extends "base.html" %}
{% load i18n %}
{% load tags%}

{% block content %}


<div class="pagination">
    <span class="step-links">
        {% if paths.has_previous %}
            <a href="?page={{ paths.previous_page_number }}">aurrekoak</a>
        {% endif %}

        <span class="current">
            {{ paths.number }}.orrialdea {{ paths.paginator.num_pages }}tik.
        </span>

        {% if paths.has_next %}
            <a href="?page={{ paths.next_page_number }}">hurrengoak</a>
        {% endif %}
    </span>
</div>

<p class="emaitzaInfo"> {{paths.paginator.count }} Ibilbide dataren arabera ordenatuta</p>



<div class="panel panel-default">
  <div class="panel-body">
  
   {% for path in paths %}
	<div class="column">	
		<div class="col-xs-6 col-md-3">
    
    <div class="thumbnail">
    	 {% if user.is_authenticated %}
    		{% if request.user|has_group:'hornitzailea' %}
    			{% if path.egunekoa == 0 %}
					<a class="btn btn-warning" type="button" href="{{BASE_URL}}/eguneko_ibilbidea_gehitu?id={{path.id}}&nondik=hasiera" >				
 						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</a>
				{% else %}
					<a class="btn btn-warning" type="button" href="{{BASE_URL}}/eguneko_ibilbidea_kendu?id={{path.id}}&nondik=hasiera" >				
 						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					</a>
				
				{%endif%}
			{%endif%}
		  {%endif%}

			<a class="bilaketaEmaitzaPath thumbnail"  href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" >
				{% if path.paths_thumbnail %}<img src="{{path.paths_thumbnail}}">{% else %} <img src="/uploads/NoIrudiBide.png">{% endif %}
			</a>
			
			
			<div class="caption">
				<input type="hidden" id="path_id_{{ forloop.counter }}" value="{{path.id}}"/>
				 <input type="hidden" id="path_titulua_{{ forloop.counter }}" value="{{path.dc_title}}"/>
				 <input type="hidden" id="path_irudia_{{ forloop.counter }}" value="{{path.paths_thumbnail}}"/>
				 
				<h5><a class="" title="{{path.dc_title}}" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}" id="path.dc_title">{{path.dc_title|correct_language_tags }}</a></h5>    		
    		<div class="btn-group" role="group" aria-label="...">
       			<a class="btn btn-primary" type="button" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path.id}}">
       				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
       			</a>
       		
       			{% if user.username == path.fk_user_id.username %}

					<a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_ibilbidea?id={{path.id}}" >				
 					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
  				{%else%}
					<button class="btn btn-default" type="button" action="editatu_ibilbidea?id={{path.id}}" disabled>
 					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>
				{%endif%}
				
				</div>
    		</div>
		</div><!-- thumbnail -->

		</div>
  </div>
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
{% endfor %}

</div>
</div>
	


<!--EGUNEKO IBILBIDEA ERAKUTSI -->
<!--
<button  type="button" class="btn btn-info">
	<span  aria-hidden="true"> 
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 
       	</span> 
    	Eguneko Ibilbidea Burutu
    </span> 	
</button> 
  
<div id="path_boxes_egunekoa"  ondrop="pb_drop_egunekoa(event);" ondragover="allowDrop(event)"></div>
<script>set_pb_egunekoa();</script>


{% for node in path_nodeak%}

<script type="text/javascript">
	
	//var path_node = "{{node}}".split(";"); 
	
	var id="{{node.fk_item_id_id}}";//path_node[0];
	var titulua="{{node.dc_title}}";//path_node[1];
	var irudia="{{node.paths_thumbnail}}";//path_node[2];
	var aita_id="{{node.paths_prev}}";//path_node[3];
	/*console.log("id:"+id);
	console.log("titulua:"+titulua);
	console.log("irudia:"+irudia);*/
	if(aita_id=="")
	{
		//if (id==15){
		//console.log("pb_new_element(" + id + "," + titulua + "," + irudia + ")");
		pb_new_element_egunekoa("pb_"+id,titulua,irudia);
		//}
	}
	else
	{
		//if(id==26 || id==69){
		//console.log("pb_add_new_son(" + aita_id + "," + id + "," + titulua + "," + irudia + ")");
		pb_add_new_son_egunekoa("pb_"+aita_id,"pb_"+id,titulua,irudia);
		//}
		
	}
 	
	
</script>


{% endfor%}

-->

{% endblock %} 
