{% extends "__base.html" %}
{% load leaflet_tags %}


{% block content %}

<div class="itema_gehitu">
	
	<form action="{{BASE_URL}}/itema_gehitu" method="post" class="form"  enctype="multipart/form-data">
		{% csrf_token %}
		{{ itema.titulua.errors}}
		{{ itema.deskribapena.errors}}
		<!--{{itema}}-->
		<label for="id_titulua">Titulua:</label>
		{{itema.titulua}}
		
		<label for="id_deskribapena">Deskribapena:</label>
		{{itema.deskribapena}}
		
		<label for="id_sortzailea">Sortzailea:</label>
		{{itema.sortzailea}}
		
		<label for="id_gaia">Gaia:</label>
		{{itema.gaia}}
		
		<label for="id_herrialdea">Herrialdea:</label>
		{{itema.herrialdea}}
		
		<label for="id_data">Data:</label>
		<br />
		{{itema.data}}
		<br />

		<label for="id_jatorrizkoa">Jatorrizkoa:</label>
		{{itema.jatorrizkoa}}
		
		<label for="id_eskubideak">Eskubideak:</label>
		{{itema.eskubideak}}
		
		<label for="id_lizentzia">Lizentzia:</label>
		{{itema.lizentzia}}
		<br />
		
		<label for="id_mota">Mota:</label>
		{{itema.mota}}
		<br />
		<label for="id_mota"> Ondare-objektua:</label>
		{{itema.objektua}}
		<br />
		
		
		<label for="id_irudia">Irudia:</label>
		{{itema.irudia}}
		<br />
		
		<label for="id_hizkuntzak">Hizkuntzak:</label>
		<br />
		eu{{itema.eu}}
		es{{itema.es}}
		en{{itema.en}}
		
		<br/>
		<br/>
		<label for="id_geolokalizazioa">Geolokalizazioa:</label>
		<input  id="latitude" name="latitude" placeholder="Koordenadak" type="hidden" />
		<input  id="longitude" name="longitude" placeholder="Koordenadak" type="hidden" />
            
            
		{% leaflet_map "yourmap" callback="load_map" %}
     		
   		 <button class="btn btn-default" type="submit">
   		 Gehitu
  		  </button>
       			
       			
      		
      	
      	</form>

</div>
{% endblock %} 
