{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}

{% load tags%}
{% block content %}


<input type="hidden" id="item_id_{{id}}" value="{{id}}"/>
<input type="hidden" id="titulua_{{id}}" value="{{titulua}}"/>
<input type="hidden" id="irudia_{{id}}" value="{{irudia}}"/>


 {% if user.is_authenticated %}
<div class="btn-group" role="group" aria-label="...">
  <button class="btn btn-default" type="button" onclick="create_workspace_box({{id}}, {{ request.user.id }});">
 	{% trans "Gehitu" %}
	</button>
	
	
  {% if user.username == hornitzailea %}

	<a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_itema?id={{id}}" >
 	{% trans "Editatu" %} 
	</a>
  {%else%}
	<button class="btn btn-default" type="button" action="editatu_itema" disabled>
 	{% trans "Editatu" %} 
	</button>
	{%endif%}
</div>

  {%endif%}
  
  
  <!--{% qr_from_object item "s" %}-->
  
 <!-- BOTAZIO SISTEMA--> 
  
  {% if user.is_authenticated %}
  
  	<div class="eskuma"><a class="titulu-kolorea eskuma" type="button" href="#">Kultur itema gustoko duzu?</a></div>
	<br />
	<div class="btn-group eskuma" role="group" aria-label="...">
	
  	{% if botatuDu == 1 %}
		<a class="btn btn-default " type="button" href="{{BASE_URL}}/botoa_eman_item?id={{id}}" disabled>
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default " type="button" href="#" >
			<b class="eskuma titulu-kolorea">{{botoKopurua}}</b>
		</a>
		<a class="btn btn-default " type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{id}}" >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	
  	{%else%}
 		 <a class="btn btn-default " type="button" href="{{BASE_URL}}/botoa_eman_item?id={{id}}" >
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default " type="button" href="#">
			<b class="eskuma titulu-kolorea">{{botoKopurua}}</b>
		</a>
		<a class="btn btn-default " type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{id}}" disabled >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	{%endif%}
</div>

  {%endif%}
  
 

<br><br>
<div class="panel panel-info">
	<div class="panel-heading">
		
		{% get_current_language as LANGUAGE_CODE %}
		<h1 class="panel-title">  {{ LANGUAGE_CODE|choose_title_language:item}}</h1>
		
	</div>
	
	<div class="panel-body">
    
   	 	<div class="col-xs-6 col-md-3" align="center">  			 
   			
			<a class="bilaketaEmaitza  thumbnail" href="{% if item.edm_isshownby %}{{item.edm_isshownby}}{%else%} # {%endif%}" target="{% if item.edm_isshownby %}_blank{%endif%}" >
				<img  alt="{{item.dc_title}}" src="{% if item.edm_object %} {{item.edm_object}} {%else%} /uploads/NoIrudiItem.png {% endif %}">
			</a>
 		</div>
 		<div class="item_edukia">
 			{% if item.edm_country%}
 				<p><b>{% trans "Herrialdea:" %} </b><a href="">{{herrialdea}} </a></p>
 			{%endif%}
 			{% if item.dc_language%}
 				<p><b>{% trans "Hizkuntza:" %}</b><a href="">{{hizkuntza}} </a></p>
 			{%endif%}
 			{% if item.edm_provider%}
 				<p><b>{% trans "Hornitzailea:" %}</b><a href="">{{hornitzailea}} </a></p>
 			{%endif%}
 			{% if item.dc_creator%}
 				<p><b>{% trans "Sortzailea:" %}</b><a href="">{{item.dc_creator}} </a></p>
 			{%endif%}
 			{% if item.edm_rights%}
 				<p><b>{% trans "Eskubideak:" %}</b><a href="">{{eskubideak}} </a></p>
 			{%endif%}
 			{% if item.edm_year %}
 				<p><b>{% trans "Urtea:" %}</b><a href="">{{urtea}} </a></p>
 			{%endif%}
 			{% if item.edm_isshownat%}
 				<p><a title="{{viewAtSource}}" href="{{viewAtSource}}"><b>{% trans "Ikusi jatorrizkoa" %}</b></a></p>
 			{%endif%}
 			<br />
 			
 			<!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
 			<!--{{ LANGUAGE_CODE|choose_description_language:item |striptags |safe }}-->
 			<div class="comment more">{{ LANGUAGE_CODE|choose_description_language:item |safe}}</div>
 			
 		</div>
 		
 		
 	 </div>
	{# qr_from_text  qrUrl "s" #}
</div>

<!-- GEOLOKALIZAZIOA -->
 {% if geoloc_longitude %}
	{% leaflet_map "yourmap" callback="load_map" %}
{%endif%}

<!-- END GEOLOKALIZAZIOA -->

<!-- MLT -->	

<div class="container">	 
	<div class="row">
    <div class="col-md-8">	
		<h3 class="titulu-kolorea">Antzeko Itemak</h3>	
	</div>
	</div>
	<div class="row">	
	
			
    	    {% for antzekoa in mlt %}
    	    	{% if forloop.counter < 5 %}    	
        		<div class="col-xs-6 col-md-2">
    		 	   
					<div class="thumbnail">
					<a class=" thumbnail {% if not antzekoa.edm_object %} bilaketaEmaitza {% endif %} thumbnail"  href="{{BASE_URL}}/erakutsi_item?id={{antzekoa.item_id}}" >
						{% if antzekoa.edm_object %}<img  alt="{{antzekoa.dc_title}}" src="{{antzekoa.edm_object}}">{% endif %}
					</a>
					<div class="caption">
					<p>{{ antzekoa.dc_title|correct_language_tags }}</p>
					</div>
					</div>
				</div>
				{%endif%}
			{%endfor%}
		
	</div>
	
	
</div>

<!-- END MLT-->


<!-- COMMENTS-->
{% if user.is_authenticated %}
 <!-- Comments Form -->
 <div class="well info_box">
 	<h4>Leave a Comment:</h4>
    <form class="form-horizontal" role="form" method="POST" action="#">{% csrf_token %}
    	<input type="hidden" name="id" value="{{id}}">
    	<fieldset>
        <div class="form-group">
        <!--<textarea class="form-control" rows="3"></textarea>-->
        	{{ comment_form.comment }}
            {{ comment_form.comment.errors }}
         </div>
         {% if user.is_authenticated %}
         	<button name="submit_comment" type="submit" class="btn btn-primary">{% trans "Send comment" %}</button>
         {% else %}
         <button name="submit_comment" class="btn btn-primary" onclick='window.location.href="/?next="; return fal
se'>{% trans "Send comment" %}</button>
         {% endif %}
         </fieldset>
     </form>
</div>
{%endif%}
<hr>

 <!-- Posted Comments -->
 	<!-- Comment -->
{% for comment in comments %}
	<div class="media">
    	<form class="form-horizontal" role="form" method="POST" action="#">{% csrf_token %}
    		<input type="hidden" name="id" value="{{id}}">
        	<fieldset>
            	<a class="pull-left" href="#" >
                	<!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ comment.author.genre.genre }}.png" alt="">-->
                	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <div class="media-body">                        
                	<h4 class="media-heading">
                    	<small>{{ comment.author.first_name }} {{ comment.author.last_name }}</small> - <small>{{ comment.date|date:"SHORT_DATE_FORMAT" }}</small>
                    </h4>
					{{ comment.comment|safe }}
					{% if user.is_authenticated %} <!--Maddalen-->
                    	<p><a href="#" onclick="$('#comment_response_div_{{ comment.id }}').show(1000);return false;">{% trans "Respond" %}</a></p>
                    {%endif%}
                    <div id="comment_response_div_{{ comment.id }}" style="display:none">
	                	<div class="form-group">
                        	<!--<textarea class="form-control" rows="3"></textarea>-->
                            {{ comment_parent_form.parent_id }}
                            {{ comment_parent_form.comment }}
                            {{ comment_parent_form.comment.errors }}
                         </div>
                         {% if user.is_authenticated %}
                         	<button onclick="$('#comment_response_div_{{ comment.id }} input').val({{ comment.id }})" name="submit_comment_parent" type="submit" class="btn btn-primary">Submit</button>
                            <button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">Close</button>
                         {% else %}
                         	<button name="submit_comment_parent" class="btn btn-primary" onclick='window.location.href="/?next="; return false'>Submit</button>
                            <button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">Close</button>
                         {% endif %}
                                    
                     </div>
                     {% for subcomment in comment.get_subcomments %}
                     	<div class="media">
                        	<a class="pull-left" href="#">
                            	<!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ subcomment.author.genre.genre }}.png" alt="">-->
                           		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
                            <div class="media-body">
								<h4 class="media-heading">
                                	<small>{{ subcomment.author.first_name }} {{ subcomment.author.last_name }}</small> - <small>{{ subcomment.date|date:"SHORT_DATE_FORMAT" }}</small>
                                
                                </h4>
                                {{ subcomment.comment|safe }}
                            </div>
                         </div>
                     {% endfor %}
                </div> <!-- ni -->
              </fieldset>
          </form>
      </div>                                           
{% endfor %}


<!-- END COMMENTS-->




{% endblock %} 
