{% extends "__base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}

{% load tags%}

{% block extra_markup %}
<div class="item-extra-background"></div>
{% endblock extra_markup %}

{% block page_div_def %}			
<div id="main_page">
{% endblock page_div_def %}		

{% block orria_div_def %}			
	<div class="">
{% endblock orria_div_def %}
	

{% block sidebar %}
{% endblock sidebar %}

{% block content_div_def %}		
<div id="content_div">
{% endblock content_div_def %}


				
{% block content %}

{% get_current_language as LANGUAGE_CODE %}

{% with itype=momentukoItema.edm_type|lower %}

<input type="hidden" id="item_id_{{id}}" value="{{id}}"/>
<input type="hidden" id="titulua_{{id}}" value="{{momentukoItema.dc_title}}"/>
<input type="hidden" id="irudia_{{id}}" value="{{irudia}}"/>
<input type="hidden" id="mota_{{id}}" value="{{momentukoItema.edm_type}}"/>

<div id="kudeaketa-bar" class="path-info overflow">
	<ul class="button-row-vert">              
    {% if user.is_authenticated %}
		<li class="backgrnd-gris-lau">
			<button class="btn-default gehitu-botoia" type="button" title="{% trans 'Lan eremura gehitu' %}" onclick="create_workspace_box({{id}}, {{ request.user.id }});" style="line-height:0.8;">
				<i class="icon-ob-plus square-back-lg kolore-{{itype}}" aria-hidden="true"></i>
			</button>
		</li>
		{% if request.user|has_group:'hornitzailea' or user.is_superuser%}
		<!--egunekoa bihurtu-->
			{% if item.egunekoa == 0 %}
		<li class="backgrnd-gris-lau center">
			<a class="btn-warning " title="Gehitu eguneko itema"  type="button" href="javascript:egunekoaGehituEtabilaketaFiltratu({{item.id}})" >
           		<i class="icon-ob-fire square-back-lg kolore-{{item.edm_type|lower}}" aria-hidden="true"></i>
           	</a>
        </li>
			{%endif%}
			{% if item.egunekoa == 1 %}
		<li class="backgrnd-gris-lau center">
			<a class="btn-warning" title="{% trans 'Kendu eguneko itema' %}" type="button" href="{{BASE_URL}}/eguneko_itema_kendu?id={{item.id}}&nondik=ikusi" >
				<i class="fa fa-star-o square-back-lg kolore-{{itype}}" aria-hidden="true"></i>
			</a>
		</li>
			{%endif%}
		{%endif%}
		
		{% if user.id == item.fk_ob_user.id or user.is_superuser%}

		<!--editatu-->
		<li class="backgrnd-gris-lau center">
			<a class="btn-default" type="button" title="{% trans 'itema editatu' %}" href="{{BASE_URL}}/editatu_itema?id={{item.id}}" >
              	<i class="icon-ob-edit square-back kolore-{{itype|lower}}" aria-hidden="true"></i>
			</a>
		</li>
		<!-- ezabatu -->
		<li class="backgrnd-gris-lau center">
			<a class="btn-danger ob-botoia" type="button" title="{% trans 'itema ezabatu' %}" onClick="deleteItem({{item.id}})" >
				<i class="icon-ob-times square-back kolore-{{itype}}" aria-hidden="true"></i>
			</a>
		</li>
		{%endif%}
	{%endif%}
	</ul>	
</div>


<div class="container fitxa backgrnd-{{momentukoItema.edm_type|lower}}">
	<div class="item-fitxa-line1">
	<!-- ezkerreko zutabea, mota eta gurutzatzen diren ibilbideak -->
	<div class="left col-md-2">
		<ul class="mota-crossing" >
			<li class="li-mota">
				<span class="kolore-beltza"><i class="icon-ob-{{itype}}"></i> {% trans itype %}</span>
			</li>
		</ul>
	</div>
	<!-- erdiko zutabea, zabalena, titulua eta informazio nagusia -->
	<div class="center col-md-8">
		<div class="item-fitxa-line1">
			<p class="ezkerra item-data kolore-txuria">
				<span class="">
				 {% if momentukoItema.edm_year %}
					{% with momentukoItema.edm_year|date:"Y . m . d" as date %}
					{% if date and date.strip%}
						{{date}}
					{%else%}
						{{momentukoItema.edm_year|data_formatua}}
					{% endif %}	
					{% endwith %}		
				{%else%}
					-
				{% endif %}
				</span>
			</p>
			<h2 class="bold ezkerra"> {{ LANGUAGE_CODE|choose_title_language:item|format_html|safe}} </h2>
		</div>
	</div>
	<!-- eskuineko zutabea sare sozialak -->
	<div class="right col-md-2">
		<!-- BOTAZIO SISTEMA-->
		{% if user.is_authenticated %}

		<!-- <div class="eskuma">
			<a class="titulu-kolorea eskuma" type="button" href="#">{% trans "Kultur itema gustoko duzu?" %}</a>
		</div>		 
		<br />-->
		
		<ul class="button-row-horizontal eskuma">
			{% if botatuDu == 1 %}
           	<li><a class="" type="button" href="{{BASE_URL}}/botoa_eman_item?id={{id}}" disabled> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a></li>
			<li><a class="" type="button" href="#" > <b class="eskuma titulu-kolorea">{{botoKopurua}}</b> </a></li>
			<li><a class="" type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{id}}" > <i class="fa fa-thumbs-down" aria-hidden="true"></i> </a></li>
			{%else%}
			<li><a class="" type="button" href="{{BASE_URL}}/botoa_eman_item?id={{id}}" > <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a></li>
			<li><a class="" type="button" href="#"> <b>{{botoKopurua}}</b> </a></li>
			<li><a class="" type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{id}}" disabled > <i class="fa fa-thumbs-down" aria-hidden="true"></i> </a></li>
			{%endif%}
        </ul>    
		
		{%endif%}
		<!-- social network sharing buttons -->
		{% include "_sharing.html" with buttonColor="beltza" %}
			
	</div> 
	</div>
	<div class="item-fitxa-line2">
		<!-- ezkerreko zutabea, mota eta gurutzatzen diren ibilbideak -->
		<div class="left col-md-2">
			<ul class="mota-crossing" >
				<li class="center">
					<div id="crossingPaths" class="path-info overflow">

				<!-- ITEMA AZALTZEN DE LEHEN 5 IBILBIDEAK ERAKUTSI. GAINONTZEKOAK MODAL BATEAN-->
				{%if itemPaths %}
					<a class="crossingPathsTitle" href="" data-toggle="modal" data-target="#modalCrossing"><b>{{itemPaths.count}}</b> {% trans "Ibilbide" %}</a>
				
				{% else %}
					<a class="crossingPathsTitle" href="" data-toggle="modal" data-target="#modalCrossing"><b>0</b> {% trans "Ibilbide" %}</a>
					<div style="color: #666666;" id="div_you_want_to_blink"> <i class="fa fa-info-circle" aria-hidden="true"></i> {% trans "Izan lehena item honekin ibilbide bat sortzen!" %}</div>
											
				{%endif%}
					</div>
				</li>
			</ul>
		</div>
		<!-- erdiko zutabea, zabalena, titulua eta informazio nagusia -->
		<div class="center col-md-8">
			<ul class="item-fitxa-info-ul">
				<!-- creator -->
				<li>
					<p class="item-field-title kolore-gris-hiru">{% trans "Sortzailea" %}</p>						
					<p class="kolore-beltza">
					{% if momentukoItema.dc_creator%}
					{{momentukoItema.dc_creator|format_html|safe}}
					{%else%}
					-
					{% endif %}
					</p>
				</li>
				<!-- provider -->
				<li>
					<p class="item-field-title kolore-gris-hiru">{% trans "Hornitzailea" %}</p>
					<p class="kolore-beltza"> {% if momentukoItema.edm_dataprovider%}
						{{momentukoItema.edm_dataprovider}} ({{momentukoItema.edm_provider}})
						{%else%}
						{{momentukoItema.edm_provider}}
						{% endif %}
					</p>
				</li>
				<!-- subject -->
				<li>
					<p class="item-field-title kolore-gris-hiru">{% trans "Gaia" %}</p>
					<p class="kolore-beltza"> {% if momentukoItema.dc_subject%}
						{{momentukoItema.dc_subject|format_html|safe}}
						{%else%}
						-
						{% endif %} 
					</p>
				</li>
				<!-- language /country -->
				<li>
					<p class="item-field-title kolore-gris-hiru">{% trans "Hizkuntza eta jatorria" %}</p>
					<p class="kolore-beltza">
					{% if momentukoItema.ob_language %}
						{{momentukoItema.ob_language | ob_language_errep_kendu}}
					{%else%}
						-
					{% endif %}
						&nbsp;-&nbsp;
					{% if item.edm_country %}
						{{item.edm_country }}
					{%else%}
						-
					{% endif %} 
					 </p>
				</li>
			</ul>
	 	</div>
	 	<!-- eskuineko zutabea sare sozialak -->
		<div class="right col-md-2">
			<div id="item_infobox" class="path-info overflow">				
				<a class="aRight" href="" data-toggle="modal" data-target="#modal-metadata">
					<i class="fa fa-address-card-o">&nbsp;&nbsp;</i>{% trans "Fitxa osoa ikusi" %}
				</a>
			</div>
		</div>
	</div>			
</div><!-- container fitxa: end of colored background -->
	
<div class="item_preview col-xs-12 col-sm-12 col-md-10 center">

	{% include "_item_preview.html" with momentukoItema=item %}
	
	<div id="item_preview-description" class="backgrnd-txuria">
			{% comment %}
			<!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
			<!--{{ LANGUAGE_CODE|choose_description_language:item |striptags |safe }}-->
			{% endcomment %}
			
			<div class="path-info overflow ">
				<div class="comment more item-info-description">

					{{ LANGUAGE_CODE|choose_description_language:item|format_html|add_ekm_prefix_to_desc|correct_wikification_url_tags|safe}}

				</div>
			</div>
				
			<div id="item_moreInfo" class="path-info overflow">
				<h3 class="kolore-gris-hiru">{% trans "Bestelako informazioa" %}</h3>
				<ul class="">
					{% if item.proposatutakoa %}
					<li>
						<span class="fa fa-heart-empty" aria-hidden="true"></span>
						{% trans "Adituek Proposatutakoa" %}

					</li>
					{%endif%}
					{% if item.egunekoa %}
					<li>
						<span class="fa fa-bullhorn" aria-hidden="true"></span>
						{% trans "Egunekoa" %}

					</li>
					{%endif%}
					{% if not item.egunekoa and not item.proposatutakoa%}
					- - -
					{%endif%}
				</ul>
			</div>

			<!-- </div> this tag should be removed, its a surplus-->
		</div>
		
	</div>
</div>
</div> <!--container-->

<!-- GEOLOKALIZAZIOA -->
{% if geoloc_longitude %}
{% load leaflet_tags %}
<div id="geo_map" class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{% leaflet_map "yourmap" callback="load_map" %}
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

{%endif%}
<!-- END GEOLOKALIZAZIOA -->


{% endwith %}
{% endblock content %}

{% block after_orria %}

<!-- MLT -->
{% include "_similar_items.html" %}
<!-- END MLT-->

<!-- COMMENTS-->
{% include "_comments.html" %}
<!-- END COMMENTS-->
{% endblock after_orria %}



{% block custom_modals %}
{{ block.super }}

<!-- QR code modal --> 
{% include "_QR_modal.html" %}
<!-- END QR code modal -->

<!-- modal item fitxa osoa-->

<div class="modal fade" id="modal-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Metadatuen fitxa" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                   		<div id="messages"></div>
                   		<h4 class="modal-inner-title">{% trans "Ezaugarriak" %}</h4>                                                     
                        <div id="item_infobox" class="path-info overflow">
							<ul class="nav  navbar-default">
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Sortzailea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoItema.dc_creator%}
							{{momentukoItema.dc_creator}}
							{%else%}
							-
							{% endif %} </span>

					</li>

					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Hornitzailea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoItema.edm_dataprovider%}
							{{momentukoItema.edm_dataprovider}} ({{momentukoItema.edm_provider}})
							{%else%}
							{{momentukoItema.edm_provider}}
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Gaia" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoItema.dc_subject%}
							{{momentukoItema.dc_subject}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Hizkuntza" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoItema.ob_language %}
							{{momentukoItema.ob_language | ob_language_errep_kendu}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Herrialdea" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if item.edm_country %}
							{{item.edm_country }}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Data" %}:&nbsp;
						<span class="kolore-gris-hiru"> {% if momentukoItema.edm_year %}
							{{momentukoItema.edm_year }}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
						{% trans "Mota" %}:&nbsp;						
						<span class="kolore-gris-hiru"> {% if momentukoItema.edm_type %}
						<span class="kolore-{{momentukoItema.edm_type}}"><img class="mota-icon" src="{{STATIC_URL}}img/icons/{{momentukoItema.edm_type|lower}}.png">
							{{momentukoItema.edm_type }}
							{%else%}
							-
							{% endif %} 
						</span>

					</li>
				</ul>
			</div>		
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Atera" %}</button>                                
                            </div>                            
                            <p><br/></p>                    
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- END modal item fitxa osoa-->

<!-- modal crossing-paths -->
<div class="modal fade" id="modal-crossing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Ze ibilbidetan?" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body top-padding-0">
                    	
                   		<div id="messages"></div>
                   		<h4 class="modal-inner-title">{% trans "Ezaugarriak" %}</h4>
                   		                                                     
                 		<div id="crossingPaths" class="path-info overflow">

						<!-- ITEMA AZALTZEN DE LEHEN 5 IBILBIDEAK ERAKUTSI. GAINONTZEKOAK MODAL BATEAN-->
						{%if itemPaths %}
						<!-- class="crossingPaths"-->
						<div class="">
							
							<h3 class="titulu-kolorea">{{itemPaths.count}} {% trans "Ze ibilbidetan?" %} </h3>
							{% for node in itemPaths %}
								{% if forloop.counter < 4 %}
							<a href="nabigazioa_hasi?path_id={{node.fk_path_id.id}}"> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>&nbsp;{{node.fk_path_id.dc_title}} </a>&nbsp;&nbsp;
								{%endif%}
							{%endfor%}
							<!--</br>-->
							{% if itemPaths|length  >= 4 %} <!-- ONDOREN >= 4 JARRI-->
							<a class="aRight" href="" data-toggle="modal" data-target="#modalMore"><span class="glyphicon glyphicon-plus">&nbsp;&nbsp;</span></a>
							{%endif%}
							</ br>
							<div style="color: rgb(223, 170, 0) " id="div_you_want_to_blink"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% trans "Animatu ibilbideetako bat ikusi eta bozkatzera!" %}</div>					
						</div>
						{% else %}
						<div style="color: rgb(223, 170, 0) " id="div_you_want_to_blink"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% trans "Izan lehena item honekin ibilbide bat sortzen!" %}</div>
				
						<h3 class="titulu-kolorea">{% trans "Ze ibilbidetan?" %} &nbsp; -</h3>
						{%endif%}
						</div>
						
                 	    <div class="modal-footer">
                        	<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Atera" %}</button>                                
                        </div>                            
                        <p><br/></p>                    
                    </div>                       
                </div>
            </div><!-- END modal-body -->
            
        </div>
    </div>
</div>
<!-- END modal crossing-paths-->

{% endblock custom_modals %}

