{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load tags %}


<div class="pagination">
    <span class="step-links">
        {% if itemak.has_previous %}
            <a href="?page={{ itemak.previous_page_number }}">aurrekoak</a>
        {% endif %}

        <span class="current">
            {{ itemak.number }}.orrialdea {{ itemak.paginator.num_pages }}tik.
        </span>

        {% if itemak.has_next %}
            <a href="?page={{ itemak.next_page_number }}">hurrengoak</a>
        {% endif %}
    </span>
</div>

<p class="emaitzaInfo"> {{itemak.paginator.count }} Item dataren arabera ordenatuta</p>

<div class="panel panel-default">
  <div class="panel-body">
  	

	 {% for item in itemak %}
	 	 
	 
	 <div class="column">	
		<div class="col-xs-6 col-md-3">
			
		
		{% if  item.id%}
		<div class="thumbnail">
			
			{% if request.user|has_group:'hornitzailea' %}
				<a class="btn btn-warning" type="button" href="{{BASE_URL}}/eguneko_itema_gehitu?id={{item.id}}&nondik=hasiera" >				
 						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</a>
			{%endif%}
			
			<a class="bilaketaEmaitza  thumbnail"  href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" >
				<img  alt="{{item.dc_title}}" src="{% if item.edm_object %} {{item.edm_object}} {%else%} /uploads/NoIrudiItem.png {% endif %}">
			</a>
			
			
			<div class="caption">
				<input type="hidden" id="item_id_{{ forloop.counter }}" value="{{item.id}}"/>
				 <input type="hidden" id="titulua_{{ forloop.counter }}" value="{{item.dc_title}}"/>
				 <input type="hidden" id="irudia_{{ forloop.counter }}" value="{{item.edm_object}}"/>
				 
				<h5><a class="" title="{{item.dc_title}}" href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" id="titulua">{{ item.dc_title|correct_language_tags }}</a></h5>
				{% if item.edm_provider %}	
					<p class="" id="hornitzailea"><b> {% trans "Hornitzailea:" %} </b> {{item.edm_provider}}</p>
				{%endif%}
				{% if item.dc_language %}
					<p class="" id="hizkuntza"><b> {% trans "Hizkuntza:" %}</b>{{item.dc_language}}</p>
				{%endif%}
				{% if item.edm_country %}
					<p class="" id="herrialdea"><b>{% trans "Herrialdea:" %}</b>{{item.edm_country}}</p>
				{%endif%}
				{% if item.dc_creator %}
					<p class="" id="sortzailea"><b>{% trans "Sortzailea:" %}</b>{{item.dc_creator}}</p>
				{%endif%}
				{% if item.edm_type %}
					<p class="" id="mota"><b>{% trans "Mota:" %}</b>{{item.edm_type}}</p>
				{%endif%}
				{% if user.is_authenticated %}
					<div class="btn-group" role="group" aria-label="...">
       				<button class="btn btn-primary" type="button" onclick="create_workspace_box({{ forloop.counter }}, {{ request.user.id }});">
       					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
       				</button>
       				{% if user.username == item.edm_provider %}

						<a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_itema?id={{item.item_id}}" >				
 						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a>
  					{%else%}
					<button class="btn btn-default" type="button" action="editatu_itema" disabled>
 					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>
				{%endif%}
				
				</div>
				{%endif%}
    		</div>
		</div> <!-- thumbnail -->
		{% endif %}
		</div>
  </div>
  {% empty %}
	<p>{% trans "Ez da erantzunik aurkitu." %}</p>
	
	
{% endfor %}
</div>
</div>
	


{% endblock %} 
