{% extends "__signin_login.html" %}
{% load i18n %}
{% load tags%}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="login-erregistratu col-md-6">

			<form action="{{BASE_URL}}/logina" method="post" class="form">
				{% csrf_token %}
				{{ logina.erabiltzailea.errors}}
				{{ logina.pasahitza.errors}}
				{{logina}}

				<br/>
				<button class="btn btn-default" type="submit">
					{% trans "Sartu" %}
				</button>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

{% endblock content %} 