{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}
{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<!--
{% if autoplay == 1 %}

<script>
    //var orr="{{autoplaypages.0}}";
    var orr = "{{autoplaypage}}";
    orr=orr+"&autoplay=1&offset="+{{offset}};

    var orria = orr.replace("&amp;", "&");
    var sec = 10000;
   
    doSetTimeOutAutoplay(orria, sec); 
</script>


{%endif%}
-->
<script>
  //Autoplay-ak erabiltzen du aldagai hau, hurrengo orrira noiz berdideratu behar duen jakiteko
  var isTTSReading = false;
  
  //"Entzun Orria" sakatzerakoan narrazio osoa irakur dezan erabiltzen da
  var desk_osoa = "{{momentukoNodea.dc_description }}";
  
  //tts_berezia.js-ek erabiltzen du ze hizkuntzatan irakurri jakiteko, bukaeran hizkuntza: aldagaiean
  var path_hizkuntza="{{momentukoPatha.language}}";

  
</script>


<div class="container">
	<div class="row">
		<div class="col-md-2 path-titulu-legend">
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			<span>{% trans "IBILBIDEA" %}: </span>
		</div>

		<div class="col-md-8">
			<div class="path-name2 overflow titulu-kolorea">
				<h2 class="bold"><a class="titulu-kolorea" href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path_id}}">{{momentukoPatha.dc_title}}</a></h2>
			</div>
		</div>
		<div class="col-md-2">

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<!--<div class="col-md-1">
		</div>-->
		<div class="col-md-3">

			<div id="nabigMapa" class="path-info overflow">
				<button id="create_path_button" type="button" class="btn btn-info" id="menuLink" data-toggle="modal" data-target="#modaloverview" >
					<span  aria-hidden="true"> <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"> </span> {% trans "HEMEN ZAUDE" %} </span>
				</button>

				{% if autoplay == 1 %}
				<!-- onclick="stopTimeOutAutoplay();return false;" -->
				<a id="autoplay" class="btn btn-common" href="#" onclick="window.location = stopOrria;return false;"> <span id="autoplay-icon" class="glyphicon glyphicon-pause" aria-hidden="true"></span> {% trans "STOP AUTOPLAY" %} </a>
				{% else %}
				<a id="autoplay" class="btn btn-common" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}"> <span id="autoplay-icon" class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans "AUTOPLAY" %} </a>
				{% endif %}

			


			</div>

			<!-- TTS -->
			<div id="tts" class="path-info overflow">
				<div id="preloadedImages"></div>
				<p id="lerrojauzia1" class="clearfix"></p>
				<div id="audiobotoiak"{% if not request.mobile or request.tablet %}{% else %} class="mobile"{% endif %}>
					<div class="ezkerrean">
						<a href="#" id="gelditubotoia" onClick="TTS.stopBotoia(); return false;" class="audiobotoia" title="Gelditu" style="display:none"></a>
						<a href="#" id="hasierarabotoia" onClick="TTS.hasierara(); return false;" class="audiobotoia" title="Hasierara" style="display:none"></a>
						<a href="#" id="atzeraparagrafoabotoia" onClick="TTS.atzeraparagrafoa(); return false;" class="audiobotoia" title="Aurreko paragrafora" style="display:none"></a>
						<a href="#" id="atzerabotoia" onClick="TTS.atzera(); return false;" class="audiobotoia" title="Aurreko esaldira" style="display:none"></a>
						<a href="#" id="playbotoia" onClick="TTS.entzun(); return false;" class="audiobotoia play" title="Entzun" accesskey="p"></a>
						<a href="#" id="aurrerabotoia" onClick="TTS.aurrera(); return false;" class="audiobotoia" title="Hurrengo esaldira" style="display:none"></a>
						<a href="#" id="aurreraparagrafoabotoia" onClick="TTS.aurreraparagrafoa(); return false;" class="audiobotoia" title="Hurrengo paragrafora" style="display:none"></a>
						<a href="#" id="amaierarabotoia" onClick="TTS.amaierara(); return false;" class="audiobotoia" title="Amaierara" style="display:none"></a>
						<a href="#" id="joanbotoia" onClick="TTS.joan(); return false;" class="audiobotoia" title="Zati zehatz batera joateko, klik egin bertan eta jarraitu botoia sakatu" style="display:none"></a>
						<a href="#" id="azalpentestua" class="audiobotoia" onClick="TTS.entzun(); return false;" title="Edukia entzun"><span id="entzuntestua" class="ezkerrean">{% trans "Orria entzun" %}</span></a>
						<a href="#" id="aboutbotoia" onClick="TTS.about(); return false;" class="audiobotoia" title="Honi buruz" accesskey="h" style="display:none"></a>
					</div>
					<div id="bolumenakontrola" class="audiobotoia ezkerrean" title="Bolumena" style="display:none">
						<div class="banatzekoa"></div>
						<a href="#" id="volume" onClick="TTS.bolumenaerakutsiezkutatu(); return false;"></a>
						<a href="#" id="bolumenaslider"></a>
						<span id="bolumenatooltip" class="slidertooltipbolumena" style="display:none"></span>
					</div>
					<div id="abiadurakontrola" class="audiobotoia ezkerrean" title="Irakurketaren abiadura" style="display:none">
						<a href="#" id="abiadura" onClick="TTS.abiaduraerakutsiezkutatu(); return false;"></a>
						<a href="#" id="abiaduraslider" class="ezkerrean"></a>
						<span id="abiaduratooltip" class="slidertooltipabiadura" style="display:none"></span>
					</div>
					<div id="generoakontrola" class="audiobotoia ezkerrean" title="Ahotsaren generoa" style="display:none">
						<a href="#" id="genero" class="ezkerrean" onClick="TTS.generoaerakutsiezkutatu(); return false;"></a>
						<div id="generoaukera" style="display:none">
							<a href="#" id="generoemakumea" class="ezkerrean" onClick="TTS.generoaaldatu(event); return false;" title="Emakumea"></a>
							<div class="ezkerrean banatzekoa"></div>
							<a href="#" id="generogizona" class="ezkerrean aukeratuta" onClick="TTS.generoaaldatu(event); return false;" title="Gizona"></a>
						</div>
					</div>
					<div class="banatzekoa"></div>
					<a id="tts_elhuyar_logoa" href="https://www.elhuyar.eus/eu/site/hizketa-teknologiak" title="Elhuyar Hizkuntza eta Teknologia" target="_blank"></a>
				</div>
			</div><!-- tts -->

			<hr />
			
			<!-- <div class="path-info overflow">
				{% if user.is_authenticated %}
				<h3 class="titulu-kolorea">{% trans "Kudeaketa Aukerak" %}</h3>

				<button class="btn btn-default gehitu-botoia" type="button"
					title="{% trans 'Lan eremura gehitu' %}"
					onclick="create_workspace_box({{id}}, {{ request.user.id }});"
					style="line-height: 0.8;">

					{% trans "Gehitu" %} <span class="glyphicon glyphicon-arrow-up"
						aria-hidden="true"></span>
				</button>

				{% if request.user|has_group:'hornitzailea' %}
				<!--egunekoa bihurtu-->
				<!--{% if momentukoItema.egunekoa == 0 %} <a
					class="btn btn-warning egunekoa-botoia"
					title="{% trans 'Gehitu eguneko itema' %}" type="button"
					href="{{BASE_URL}}/eguneko_itema_gehitu?id={{momentukoItema.id}}&nondik=path{{path_id}}">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</a> {%endif%} {% if momentukoItema.egunekoa == 1 %} <a
					class="btn btn-warning egunekoa-botoia"
					title="{% trans 'Kendu eguneko itema' %}" type="button"
					href="{{BASE_URL}}/eguneko_itema_kendu?id={{momentukoItema.id}}&nondik=path{{path_id}}">
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				</a> {%endif%} {%endif%}
				<!-- Baldintza hau aldatu datu-basean itemak erabiltzailearekin lotutakoan -->

				<!--{% if user.id == item.fk_ob_user.id %}

				<!--editatu-->
				<!--<a class="btn btn-default" type="button"
					title="{% trans 'itema editatu' %}"
					href="{{BASE_URL}}/editatu_itema?id={{item.id}}"> <span
					class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a>
				<!-- ezabatu -->
				<!--<a class="btn btn-danger" type="button"
					title="{% trans 'itema ezabatu' %}"
					onClick="deleteItem({{item.id}})"> <span
					class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
				</a> {%endif%} {%endif%}
			</div>
			 -->
			
			<!-- item_infobox -->
			<div id="item_infobox" class="path-info overflow">
				<h3 class="titulu-kolorea">{% trans "EZAUGARRIAK" %}</h3>
				<ul class="nav  navbar-default">
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Sortzailea" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.dc_creator%}
							{{momentukoItema.dc_creator|format_html |safe}}
							{%else%}
							-
							{% endif %} </span>

					</li>

					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Hornitzailea" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.edm_provider%}
							{{momentukoItema.edm_provider|format_html |safe}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Gaia" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.dc_subject%}
							{{momentukoItema.dc_subject}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Hizkuntza" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.ob_language %}
							{{momentukoItema.ob_language| ob_language_errep_kendu}}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Herrialdea" %}:&nbsp;
						<span class="eremu-str"> {% if item.edm_country %}
							{{item.edm_country }}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Data" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.edm_year %}
							{{momentukoItema.edm_year }}
							{%else%}
							-
							{% endif %} </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Mota" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.edm_type %}
							{{momentukoItema.edm_type }}
							{%else%}
							-
							{% endif %} </span>

					</li>
				</ul>
			</div>
			
			<!-- Crossing paths -->
			<div id="crossingPaths" class="path-info overflow">

				<!-- ITEMA AZALTZEN DE LEHEN 5 IBILBIDEAK ERAKUTSI. GAINONTZEKOAK MODAL BATEAN-->
				{%if itemPaths %}
				<!-- class="crossingPaths"-->
				<div class="">
					<h3 class="titulu-kolorea">{% trans "Ze ibilbidetan?" %} ({{itemPaths.count}})</h3>
					{% for node in itemPaths %}
					{% if forloop.counter < 4 %}
					<a href="nabigazioa_hasi?path_id={{node.fk_path_id.id}}"> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>&nbsp;{{node.fk_path_id.dc_title}} </a>&nbsp;&nbsp;
					{%endif%}
					{%endfor%}
					<!--</br>-->
					{% if itemPaths|length  >= 4 %} <!-- ONDOREN >= 4 JARRI-->
					<a class="aRight" href="" data-toggle="modal" data-target="#modalMore"><span class="glyphicon glyphicon-plus">&nbsp;&nbsp;</span></a>
					{%endif%}

				</div>
				{% else %}
				<h3 class="titulu-kolorea">{% trans "Ze ibilbidetan?" %} &nbsp; - </h3>
				{%endif%}
			</div>
			
			<!-- QR code link
			<div id="qr_link" class="path-info overflow">
				<div>
					<a id="qr_code_create_link" href="" data-toggle="modal" data-target="#modalqrcode" > <h3 class="titulu-kolorea"> {% trans "Eraman itema mundu errealera!" %} <span>&nbsp;</span><span class="glyphicon glyphicon-qrcode" aria-hidden="true"> </span></h3> </a>
				</div>
			</div>-->
			
		</div><!--col-md-3 ezkerreko zutabea-->
		
		<div class="col-md-7">
			<div class="path-name overflow titulu-kolorea">
				<h2 class="bold"> {{ LANGUAGE_CODE|choose_title_language:momentukoItema| format_html |safe}} </h2>

				<ul class="nav navbar-nav navbar-default">
					<li>
						{% if "VIDEO" in momentukoItema.edm_type %}
						<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
						{% endif %}
						{% if "TEXT" in momentukoItema.edm_type %}
						<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						{% endif %}
						{% if "IMAGE" in momentukoItema.edm_type %}
						<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						{% endif %}
						{% if "SOUND" in momentukoItema.edm_type %}
						<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
						{% endif %}
					</li>
					<li>
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
						{% if momentukoItema.edm_year %}
						{{momentukoItema.edm_year}}
						{%else%}
						-
						{% endif %}
					</li>

					<li>
						<!-- itemak erabiiltzailearekin lotutakoan hau aldatu, username erakutsi-->
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>

						{{momentukoItema.dc_creator|format_html |safe}}   &nbsp;  {{momentukoItema.edm_provider|format_html |safe}}
					</li>
				</ul>
			</div>

			<!-- Wikifikazioko linkak erakutsi nahi EZ baldin baditut striptags erabili-->
			
			<div class="path-info overflow ">
				<div id="description" class="item-info-description">

					<div class="clearfix"></div>
					{% if autoplay == 1 %}
						<span id="item-narrazioa" class="comment item-narrazio">{{momentukoNodea.dc_description | format_html |add_ekm_prefix_to_desc|correct_wikification_url_tags| safe}}</span>
					
					{% else %}
						<span  id="item-narrazioa" class="comment more item-narrazio">{{momentukoNodea.dc_description | format_html |add_ekm_prefix_to_desc|correct_wikification_url_tags| safe}}</span>
					
					{%endif%}
					
				</div>
			</div>

			<!-- item preview -->

			<div id="item_preview">
			<!--AUDIO ALA BIDEOA BADA IRUDIA ERE ERAKUTSI, BALDIN BADAGO-->
			{% if momentukoItema.edm_type == "SOUND" or  momentukoItema.edm_type == "VIDEO"  %}
					
				{% if momentukoItema.ob_thumbnail%}
						
					<a id="item_img" class="img-responsive nabigItem thumbnail" href="{% if momentukoItema.ob_thumbnail %}{{momentukoItema.ob_thumbnail}}{%else%} # {%endif%}" target="{% if momentukoItema.ob_thumbnail %}_blank{%endif%}" >
						<img title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema|format_html|safe}}" src="{{momentukoItema.ob_thumbnail|clean_http_prefix}}">
					</a>
					
				{%endif%}
			{%endif%} 

			<!-- OBJEKTUA ERAKUTSI BALDIN BADAGO ETA BESTELA SAIATU DATU-BASEKO BESTE EREMU BATETAN AURKITZEN-->
			<!-- TESTUA BADA -->
				{% if momentukoItema.edm_type == "TEXT" %}
					
					<!-- eta  objektua baldin badu-->
					{%if momentukoItema.edm_object%}
					
						<ul class="nav  navbar-default">
							<li class="ezkerra">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								{% trans "Testua" %}:
							</li>
						</ul>
	
						<a id="item_img" class="img-responsive nabigItem thumbnail" href="{{momentukoItema.edm_object }}" target="{% if momentukoItema.edm_object %}_blank{%endif%}" >
     					{% if '.pdf' in momentukoItema.edm_object %}
							<object data="{{momentukoItema.edm_object}}" type="application/pdf" width="100%" height="60%">
							<iframe src="{{momentukoItema.edm_object}}" style="border: none;" width="100%" height="60%">
							<img  alt="{{momentukoItema.dc_title}}" src="/uploads/NoIrudiItem.png">
							</iframe>		
							</object>
						</a>
						{%endif%}
					
					{%else%}
						{% include "_item_preview.html" %}
					{%endif%}
				{%endif%}
				
			
				<!-- IRUDIA BADA eta objektua baldin badu-->
				{% if momentukoItema.edm_type == "IMAGE"  %}
					
					{% if momentukoItema.edm_object%}
						<ul class="nav  navbar-default">
							<li class="ezkerra">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								{% trans "Ikusi irudia" %}:
							</li>
						</ul>
						<a id="item_img" class="img-responsive nabigItem thumbnail" href="{% if momentukoItema.edm_object %}{{momentukoItema.edm_object}}{%else%} # {%endif%}" target="{% if momentukoItema.edm_object %}_blank{%endif%}" >
						 <img title="{{ LANGUAGE_CODE|choose_title_language:momentukoItema|format_html|safe}}" src="{{momentukoItema.edm_object|clean_http_prefix}}">
						</a>
					{%else%}
						{% include "_item_preview_img.html" %}	
					{%endif%}
					
					
				{%endif%}
			
			
				<!-- AUDIOA BADA eta audio objectua baldin badu-->
				{% if momentukoItema.edm_type == "SOUND" %}
					{% if momentukoItema.edm_object%}
						<ul class="nav  navbar-default">
							<li class="ezkerra">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								{% trans "Entzun audioa" %}:
							</li>
						</ul>
						<audio controls>
  							<!--<source src="{{momentukoItema.edm_object}}" type="audio/ogg">-->
  							<source src="{{momentukoItema.edm_object}}" type="audio/mpeg">					
						</audio>
					{%else%}
						{% include "_item_preview_sound.html" %}
					{%endif%}
				{%endif%}
			
	
				<!--BIDEOA BADA-->
				{% if momentukoItema.edm_type == "VIDEO"%}
				
					{% if momentukoItema.edm_object%}
						<ul class="nav  navbar-default">
							<li class="ezkerra">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								{% trans "Bideoa" %}:
							</li>
						</ul>
							
									
						<video width="320" height="240" controls>
  							<source src="{{momentukoItema.edm_object}}" type="video/mp4">
  							<source src="{{momentukoItema.edm_object}}" type="video/ogg">
  							<source src="{{momentukoItema.edm_object}}" type="video/x-flv">
  							Your browser does not support the video tag.
						</video>
					
					{%else%}
					
						{% include "_item_preview_video.html" %}
					{%endif%}
					
				{%endif%}
				
				
				<div id="license_info" class="path-info overflow">

					<ul class="nav  navbar-default">
						<li class="ezkerra">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							{% trans "Lizentzia" %}:&nbsp;
							<span class="eremu-str"> {% if momentukoItema.edm_rights%} <a href="{{momentukoItema.edm_rights}}">{{momentukoItema.edm_rights}}</a> {%else%}
								-
								{% endif %} </span>

						</li>
						<li class="eskuma">
							{% if momentukoItema.edm_isshownat%}
							<a  class="eremu-str" title="{{viewAtSource}}" href="{{momentukoItema.edm_isshownat}}"><b><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% trans "Ikusi jatorrizkoa" %}</b></a>
							{%endif%}
						</li>
					</ul>
				</div>
			</div>
			<!-- item preview-->

			<div id="nabigMenu" class="path-info">
				<!--<div id="nabigMenu_titulu" class="path-info overflow">
				<h3 class="titulu-kolorea">{% trans "NABIGATU" %}</h3>
				</div>-->

				<div id="nabigMenu_botoiak" class="clearfix">
					<!--BOTOIAK AURREKOAK -->
					<ul class="ezkerra">
						<h3 class="titulu-kolorea">{% trans "Atzera" %}</h3>
						{% for aurrekoa in aurrekoak %}
						{% with h=LANGUAGE_CODE|choose_title_language:aurrekoa|format_html|safe %}
						<li class="clearfix">
							<button type="button" class="btn btn-common ezkerra" onclick="nabigatu({{path_id}},{{aurrekoa.fk_item_id_id}})">
								<span class="glyphicon glyphicon-backward" aria-hidden="true" style="float: left;padding-left:3px;"> </span>
								<div class="ellipsis" style="float:right;">
									<span class="ellipsis" aria-hidden="true" title="{{h}}"> {{h}} </span>
								</div>
							</button>
						</li>
						{% endwith %}
						{% endfor %}
					</ul>
					<!--BOTOIAK HURRENGOAK -->
					<ul class="eskuma">
						<h3 class="titulu-kolorea text-right">{% trans "Nondik jo nahi duzu Aurrera?" %}</h3>
						{% for hurrengoa in hurrengoak %}
						{% with h=LANGUAGE_CODE|choose_title_language:hurrengoa|format_html|safe %}
						<li class="clearfix">
							<button type="button" class="btn btn-common eskuma" onclick="nabigatu({{path_id}},{{hurrengoa.fk_item_id_id}})">
								{%if hasieraBakarra == 1%}
								<span  aria-hidden="true"> <span class="glyphicon glyphicon-repeat" aria-hidden="true" style="float:right;padding-right:3px;"></span></span>
								{%else%}
								<div class="ellipsis" style="float:left;">
									<span class="ellipsis" aria-hidden="true" title="{{h}}"> {{h}} </span>
								</div><span class="glyphicon glyphicon-forward" aria-hidden="true" style="float: right; padding-right:3px;"> </span>
								{% endif %}
							</button>
						</li>
						{% endwith %}
						{% endfor %}
					</ul>
				</div>
			</div>

			<div id="item_moreInfo" class="path-info overflow">
				<ul class="nav  navbar-default">
					<li>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						{% trans "Jatorrizko deskribapena" %}:&nbsp;
						<span class="eremu-str"> {% if momentukoItema.dc_description %}
							<div class="comment more item-info-description">
								{{ LANGUAGE_CODE|choose_description_language:momentukoItema |format_html|add_ekm_prefix_to_desc|correct_wikification_url_tags |safe}}
							</div> {%else%}
							-
							{% endif %} </span>

						<!--<div class="path-info overflow ">-->
					</li>
				</ul>
			</div>

		</div>
		<div class="col-md-2">
			<!-- BOTAZIO SISTEMA ITEMAK-->

			{% if user.is_authenticated %}
			<div class="share_titulu eskuma">
				<a class="titulu-kolorea eskuma" type="button" href="#">{% trans "Kultur itema gustoko duzu?" %}</a>
			</div>

			<div class="btn-group eskuma" role="group" aria-label="...">

				{% if botatuDuItem == 1 %}
				<a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_eman_item?id={{node_id}}" disabled> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> </a>
				<a class="btn btn-default eskuma" type="button" href="#" > <b class="eskuma titulu-kolorea">{{botoKopuruaItem}}</b> </a>
				<a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_kendu_item?id={{node_id}}&nondik=nabigazioa&path_id={{path_id}}" > <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> </a>

				{%else%}
				<a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_eman_item?id={{node_id}}&nondik=nabigazioa&path_id={{path_id}}"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> </a>
				<a class="btn btn-default eskuma " type="button" href="#"> <b class="eskuma titulu-kolorea">{{botoKopuruaItem}}</b> </a>
				<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{node_id}}" disabled > <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> </a>
				{%endif%}
			</div>

			{%endif%}

			<!-- social network sharing buttons -->
			{% include "_sharing.html"%}

		</div>
	</div>
</div>

<!-- GEOLOKALIZAZIOA -->
<!--
<div class="container">
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
{% if geoloc_longitude %}
{% leaflet_map "yourmap" callback="load_map" %}
{%endif%}
</div>
<div class="col-md-1">
</div>
</div>
</div>
-->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			&nbsp; &nbsp;
			<hr />
		</div>
	</div>
</div>

<!-- END GEOLOKALIZAZIOA -->

<!-- MLT -->
{% include "_similar_items.html" %}
<!-- END MLT-->

<!-- COMMENTS-->
{% include "_comments.html" %}
<!-- END COMMENTS-->

<!-- IBILBIDEAREN MODALA -->

<div class="modal fade" id="modaloverview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4>{% trans "Ibilbidearen mapa" %}</h4>
			</div>

			<div id="path_boxes_overview"></div>
			<script>
                var ibilbide_data = [];
                var path_id = {{path_id}};
                var root = {
                    "id" : 0,
                    "name" : "ROOT",
                    "irudia" : "http://obprototipoa.elhuyar.eus/uploads/festivalCineDonostia.jpeg",
                    "parent" : ''
                };
                ibilbide_data.push(root);
			</script>
			{% for node in path_nodeak%}
			<script type="text/javascript">
                var id = "{{node.fk_item_id_id}}";
                //path_node[0];
                var titulua = htmlDecode("{{node.dc_title}}");
                //path_node[1];
                var irudia = htmlDecode("{{node.paths_thumbnail}}");
                //path_node[2];
                if (irudia == " ") {
                    irudia = "/uploads/NoIrudiItem.png";
                }

                var aita_id = "{{node.paths_prev}}";
                //aita hutsa bada , root izango da bere aita
                if (aita_id == "") {
                    aita_id = 0;
                }
                var obj = {
                    id : id,
                    name : titulua,
                    irudia : irudia,
                    parent : aita_id
                };
                ibilbide_data.push(obj);

			</script>
			{% endfor%}
			<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakoverview.js"></script>

		</div>

	</div>
</div>



{% endblock %}

{% block pageEndScripts %}
<!-- TTS -->
<script type="text/javascript" src="{{STATIC_URL}}js/tts/wgxpath.install.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/crel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/classList.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tts_berezia.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tinybox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/enyo.js"></script>


{% if autoplay == 1 %}

<script>
  //Orriaren goikaldea erazagutu da aldagaia
  //var isTTSReading = false;



  var orr = "{{autoplaypage}}";
  var stopOrr=orr; //Stop botoiak kargatu behar duen orria
  orr=orr+"&autoplay=1&offset="+{{offset}};
  
  var stopOrria = stopOrr.replace("&amp;", "&");
  var orria = orr.replace("&amp;", "&");
  //var sec = 1000;
  //var autoplayTimeout;

  function waitForIt()
  {
     //console.log("wait?");
     if (isTTSReading) {
        //console.log("yes");
        setTimeout(function(){waitForIt()},100);
     }
     else
     {
        //console.log("no wait");
        //go do that thing
        window.location = orria;
        //doSetTimeOutAutoplay(orria, sec); 
     }
  }

  function entzunEtaHurrengoraPasa()
  {

      isTTSReading =true;

      TTS.entzun();
      waitForIt();

  }
     
    //ORRIA ENTZUN
    entzunEtaHurrengoraPasa();

    //document.getElementById("azalpentestua").click();
    //doSetTimeOutAutoplay(orria, sec);
</script>

{%endif%} <!--  autoplay-->




{% endblock pageEndScripts %}




