{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}
{% block content %}



{% if autoplay == 1 %}

	<script>	
		
		//var orr="{{autoplaypages.0}}";
		var orr="{{autoplaypage}}";
		orr=orr+"&autoplay=1&offset="+{{offset}};
		
		var orria = orr.replace("&amp;", "&"); 	
		var sec=2000;
		doSetTimeOutAutoplay(orria,sec);
	</script>

{%endif%} <!--  autoplay-->

<!--IBILBIDEAREN TITULUA -->


<div>
	<a type="button" class="btn btn-info eskuma kolorea" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">
		<span  aria-hidden="true"> 
			<span class="glyphicon glyphicon-play" aria-hidden="true"> 
    	   	</span> 
    		Autoplay
    	</span> 	
	</a> 
	
	<h4 class="media-heading titulu-kolorea">{{momentukoPatha.dc_title}}</h4>
	
	<br />
</div>
<div>
	<!-- QR KODEAK -->
<!--{% qr_from_text pathqrUrl "s" %}--> 
</div>
<!-- BOTAZIO SISTEMA IBILBIDEA--> 

  {% if user.is_authenticated %}
  
  	<div class="eskuma"><b class="laguntza eskuma">Ibilbidea gustoko duzu?</b></div>
	<br />
	<div class="btn-group eskuma" role="group" aria-label="...">
	
  	{% if botatuDuPath == 1 %}
		<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" disabled>
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default eskuma" type="button" href="#" >
			<b class="eskuma laguntza">{{botoKopuruaPath}}</b>
		</a>
		<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	
  	{%else%}
 		 <a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_eman_path?path_id={{path_id}}&item_id={{node_id}}" >
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default eskuma" type="button" href="#">
			<b class="eskuma laguntza">{{botoKopuruaPath}}</b>
		</a>
		<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_path?path_id={{path_id}}&item_id={{node_id}}" disabled >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	{%endif%}
	</div>


  {%endif%}
<br />
<br />
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b class="titulu-kolorea">HEMEN ZAUDE </b></div>
  <div class="panel-body">
  	<div id="path_boxes_overview"></div>
	
	<script>set_pb_overview();</script>
    {% for node in path_nodeak%}

		<script type="text/javascript">
	
		var id="{{node.fk_item_id_id}}";//path_node[0];
		var titulua="{{node.dc_title}}";//path_node[1];
		var aita_id="{{node.paths_prev}}";//path_node[3];
		
		var path_id="{{path_id}}";
		var momentukoNodea="{{node_id}}";
	
		if(aita_id=="")
		{
			pb_new_element_overview("pb_"+id,titulua,path_id,id,momentukoNodea);		
		}
		else
		{
			pb_add_new_son_overview("pb_"+aita_id,"pb_"+id,titulua,path_id,id,momentukoNodea);		
		}
		</script>


	{% endfor%}
  </div>
</div

<br />

<!-- BOTAZIO SISTEMA ITEMAK--> 

  {% if user.is_authenticated %}
  	<div class="eskuma"><b class="laguntza eskuma">Kultur itema gustoko duzu?</b></div>
  
	<br />
	<div class="btn-group eskuma" role="group" aria-label="...">
	
  	{% if botatuDuItem == 1 %}
		<a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_eman_item?id={{node_id}}" disabled>
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default eskuma" type="button" href="#" >
			<b class="eskuma laguntza">{{botoKopuruaItem}}</b>
		</a>
		<a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_kendu_item?id={{node_id}}&nondik=nabigazioa&path_id={{path_id}}" >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	
  	{%else%}
 		 <a class="btn btn-default eskuma" type="button"  href="{{BASE_URL}}/botoa_eman_item?id={{node_id}}&nondik=nabigazioa&path_id={{path_id}}">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
 	
		</a>
		<a class="btn btn-default eskuma " type="button" href="#">
			<b class="eskuma laguntza">{{botoKopuruaItem}}</b>
		</a>
		<a class="btn btn-default eskuma" type="button" href="{{BASE_URL}}/botoa_kendu_item?id={{node_id}}" disabled >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
 	
		</a>
	{%endif%}
</div>

  {%endif%}

<br />
<br />
<div>
<!--AUKERATUTAKO ITEMA ERAKUTSI -->
<div class="media path_sarrera">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{momentukoItema.edm_object}}" alt="{{momentukoItema.edm_object}}">
    </a>
  </div>
  <div class="media-body">
  	{% get_current_language as LANGUAGE_CODE %}
	<h4 class="media-heading titulu-kolorea">  {{ LANGUAGE_CODE|choose_title_language:momentukoItema }}</h4>
    <!--<h4 class="media-heading titulu-kolorea">{{momentukoItema.dc_title}}</h4>-->
    {{momentukoNodea.dc_description}}
  </div>
  	<!-- QR KODEAK -->
  	<!--{% qr_from_text itemqrUrl "s" %}-->
 </div>
  	
  	<!-- HURRENGOAK -->
  
 
  	<div>
  		<table class="eskuma">
  
  		{% for hurrengoa in hurrengoak %}
  		<tr class="spaceUnder">
  			<th>
  				<a>
 		 <button type="button" class="btn btn-info eskuma kolorea" onclick="nabigatu({{path_id}},{{hurrengoa.fk_item_id_id}})">
			<span  aria-hidden="true"> 
			
			{%if hasieraBakarra == 1%}
			<span class="glyphicon glyphicon-repeat" aria-hidden="true">  	</span>
			{%else%}
			<!--hemen hurrengoaren titulua jarri -->
    		{{hurrengoa.dc_title}} 
    		<span class="glyphicon glyphicon-forward" aria-hidden="true">  	</span>	   	
    		</span> 
    		{% endif %}
		</button>
		</a>
		</th>
		</tr> 
		<br />
	{% endfor %}
		</table>
  
  
  
  <!-- AURREKOAK -->
   		<table class="ezkerra">
  		{% for aurrekoa in aurrekoak %}
 		<tr class="spaceUnder">
  			<th>
 		 <button type="button" class="btn btn-info ezkerra kolorea" onclick="nabigatu({{path_id}},{{aurrekoa.fk_item_id_id}})">
		<span  aria-hidden="true"> 
			<span class="glyphicon glyphicon-backward" aria-hidden="true"> 
    	   	</span>
    	  
    		{{aurrekoa.dc_title}}
    	</span> 	
	</button> 
			</th>
		</tr>
		<br />
	{% endfor %}
	</table>
  </div>
 </div> 
  <br />
  <br />
  <br />
  <br />
  <br />
  
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b class="titulu-kolorea">Itemaren informazioa </b></div>
  {% get_current_language as LANGUAGE_CODE %}
  <div class="panel-body comment more">{{ LANGUAGE_CODE|choose_description_language:momentukoItema |safe}}</div>
  
</div>
 
 <div class="metadatuak">
	  <b class="titulu-kolorea"></b>
	  {% if momentukoItema.dc_subject %}
      <b class="titulu-kolorea">Gaia: </b>{{momentukoItema.dc_subject}}&nbsp;
      {% endif %}
      {% if momentukoItema.edm_country %}
      <b class="titulu-kolorea">Herrialdea: </b>{{momentukoItema.edm_country}}&nbsp;
      {% endif %}   
      {% if momentukoItema.dc_creator %}
      <b class="titulu-kolorea">Sortzailea: </b>{{momentukoItema.dc_creator}}&nbsp;
      {% endif %} 
      {% if momentukoItema.edm_provider %}
      <b class="titulu-kolorea">Hornitzailea: </b>{{momentukoItema.edm_provider}}&nbsp;
      {% endif %} 
      {% if momentukoItema.edm_rights %}
      <b class="titulu-kolorea">Eskubideak: </b>{{momentukoItema.edm_rights}}&nbsp;
      {% endif %} 

</div>




<!-- COMMENTS-->
 {% if user.is_authenticated %}
 <!-- Comments Form -->
 <div class="well info_box">
 	<h4>Leave a Comment:</h4>
    <form class="form-horizontal" role="form" method="POST" action="nabigazio_item">{% csrf_token %}
    	<input type="hidden" name="item_id" value="{{node_id}}">
    	<input type="hidden" name="path_id" value="{{path_id}}">
    	<fieldset>
        <div class="form-group">
        <!--<textarea class="form-control" rows="3"></textarea>-->
        	{{ comment_form.comment }}
            {{ comment_form.comment.errors }}
         </div>
         {% if user.is_authenticated %}
         	<button name="submit_comment" type="submit" class="btn btn-primary">{% trans "Send comment" %}</button>
         {% else %}
         <button name="submit_comment" class="btn btn-primary" onclick='window.location.href="/?next="; return fal
se'>{% trans "Send comment" %}</button>
         {% endif %}
         </fieldset>
     </form>
</div>
{%endif%}
<hr>

 <!-- Posted Comments -->
 	<!-- Comment -->
{% for comment in comments %}
	<div class="media">
    	<form class="form-horizontal" role="form" method="POST" action="nabigazio_item">{% csrf_token %}
    		<input type="hidden" name="item_id" value="{{node_id}}">
    		<input type="hidden" name="path_id" value="{{path_id}}">
        	<fieldset>
            	<a class="pull-left" href="#" >
                	<!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ comment.author.genre.genre }}.png" alt="">-->
                	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <div class="media-body">                        
                	<h4 class="media-heading">
                    	<small>{{ comment.author.first_name }} {{ comment.author.last_name }}</small> - <small>{{ comment.date|date:"SHORT_DATE_FORMAT" }}</small>
                    </h4>
					{{ comment.comment|safe }}
					{% if user.is_authenticated %} <!--Maddalen-->
                    <p><a href="#" onclick="$('#comment_response_div_{{ comment.id }}').show(1000);return false;">{% trans "Respond" %}</a></p>
                    {%endif%}
                    <div id="comment_response_div_{{ comment.id }}" style="display:none">
	                	<div class="form-group">
                        	<!--<textarea class="form-control" rows="3"></textarea>-->
                            {{ comment_parent_form.parent_id }}
                            {{ comment_parent_form.comment }}
                            {{ comment_parent_form.comment.errors }}
                         </div>
                         {% if user.is_authenticated %}
                         	<button onclick="$('#comment_response_div_{{ comment.id }} input').val({{ comment.id }})" name="submit_comment_parent" type="submit" class="btn btn-primary">Submit</button>
                            <button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">Close</button>
                         {% else %}
                         	<button name="submit_comment_parent" class="btn btn-primary" onclick='window.location.href="/?next="; return false'>Submit</button>
                            <button onclick="$('#comment_response_div_{{ comment.id }}').hide(1000);return false;" type="submit" class="btn">Close</button>
                         {% endif %}
                                    
                     </div>
                     {% for subcomment in comment.get_subcomments %}
                     	<div class="media">
                        	<a class="pull-left" href="#">
                            	<!--<img class="media-object" src="{{ STATIC_URL }}img/icon_{{ subcomment.author.genre.genre }}.png" alt="">-->
                           		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
                            <div class="media-body">
								<h4 class="media-heading">
                                	<small>{{ subcomment.author.first_name }} {{ subcomment.author.last_name }}</small> - <small>{{ subcomment.date|date:"SHORT_DATE_FORMAT" }}</small>
                                
                                </h4>
                                {{ subcomment.comment|safe }}
                            </div>
                         </div>
                     {% endfor %}
                </div> <!-- ni -->
              </fieldset>
          </form>
      </div>                                           
{% endfor %}


<!-- END COMMENTS-->





{% endblock %} 
