{% load i18n %}
{% load leaflet_tags %}
{% load qr_tags %}
{% load tags%}

{% get_current_language as LANGUAGE_CODE %}

{% with item.edm_type|lower as itype %}
<html>
	<head>
	
		{# Load the tag library #}
		{% load bootstrap3 %}
		
		
		{% block tts_head %}
		{% include "_tts_head.html" with node=node lang=momentukoPatha.language %}
		{% endblock tts_head %}
	
	
		<link rel="stylesheet" href="{{STATIC_URL}}css/ob_common_styles.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/navigator.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/ob-icons.css" type="text/css">
		
	
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
		
		
		{# Load CSS and JavaScript #}
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/kulturbideak.js"></script>

		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{# bootstrap_messages #}

		{% load leaflet_tags %}
		{% load tags%}

		{% leaflet_js %}
		{% leaflet_css %}
		{% load qr_tags %}
		

		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/readmore.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/autocomplete.js"></script>
		<script>
            var csrf_token = "{{ csrf_token }}";
            var erabiltzailea = "{{request.user.username}}";
		</script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/ob-utils.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/autoplay.js"></script>
		<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
		
		
		{% if itype == "sound" or itype == "video" %}
		
		<!-- VIDEO PLAYERRA-->		
		<link href="{{STATIC_URL}}css/video-js.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/ob-videojs.css" rel="stylesheet">
		<!-- If you'd like to support IE8 -->
		<script src="{{STATIC_URL}}/js/videojs-ie8.min.js"></script>
		
		{% endif %}
		
	</head>
	
	
	<body id="landscapeBody">
		<div id="main-div" class="bg backgrnd-beltza {% if request.mobile %}padding-0{% endif %}">
			<!-- elementuak erakusteko panela -->
			<div id="navigator-content">
				<!-- atzeko irudia -->
				<div id="back-image" class="backgrnd-gris-hiru">
					<img title="{% if node.dc_title %}{{ LANGUAGE_CODE|choose_title_language:node|format_html|safe}}{% endif%}"
					{% if item.ob_thumbnail%}
					src="{{item.ob_thumbnail|clean_http_prefix}}" class="navigator_bckgrnd" 
					{% elif item.edm_object %}
					src="{{item.edm_object|clean_http_prefix}}" class="navigator_bckgrnd" 
					{%else%}
					src="{{STATIC_URL}}img/icons/path_fullres_zuri.png" class="navigator_bckgrnd crop-80" 
					{% endif %}>
					<div class="dark-overlay-full"></div>
				</div>
				<!-- END atzeko irudia -->
				<!-- botoiak -->
				<div id="buttons">
					<ul>
						<li class="backgrnd-gris-0">
							<button id="create_path_button" type="button" class="btn btn-info" id="menuLink" data-toggle="modal" data-target="#modaloverview" >
								<i class="fa fa-map-signs backgrnd-gris-0 kolore-gris-hiru" aria-hidde=true></i>
							</button>
						</li>
						<li class="backgrnd-gris-0">
							<a href="{{BASE_URL}}/nabigazioa_hasi?path_id={{path_id}}"><i class="icon-ob-times backgrnd-gris-0 kolore-gris-hiru" aria-hidde=true></i></a>
						</li>
					</ul>
				</div>
				<!-- END botoiak -->
				<!--  elementua -->
				<div id="item-view" class="backgrnd-kolore-gris-0">
					<!-- item preview -->
					{% include "_item_preview.html" with momentukoItema=item %}
					<!-- item preview-->
				</div>
				<!-- END elementua -->
				<!-- Deskribapena -->
				<div id="item-description" class="backgrnd-{{itype}}">
					<div class="padding-0 col-sm-2 ezkerra">
						<ul class="ul-mota" >
							<li class="li-mota">
								<span class="kolore-beltza">
									<i class="icon-ob-{{itype}}"></i> {% trans itype %}
								</span>
							</li>
						</ul>
					</div>
					<div id="navigator-item-info" class="col-md-10 scrollbar margin-0">
						<h2 class="bold"> {{ LANGUAGE_CODE|choose_title_language:item|format_html|safe}} </h2>
						<div id="description" class="item-info-description">

							<!-- <div class="clearfix"></div> -->							
						{% if autoplay == 1 %}
								<span id="item-narrazioa" class="comment item-narrazio kolore-gris-lau">{{node.dc_description | format_html| add_ekm_prefix_to_desc|correct_wikification_url_tags| safe}}</span>
						{% else %}
								<span  id="item-narrazioa" class="comment more item-narrazio kolore-gris-lau">{{node.dc_description | format_html |add_ekm_prefix_to_desc|correct_wikification_url_tags| safe}}</span>																			
						{%endif%}								
								{% if item.dc_description %}		
									<br/><br/>							
									<div class="more item-info-description kolore-gris-lau">
									{{ LANGUAGE_CODE|choose_description_language:item |format_html|add_ekm_prefix_to_desc|correct_wikification_url_tags |safe}}
									</div>
								{% endif %}
								</div>					
						</div>						
					</div>					
				</div>
				<!-- END Deskribapena -->
			</div>
			<!-- END elementuak erakusteko panela -->
			
			<!-- nabigazio-kontrola -->
			<div id="control-panel" class="backgrnd-gris-lau">
				<div class="col-xs-4 col-md-4">
					<ul id="ctrlpanel-info" class="left-padding-0">
						<li id="ctrlpanel-logo">
							<img src="{{STATIC_URL}}/img/icons/path.png">
						</li>
						<li id="ctrlpanel-path-info" class="left-padding-0">
							<p class="ctrlpanel-line"><span class="ctrlpanel-title kolore-gris-bi">{% trans "IBILBIDEA" %}</span></p>
							<p class="ctrlpanel-line"><span class="ctrlpanel-path-title kolore-gris-0">{{momentukoPatha.dc_title}}</span></p>
						</li>
					</ul>
				</div>
				<!-- kontrolak -->
				<div class="col-xs-4 col-md-5">
					<ul id="panel-elements" class="center">
						<li>
							{% if autoplay == 1 %} 
							<a id="autoplay-play-pause" class=""  accesskey="p"
								title="{% trans 'Gelditu erreprodukzioa' %}"
								href="#" onClick="TTS.entzun(); aldatuAutoplayIkonoa();return false;">
								<i class="icon-ob-pause"></i>
							</a>
							{% else%}
							<a id="autoplay-play-pause" class=""  accesskey="p"
								title="{% trans 'Abiatu erreprodukzioa' %}"
								href="#" onClick="TTS.entzun(); aldatuAutoplayIkonoa();return false;">
								<i class="icon-ob-play"></i>
							</a>
							{% endif %}
						</li>						
						<li>
							<a id="autoplay-repeat" class="" title="{% trans 'Hasi erreprodukzioa hasieratik' %}" href="{{BASE_URL}}/autoplay_hasieratik?path_id={{path_id}}">
								<i class="fa fa-repeat"></i>
							</a>
						</li> 
						<li>
							{% include "_tts_controls.html" %}
						</li> 
					</ul>
				</div>
				<!-- END kontrolak -->
				<!-- aurrera/atzera botoiak -->
				<div class="col-xs-4 col-md-3">
					<ul id="fwrd-bckwrd">
						<li>
							<button class="btn backgrnd-gris-lau kolore-gris-0" type="button" onclick="nabigatu({{path_id}},{{aurrekoak.0.fk_item_id_id}})"><i class="icon-ob-arrow-left"></i><span class="capitalize kolore-gris-bi"> {% trans 'aurrekoa' %}</span></button>
						</li>
						<li>
							<button class="btn backgrnd-gris-lau kolore-gris-0" type="button" onclick="nabigatu({{path_id}},{{hurrengoak.0.fk_item_id_id}})"><span class="capitalize kolore-gris-bi">{% trans 'hurrengoa' %} </span><i class="icon-ob-arrow-right"></i></button>
						</li> 
					</ul>
				</div>
				<!-- END aurrera/atzera botoiak -->
			</div>
			<!-- END nabigazio-kontrola -->
		</div>
		
		
		
<!-- IBILBIDEAREN MODALA -->
<div class="modal fade" id="modaloverview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4>{% trans "Ibilbidearen mapa" %}</h4>
			</div>
			<div class="modal-body">
				<div id="path_boxes_overview" class="backgrnd-gris-bat"></div>
				<script>
                var ibilbide_data = [];
                var path_id = {{path_id}};
                var root = {
                    "id" : 0,
                    "name" : "ROOT",
                    "irudia" : "{{STATIC_URL}}/img/icons/path.png",
                    "parent" : ''
                };
                ibilbide_data.push(root);
				</script>
				{% for node in path_nodeak%}
				<script type="text/javascript">
                var id = "{{node.fk_item_id_id}}";
                //path_node[0];
                var titulua = htmlDecode("{{node.dc_title}}");
                //path_node[1];
            	var irudia = htmlDecode("{{node.fk_item_id.ob_thumbnail}}");												
				if (!irudia || irudia === "") {
					irudia = htmlDecode("{{node.fk_item_id.edm_object}}");
				}
				//path_node[2];
                if (!irudia || irudia === "") {
                    irudia = "/uploads/NoIrudiItem.png";
                }

                var aita_id = "{{node.paths_prev}}";
                //aita hutsa bada , root izango da bere aita
                if (aita_id == "") {
                    aita_id = 0;
                }
                var mota = "{{node.fk_item_id.edm_type}}";
				
				var obj = {
					id : id,
					name : titulua,
					irudia : irudia,
					parent : aita_id,
					mota : mota
				};
                
                ibilbide_data.push(obj);

				</script>
				{% endfor%}
				<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideakoverview.js"></script>
			</div>
			<div class="modal-footer">						
       				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       				<button type="button" class="btn btn-primary">Save changes</button>-->
   			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END IBILBIDEAREN MODALA -->

<!-- QR code modal --> 
{% include "_QR_modal.html" %}
<!-- END QR code modal -->


<!-- page-end scripts -->
<!-- TTS -->
<script type="text/javascript" src="{{STATIC_URL}}js/tts/wgxpath.install.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/crel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/classList.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tts_berezia.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/tinybox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tts/enyo.js"></script>

{% if itype == "sound" or itype == "video" %}
<!-- video/audio player -->
<script src="{{STATIC_URL}}js/video.min.js"></script>
<script src="{{STATIC_URL}}js/videojs-flash.min.js"></script>
<script>
	var player = videojs('ob-videojs', {techOrder: ['flash', 'html5']});
	$(".vjs-play-progress.vjs-slider-bar").addClass("backgrnd-{{itype}}");
</script>
{% endif %}

<script>
function aldatuAutoplayIkonoa()
{
	if (! $('#autoplay-play-pause i').hasClass("icon-ob-pause"))
	{
		document.getElementById('autoplay-play-pause').title = "{% trans 'Gelditu erreprodukzioa' %}";
		$('#autoplay-play-pause i').removeClass();
		$('#autoplay-play-pause i').addClass('icon-ob-pause');
	}
	else{
		document.getElementById('autoplay-play-pause').title = "{% trans 'Abiatu erreprodukzioa' %}";
		$('#autoplay-play-pause i').removeClass();
		$('#autoplay-play-pause i').addClass('icon-ob-play');
		
	}		
}

</script>
{% if autoplay == 1 %}

<script>
  //Orriaren goikaldea erazagutu da aldagaia
  //var isTTSReading = false;



  var orr = "{{autoplaypage}}";
  var stopOrr=orr; //Stop botoiak kargatu behar duen orria
  orr=orr+"&autoplay=1&offset="+{{offset}};
  
  var stopOrria = stopOrr.replace("&amp;", "&");
  var orria = orr.replace("&amp;", "&");
  //var sec = 1000;
  //var autoplayTimeout;

  function waitForIt()
  {
     //console.log("wait?");
     if (isTTSReading) {
        //console.log("yes");
        setTimeout(function(){waitForIt()},100);
     }
     else
     {
        //console.log("no wait");
        //go do that thing
        window.location = orria;
        //doSetTimeOutAutoplay(orria, sec); 
     }
  }

  function entzunEtaHurrengoraPasa()
  {

      isTTSReading =true;

      TTS.entzun();
      waitForIt();

  }
     
    //ORRIA ENTZUN
    entzunEtaHurrengoraPasa();

    //document.getElementById("azalpentestua").click();
    //doSetTimeOutAutoplay(orria, sec);
</script>

{%endif%} <!--  autoplay-->

<!-- END page-end scripts -->



		
	</body>
	
</html>
{% endwith %}
