{% extends "__base.html" %}
{% load i18n %}
{% load tags %}
{% block content %}

<link rel="stylesheet" href="{{STATIC_URL}}css/adituTag.css" type="text/css">

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="titulu-kolorea antzekoTitulua">{% trans "ZURE IBILBIDEAK" %} ({{paths.paginator.count }})</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9">
			<!-- top pagination -->
			{% include "_path_pagination.html" %}

			{% for path in paths %}

				{% include "_search_result_path.html"%}
	
	        {% empty %}
				<p>{% trans "Ez da erantzunik aurkitu." %}</p>
				<p class="asistentea_EzDago"><span class="fa fa-info" aria-hidden="true"></span></p>
				<p class="asistentea_EzDago">{% trans "Gogoratu! zuk zeuk sor dezakezu gai horri edo beste gai bati buruzko ibilbidea." %}</p>
				<p class="asistentea_EzDago">{% trans "Horretarako, erregistratu eta jarraitu ibilbidea sortzeko pausuak." %}</p>
				<p class="asistentea_EzDago"><a href="{{STATIC_URL}}video/ob_tutorial_eu_musika.mkv"> {% trans "Ikusi bideoa" %} </a></p>
				<p class="asistentea_EzDago">{% trans "Animatu!" %}</p>
			{% endfor %}
			

			<!-- bottom pagination -->
			{% include "_path_pagination.html" %}

		</div><!--column 9-->
		<div class="col-md-2"></div>
	</div><!-- row-->
</div><!--container-->

{% endblock %}
