{% extends "base.html" %}
{% load i18n %}

{% block content %}



<div class="panel panel-info">
<div class="panel-heading"><b>{% trans "Nire itemak" %}</b></div>
  <div class="panel-body">
{% for item in itemak %}
	<div class="column">	
		<div class="col-xs-6 col-md-3">
			
	
		<div class="thumbnail">
			
			<a class="{% if not item.edm_object %} bilaketaEmaitza {% endif %} thumbnail"  href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" >
				{% if item.edm_object %}<img  alt="{{item.dc_title}}" src="{{item.edm_object}}">{% endif %}
			</a>
			
			<div class="caption">
				<input type="hidden" id="item_id_{{ forloop.counter }}" value="{{item.id}}"/>
				 <input type="hidden" id="titulua_{{ forloop.counter }}" value="{{item.dc_title}}"/>
				 <input type="hidden" id="irudia_{{ forloop.counter }}" value="{{item.edm_object}}"/>
				 
				<h5><a class="" title="{{item.dc_title}}" href="{{BASE_URL}}/erakutsi_item?id={{item.id}}" id="titulua">{{item.dc_title}}</a></h5>
					
				<p class="" id="hizkuntza"><b> {% trans "Hizkuntza:" %}</b>{{item.dc_language}}</p>
				
				
								
				<div class="btn-group" role="group" aria-label="...">
       			<button class="btn btn-primary" type="button" onclick="create_workspace_box({{ forloop.counter }}, {{ request.user.id }});">
       				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
       			</button>
       			<a class="btn btn-default" type="button" href="{{BASE_URL}}/editatu_itema?id={{item.id}}" >				
 				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a>
  				
				
				</div>
				
    		</div>
		</div>
	</div>
	</div>

{% empty %}
	<p>{% trans "Ez da zure itemik aurkitu." %}</p>
{% endfor %}

	</div>
</div>

{% endblock %} 