<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>kulturbideak</title>
		<meta name="description" content="">
		<meta name="author" content="Maddalen Lopez de Lacalle">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>

	<body>
		<div>
			<!--
			<header>
				<h1>search</h1>
			</header>
			<nav>
				
			</nav>
-->
			<div>
	
	
	<!--			
		{% block content %}
		
		<form method="get" action=".">
			
			<input type="text" name="q"><input type="submit" value="Search">
			 
			<dl>
			{% for item in page.object_list %}
				<dt> {{item.dc_title}}</dt>
				
			{% endfor %}
		
		{% endblock %} 
			
			</dl>
			
		</form>
		
		 -->
				
	
	<form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                   <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.dc_title }}</a>
                </p>
                
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    
   
			</div>

			<footer>
				<p>
				
				</p>
			</footer>
		</div>
	</body>
</html>
