{% extends "__base.html" %}

{% block content %}

<button id="create_path_button" type="button" class="btn btn-default btn-xs" onclick="create_path_on_db()">
       		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"> 
       		</span> 
       		"Gorde Ibilbidea" 		
       	</button>
 <div id="path_boxes" ondrop="pb_drop(event);" ondragover="allowDrop(event)"></div>
 <!--
 {% for item in ws_item_zerrenda %}
 		 	
   	<script type="text/javascript">
	 	  add_workspace_box("{{item.id}}","{{item.dc_title}}","{{item.paths_thumbnail}}");
  	 </script>

 {% endfor%}
 -->
 <!--
 	<script type="text/javascript">
 		ibilbidea_kargatu("{{path_id}}");
 	</script>
  -->
 <!--
 <script>
        add_workspace_box("a1","bat","http://hedatuz.euskomedia.org/7031/1/03109132.pdf.png");
        add_workspace_box("a2","bi","http://hedatuz.euskomedia.org/8432/1/33341360.pdf.png");
        add_workspace_box("a3","hiru","http://www.euskomedia.org/MusicGaler/foto/74_aquarium.jpg");
        pb_new_element("box_1","Aita Donostiari omenaldia : ikonografi erreportaia","http://hedatuz.euskomedia.org/7031/1/03109132.pdf.png");
        pb_add_new_son("box_1","box_2","Legendarias regatas de traineras: las primeras décadas en el asentamiento del deporte de Remo de Banco Fijo en el Cantábrico (1844-1871)","http://hedatuz.euskomedia.org/8432/1/33341360.pdf.png");
        pb_new_element("box_3","Aquarium: 100 años de Historia","http://www.euskomedia.org/MusicGaler/foto/74_aquarium.jpg");
        pb_add_new_son("box_3","box_4","Celebración de la Tamborrada en Donostia-San Sebastián (Gipuzkoa) la madrugada del 20 de enero.","http://www.euskomedia.org/MusicGaler/foto/v000070.jpg");
        pb_add_new_son("box_3","box_5","Gran Casino Kursaal","http://www.euskomedia.org/ImgsGaler/onati/OAA00220.jpg");
        el_counter=6;
  </script>
 -->
{% endblock %} 