{% extends "__base.html" %}

{% load i18n %}
{% load leaflet_tags %}

{% block d3_svg %}
<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/ob-svg.css" type="text/css">								
{% endblock d3_svg %}

{% block mapFunctions %}
{% endblock %} 

{% get_current_language as LANGUAGE_CODE %}

{% block page_div_def %}			
<div id="main_page">
{% endblock page_div_def %}		

{% block orria_div_def %}			
	<div id="orria" class="container orria">
{% endblock orria_div_def %}
	
{% block sidebar %}
{% endblock sidebar %}

{% block content_div_def %}		
<div id="content_div">
{% endblock content_div_def %}


{% block content %}

<button id="create_path_button" type="button" class="btn square-back no-hover kolore-txuria" id="menuLink" data-toggle="modal" data-target="#modalwindow" >
	<span  aria-hidden="true"> 
		<span class="fa fa-floppy-o" aria-hidden="true"> 
       	</span> 
    	Gorde Ibilbidea   
    </span> 	
</button> 
    	
<!--btn btn-default btn-xs -->
<!--
<button id="create_path_button" type="button" class="btn btn-info" onclick="create_path_on_db()">
       		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"> 
       		</span> 
       		Gorde Ibilbidea 		
       	</button>
-->
<br>
<br>
<div class="info">
<!--<p>Ibilbideko item baten <b>narrazioa gehitzeko</b> egin klik bikoitza itemaren gainean</p>-->
</div>
<a class="asistentea" data-toggle="modal" data-target="#modalNolaSortu"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  Ibilbidea sortzeko pausuak ikusi nahi dituzu?</a>


 
 <div id="path_boxes"></div>
<script charset="utf-8" type="text/javascript" src="{{STATIC_URL}}js/d3ondarebideaksortu.js"></script>
 
 <!--Ventana modal-->

<div class="modal fade" id="modalwindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Ibilbideari buruzko ondorengo datuak sartu</h4>
            </div>
            <div class="modal-body">
                <div class="row">               
                    <div class="panel-body">
                    	
                    		<div id="messages"></div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Titulua</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                                    <input type="text" name="path_titulua" id="path_titulua" class="form-control" placeholder="" size="18" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Gaia</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
                                    <input type="text" name="path_gaia" id="path_gaia" class="form-control" placeholder="" size="18">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Deskribapena</label><br/><br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon"></span></span>
                                    <textarea name="path_desk" id="path_desk" class="form-control" placeholder="" rows="5" cols="200" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                            	<label for="exampleInputLang1">Hizkuntza</label><br/><br/>
                            	<div class="input-group">
                            	 <select id="hizkuntza" name="hizkuntza">
  									<option value="eu" selected>eu</option>
  									<option value="es">es</option>
  									<option value="en">en</option>
  
								  </select>
								   </div>
                            </div>
                            <div class="form-group">
                            	<label for="exampleInputAcces1">Edizio baimenak</label><br/><br/>
                            	<div class="input-group">
                            	 <select id="acces" name="acces">
  									<option value="1" selected>Ez publikatu oraindik</option>
  									<option value="2">Publikatu. Zuk bakarrik editagarria</option>
  									<option value="3">Publikatu. Hornitzaileek bakarrik editagarria</option>
  									<option value="4">Publikatu. Guztiek editagarria</option>
  
								  </select>
								   </div>
                            </div>
                            
                            <br/>
                            <form id="form2" enctype="multipart/form-data" role="form">
                            <span class="btn btn-info fileinput-button">
							<span>Irudia gehitu</span>
							<input id="file2" class="imgform_image"  type="file" multiple="" name="file2">
							</span>
							
							
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Atera</button>
                                <button type="submit" class="btn btn-primary">Gorde</button>
                            </div>
                            
                            <p><br/></p>
                      </form>
                    </div>                       
                </div>
            </div>
            
        </div>
    </div>
</div>

 

<!--Fin Ventana modal-->



<!--Modala narrazioa gehitzeko -->
<div class="modal fade" id="narrazio_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Gehitu narrazioa elementuari</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="panel-body">
            <div id="narrazioa">
	            <p id="narra_p" class="info"></p>
              <textarea id="narra_textarea" name="narra_textarea" maxlength="5000" cols="75" rows="5"></textarea>
            
            <script type="text/javascript" >
      		  // Replace the <textarea id="narra_textarea"> with a CKEditor
       			 // instance, using default configuration.
       			
       			  CKEDITOR.replace( 'narra_textarea' );
       			  
       			  //Beheko kode hau gehitu da, ze bestela, CKEDITOR-a modal batean zabaltzean linkak ezin ziren sartu

$.fn.modal.Constructor.prototype.enforceFocus = function () {
    var $modalElement = this.$element;
    $(document).on('focusin.modal', function (e) {
        var $parent = $(e.target.parentNode);
        if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
            // add whatever conditions you need here:
            &&
            !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
            $modalElement.focus()
        }
    })
};
    		</script>
            
            </div>
			</br>
			
		<!--
			<label>Geolokalizazioa:</label>
			<input  id="latitude" name="latitude" placeholder="Koordenadak" type="hidden" />
			<input  id="longitude" name="longitude" placeholder="Koordenadak" type="hidden" />
           
			{% leaflet_map "yourmap" callback="load_map_hutsa" %}
			
			-->
	        <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Utzi" %}</button>
              <button id="narra_botoia" class="btn btn-info" name="narra_botoia"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>{% trans "Gorde" %}</button>
              <!--<button type="submit" class="btn btn-primary">{% trans "Gorde" %}</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modala Ibilbidea sortzeko azalpenak -->
<div class="modal fade" id="modalNolaSortu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>{% trans "Ibilbidea sortzeko pausuak:" %}</h4>
      </div>
      <div class="modal-body">
       	<p>1-{% trans "Jetsi lan-eremutik arbelera itemak: gainean kokatu eta geziari klikatu." %}</p>
       	<p>2-{% trans "Itemak ibilbidean kokatu: item bat beste baten gainean kokatu eta askatuz eta azpikoaren jarraian kokatuko da. Nahi duzun beste aldatu ahalko duzu itemen posizioa." %} </p>
       	<p>3-{% trans "Itemei interpretazio edota narrazio pertsonala eman (aukerazkoa): itemen gainean klik bikoitza egin eta agertuko den lehioan idatzi. " %}</p>
       	<p>4-{% trans "'Gorde ibilbidea' botoia sakatu eta eskatzen diren datuak bete." %}</p>
       	<p>-{% trans "Gogoratu: datuak modu egoki eta osatuan betetzeak ondoren ibilbidea bilatzen lagunduko du." %}</p>
		</ br>
		<p>-{% trans "Azalpen gehiago behar baldin badituzu," %} <a href="{{STATIC_URL}}video/ob_tutorial_eu_musika.mkv">{% trans "Ikusi tutorial-bideoa" %}</a></p>
		
		
		  <div class="modal-footer">
		 	 <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Atera" %}</button>        
    	  </div>

      </div><!--modal-body -->
      </div><!--modal-content -->
    </div><!--modal-dialog-->
</div>





          
 
 <!-- BEHEKO LEIHO MODALAK FITXATEGI BAT IGOTZEN  DU, PROBARAKO ERABILI DA -->
 <!-- 
 
 <div class="container">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Open Modal</button>

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="form" enctype="multipart/form-data" role="form">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Upload Photo</h4>
                            </div>
                            <div class="modal-body">
                                <div id="messages"></div>
                                <input type="file" name="file" id="file">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        
-->       

 
 
{% endblock %} 
