{% extends "base.html" %}
{% load leaflet_tags %}


{% block content %}

<div class="itema_gehitu">
	
	<form action="itema_gehitu" method="post" class="form"  enctype="multipart/form-data">
		{% csrf_token %}
		{{ itema.titulua.errors}}
		{{ itema.deskribapena.errors}}
		{{itema}}
	
		<br/>
		
		{% leaflet_map "yourmap" callback="load_map" %}
     		
   		 <button class="btn btn-default" type="submit">
   		 Gehitu
  		  </button>
       			
       			
      		
      	
      	</form>

</div>
{% endblock %} 